<div class="container info">

	<aside>
  	<div class="profile">
    	<div class="thumb"></div>
    </div>
    <ul>
    	<li><a href="javascript:;" class="active">My Info</a></li>
      <li><a href="#/FounderStatus">Founder Status</a></li>
    </ul>
  </aside>
  <!-- End Aside -->
  <div class="main">
  	<h2>My Info</h2>
    <div class="bar">
    	<h3>BUSINESS INFORMATION</h3>
      <div class="button-group" data-ng-show="switch === true;">
      	<a href="javascript:;" class="btn btn-secondary" data-ng-click="save()">Save Info</a>
        <a href="javascript:;" class="btn btn-primary" data-ng-click="cancel()">Cancel</a>
      </div>
      <a href="javascript:;" class="link link-edit" data-ng-hide="switch === true;" data-ng-click="edit()">Edit</a>
      <span class="small">Is Public Info?</span>
    </div>
    <!-- End .well -->
    <div class="data info-data" data-ng-form name="infoForm">
      <table>
        <tr data-ng-repeat="info in infoList" data-ng-class="{'describ': info.type==='textarea'}">
          <th>{{info.title}}</th>
          <td class="details"
          	flow-init="{singleFile:true}" 
            flow-name="uploader.flow[$index]"
    				flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]">
            <span data-ng-show="!switch && !$flow.files.length">{{info.describe}}</span>
            <span data-ng-show="!switch && $flow.files.length">{{$flow.files[0].name}}</span>
            <input type="text" data-ng-model="info.describe" data-ng-show="info.type==='input' && switch" required="required" />
            <textarea data-ng-model="info.describe" data-ng-show="info.type==='textarea' && switch" required="required"></textarea>
            <div class="file" 
            	data-ng-show="info.type==='file' && switch">
              <input type="text" class="file" readonly="readonly" data-ng-show="!$flow.files.length" data-ng-model="info.describe" />
              <input type="text" class="file" readonly="readonly" data-ng-show="$flow.files.length" data-ng-model="$flow.files[0].name" />
              <a href="javascript:;" class="btn btn-secondary" 
              	flow-attrs="{accept:'image/*'}" 
                flow-btn>Browse</a>
            </div>
          </td>
          <td>
            <div class="iphone-toggle-buttons">
              <label><input type="checkbox" data-ng-model="info.public" /><span>checkbox 0</span></label>
            </div>
          </td>
        </tr>
      </table>
    </div>
    <!-- End .data -->
    <div class="bar last">
    	<h3>ACCOUNT PASSWORD</h3>
      <div class="button-group" data-ng-show="switchPassword === true;">
      	<a href="javascript:;" class="btn btn-secondary" data-ng-click="savePassword()">Save Password</a>
        <a href="javascript:;" class="btn btn-primary" data-ng-click="cancelPassword()">Cancel</a>
      </div>
      <a href="javascript:;" class="link link-change" data-ng-hide="switchPassword === true;" data-ng-click="editPassword()">Change Password</a>
    </div>
    <!-- End .well -->
    <div class="data password-data" data-ng-form name="passwordForm">
    	<table>
      	<tr>
        	<th>Current Password</th>
          <td class="details">
          	<span data-ng-hide="switchPassword">{{password[0].password}}</span>
            <input type="password" id="password[0].password" name="password[0].password" 
            	data-ng-model="password[0].password" 
              data-ng-show="switchPassword"
              data-ng-class="{true: 'error'}[submitted && passwordForm.password[0].password.$invalid]"
              required="required" />
          </td>
          <td></td>
        </tr>
        <tr>
        	<th>New Password</th>
          <td class="details">
          	<span data-ng-hide="switchPassword">{{password[0].new.value}}</span>
            <input type="password" id="password_new" name="password_new" 
            	data-ng-model="password[0].new.value" 
              data-ng-show="switchPassword"
              data-ng-class="{true: 'error'}[submitted && passwordForm.password_new.$invalid]"
              required="required" />
          </td>
          <td></td>
        </tr>
        <tr>
        	<th>Confirm Password</th>
          <td class="details">
          	<span data-ng-hide="switchPassword">{{password[0].confirm.value}}</span>
            <input type="password" id="password_confirm" name="password_confirm" 
            	data-ng-show="switchPassword" 
              data-ng-model="password[0].confirm.value" 
              data-ng-class="{true: 'error'}[submitted && passwordForm.password_confirm.$invalid]"
              pw-check="password_new" 
              required="required" /></td>
          <td></td>
        </tr>
      </table>
    </div>
  </div>
  <!-- End .main -->
  
</div>
<!-- End .container -->