<!-- menu navigation -->
<div class="menu" data-ng-include="'/app/partials/menu.html'"></div>
<!-- end menu navigation -->
<!-- page header -->
<header class="display-header">
  <h1 class="title">My Founder$hares</h1>
  <div class="menu-toggle" data-nav-menu-toggler="#nav-menu"></div>
</header>
<!-- end page header-->
<div id="home">
  <!-- search -->
  <div class="search" data-ng-controller="search">
    <!-- order selector -->
    <div class="order" data-ng-show="mode == 'order'">
      Order by
      <div class="btn-group order-dropdown" data-dropdown="">
        <button type="button" class="btn btn-primary btn-medium order-toggle dropdown-toggle" data-dropdown-toggle="">
          {{order.title || 'Select Order Type'}}
          <span class="caret"></span>
        </button>
        <div class="dropdown-menu" role="menu">
          <ul role="menu">
            <li class="item" data-ng-repeat="item in orders" data-ng-click="setOrder(item)">
              {{item.title}}
            </li>
          </ul>
        </div>
      </div>
      <span class="search-toggle" data-ng-click="setMode('searching')"></span>
    </div>
    <!-- end order selector -->
    <!-- search input -->
    <div class="searching" data-ng-show="mode == 'searching'">
      <button class="btn btn-success btn-small cancel-search"  data-ng-click="mode='order'; search.businessName=''">cancel</button>
      <label class="input">
        <span class="do-search" data-ng-click="doSearch()"></span>
        <input data-ng-model="search.businessName" placeholder="Type your keyword" data-ng-keyup="checkEnter($event)"/>
        <span class="clear" data-ng-click="search.businessName=''"></span>
      </label>
    </div>
    <!-- end search input -->
  </div>
  <!-- end search -->
  <!-- business items -->
  <div class="container">
    <div class="no-offers" data-ng-show="!vm.giftCardOffers.length">
      <p>Hi <span>{{user.firstName}}</span>,</p>

      <p>You found the right place to redeem a Founder$hare, but first you need to buy one. :)</p>

      <p>To purchase a Founder$hare, please go to foundershare.com from a desktop or tablet.</p>

      <p>See you there!</p>
    </div>
    <ul class="businesses">
      <li data-ng-repeat="giftCardOffer in vm.giftCardOffers |filter:search | orderBy:orderBy:orderRevers" data-ng-include="'app/my_founder_shares/partials/giftCardOfferEntry.html'"></li>
    </ul>
  </div>
  <!-- end business items -->
</div>
<!-- script additional menu template -->
<script type="text/ng-template" id="additionalMenu.html">
  <div class="btn-group-vertical btn-block">
    <button type="button" class="btn btn-default btn-medium" data-ng-click="viewDetails()">View the Details</button>
    <button type="button" class="btn btn-default btn-medium" data-ng-click="sendGift()">Gift this Founder$hare</button>
  </div>
</script>
<!-- end of script additional menu template -->
