<!-- content -->
<div class="myCart">
	<div class="login" data-ng-init="loginError=false" data-ng-controller="homeCtrl">
		<div class="content">
			<p>Login</p>
			<form>
				<input type="text" value="" placeholder="Username" data-ng-model="username" data-ng-class="{error:loginError}">
				<input type="password" value="" placeholder="Password" data-ng-model="password" data-ng-class="{error:loginError}">
				<p class="remember-forgot">
					<label>
						<input type="checkbox">
						<i></i>
						<span>Remember me</span>
					</label>
					<span class="forgot-pass"><a href="javascript:;" data-ng-click="showPasswordModal()">Forgot Password?</a></span>
				</p>
				<input type="button" value="Continue" data-ng-init="mocKUp=false" data-ng-click="mockUp=!mockUp">
				<!-- mock up role -->
				<ul class="mock-up" data-ng-show="mockUp">
					<li><a href="javascript:;" data-ng-click="login('champion')">Login as Champion</a></li>
					<li><a href="javascript:;" data-ng-click="login('founder')">Login as Founder</a></li>
					<li><a href="javascript:;" data-ng-click="login('employee')">Login as Platform Employee</a></li>
					<li><a href="javascript:;" data-ng-click="loginError=true; mockUp=false">Login Error</a></li>
				</ul>
				<!-- end mock up role -->
				<p>Don't have an account? <a href="javascript:;" data-ng-click="showRegisterModal()">Sign up now</a></p>
			</form>
			<span>or</span>
		</div>
		<div class="social">
			<a href="javascript:;" class="face"><span class="icon-face"></span>Use My Facebook Account</a>
			<a href="javascript:;" class="twitter"><span class="icon-twitter"></span>Use My Twitter Account</a>
			<a href="javascript:;" class="linkedin"><span class="icon-linkedin"></span>Use My Linkedin Account</a>
		</div>
		<div class="clearfix"></div>
	</div>
	<div data-ng-controller="registerCtrl">
	    <div class="modalBg" data-ng-class="{'on': registerModal}" data-ng-click="closeRegisterModal()"></div>
		<div class="modal modal-register" data-ng-class="{'on': registerModal}">
		  	<h2>Register</h2>
		    <div class="bar">
		    	<dl>
		      	<dt>Sign in with your Social Account</dt>
		        <dd><a href="javascript:;" class="icon icon-f"></a></dd>
		        <dd><a href="javascript:;" class="icon icon-t"></a></dd>
		        <dd><a href="javascript:;" class="icon icon-g"></a></dd>
		        <dd><a href="javascript:;" class="icon icon-in"></a></dd>
		      </dl>
		    </div>
		    <!-- End .bar -->
		    <form class="form" name="form">
		    	<p>Or Create a New Account</p>
		      <div class="form-group first">
		      	<label>Account Type</label>
		        <div id="account_type" dropdown-select="myOptions" dropdown-model="account_type" dropdown-item-label="name"></div>
		      </div>
		      <!-- End .form-group -->
		      <div class="form-group">
		      	<label for="first">First</label>
		       	<input type="text" name="first" id="first" 
		        	data-ng-model="first" 
		          data-ng-class="{'error':submitted && form.first.$error.required}"
		          required="required" />
		      </div>
		      <!-- End .form-group -->
		      <div class="form-group">
		      	<label for="last">Last</label>
		       	<input type="text" name="last" id="last" 
		        	data-ng-model="last" 
		          data-ng-class="{'error':submitted && form.last.$error.required}"
		          required="required" />
		      </div>
		      <div class="form-group" data-ng-if="account_type.value=='Founder'">
		      	<label for="businessName">Business Name</label>
		       	<input type="text" name="businessName" id="businessName" 
		        	data-ng-model="businessName" 
		          data-ng-class="{'error':submitted && form.businessName.$error.required}"
		          required="required" />
		      </div>
		      <div class="form-group" data-ng-if="account_type.value=='Founder'">
		      	<label for="businessType">Business Type</label>
		       	<input type="text" name="businessType" id="businessType" 
		        	data-ng-model="businessType" 
		          data-ng-class="{'error':submitted && form.businessType.$error.required}"
		          required="required" />
		      </div>
		      <!-- End .form-group -->
		      <div class="form-group">
		      	<label for="email">Email</label>
		       	<input type="email" name="email" id="email" 
		        	data-ng-model="email"
		          data-ng-class="{'error':submitted && form.email.$invalid}"
		          data-ng-pattern="/^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/" />
		      </div>
		      <!-- End .form-group -->
		      <div class="form-group">
		      	<label for="password">Password</label>
		       	<input type="password" name="password" id="password" 
		        	data-ng-model="password"
		          data-ng-class="{'error':submitted && form.password.$error.required}"
		          required="required" />
		      </div>
		      <!-- End .form-group -->
		      <div class="form-group">
		      	<label for="confirm_password">Confirm Password</label>
		       	<input type="password" name="confirm_password" id="confirm_password" 
		        	data-ng-model="confirm_password" 
		          data-ng-class="{'error':submitted && form.confirm_password.$invalid}"
		          pw-check="password" 
		          required="required" />
		      </div>
		      <!-- End .form-group -->
		      <div class="form-group"
		      	flow-init="{singleFile:true}"
		      	data-ng-if="account_type.value=='Founder'"
						flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]">
		        <label for="photo">Upload Profile Photo</label>
		        <input type="text" id="photo" class="file"  name="file"
		        	data-ng-model="$flow.files[0].name"
		          data-ng-class="{'error':submitted && form.file.$invalid}"
		          readonly="readonly" />
		        <a href="javascript:;" class="btn btn-secondary"
		        	flow-attrs="{accept:'image/*'}" 
		          flow-btn>Browse</a>
		      </div>
		      <!-- End .form-group -->
		      <div class="form-group checkbox">
		        	<input type="checkbox" id="accept" 
		          	data-ng-model="accept" />
		          <label for="accept">I accept the Terms &amp; Conditions</label>
		      </div>
		      <!-- End .form-group -->
		      
		      <a href="javascript:;" class="btn btn-primary btn-register" 
		      	data-ng-class="{'disabled':!(accept)}"
		        data-ng-click="register()">Register</a>
		      <a href="javascript:;" class="link">Are you a registered user?</a>
		    </form>
		    <!-- End .form -->
		  </div>
	</div>
	<div data-ng-controller="forgotPasswordCtrl">
		<div class="modalBg" 
  	data-ng-class="{'on':passwordModal}"
    data-ng-click="closeModal()"></div>
	  <div class="modal modal-reset" data-ng-class="{'on':passwordModal}">
	  	<h2>Reset Password</h2>
	    <form class="form" name="form" novalidate>
	    	<p>Reset Your Password</p>
	      <div class="form-group">
	      	<label for="password">New Password</label>
	       	<input type="password" name="password" id="password" 
	        	data-ng-model="password" 
	          data-ng-class="{true: 'error'}[submitted && form.password.$invalid]"
	          required="required" />
	      </div>
	      <!-- End .form-group -->
	      <div class="form-group">
	      	<label for="confirm_password">Confirm Password</label>
	       	<input type="password" name="confirm_password" id="confirm_password" 
	        	data-ng-model="confirm_password" 
	          data-ng-class="{true: 'error'}[submitted && form.confirm_password.$invalid]"
	          pw-check="password" 
	          required="required" />
	      </div>
	      <!-- End .form-group -->
	      <a href="javascript:;" class="btn btn-secondary" data-ng-click="submit()">Submit</a>
	    </form>
	    <!-- End .form -->
	  </div>
	</div>
</div>
<!-- end content -->
