@charset "utf-8";
/* CSS Document */
/* common reset css */
html, 
body, 
div, 
span, 
applet, 
object, 
iframe,
h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
p, 
blockquote, 
pre,
a, 
abbr, 
acronym, 
address, 
big, 
cite, 
code,
del, 
dfn, 
em, 
font, 
img, 
ins, 
kbd, 
q, 
s, 
samp,
small, 
strike, 
strong, 
sub, 
sup, 
tt, 
var,
b, 
u, 
i, 
center,
dl, 
dt, 
dd, 
ol, 
ul, 
li,
fieldset, 
form, 
label, 
legend,
table, 
caption, 
tbody, 
tfoot, 
thead, 
tr, 
th, 
td,
article,
aside,
command,
details,
figcaption,
figure,
footer,
header,
hgroup,
mark,
meter,
nav,
output,
progress,
section,
summary,
time,
textarea {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background: transparent;
	}
	
li {
	list-style: none;
	}
	
html {
	height: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	}
	
.hide {
	display: none;
	}

a {
	background: transparent;
	text-decoration: none;
	}
	
a:active,
a:hover {
	outline: 0;
	}

img {
	border: 0;
	}
	
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	}
	
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	}
	
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 1;
	color: #333333;
	overflow-x: hidden;
	position: relative;
    
	min-height: 100%;
}

/******** common ***********/
/*vertical align child */
.vertical-align-subs
{
    position: relative;
}

.vertical-align-subs > *
{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);

}

.icon
{
    display: inline-block;
}

/* blur filer */
.blur{
    -webkit-filter: blur(5px);
    filter: blur(5px);
    filter: url(blur.svg#blur);
}

/* reset the orange border in chrome mobile and shadow in safari mobile */
textarea:focus, textarea, input, input:focus{
    outline: 0;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

/* reset style for safari mobile */
input:disabled
{
    opacity: 1;
}

/* reset for safari */
input
{
    padding-left: 0;
    padding-right: 0;
}


/***** common style for buttons *****/
/* common button */
.btn
{
    display: inline-block;
    border-radius: 5px;
    background-color: rgb(18, 85, 121);
    box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, 0.3);
    height: 50px;
    font-size: 18px;
    color: rgb(255, 255, 255);
    text-align: center;
    line-height: 47.5px;
    vertical-align: middle;
}

/* while button is active, in other word, for mobile browser be tapped */
.btn:active
{
    box-shadow: none;
}

/* for cancel button or inactive button */
.btn-cancel, .btn-inactive
{
    display: inline-block;
    border-radius: 5px;
    background-color: rgb(85, 85, 85);
    box-shadow: inset 0px -5px 0px 0px rgba(0, 0, 0, 0.3);
    height: 50px;
    font-size: 18px;
    color: rgb(255, 255, 255);
    text-align: center;
    line-height: 47.5px;
    vertical-align: middle;
}

/* when cancel button is active */
.btn-cancel:active
{
    box-shadow: none;
}

/* set index-main-content, menu-overlap, right-slide-menu height */
body > div
{
    min-height: 100%;
}


/* check box */
.check-box
{
    width: 17px;
    height: 17px;
    line-height: 17px;
    border: 1px solid #c2c2c2;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

/* set tick in check box be center */
.check-box > div
{
    position: absolute;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    display: none;
}

/* tick in check box */
.checked > div
{
    display: inline-block;
}

/* wrapper */
.wrapper
{
    height: 100%;
    min-height: 100%;
}

/****** for login page ******/
#login, .sign-up
{
    min-height: 100%;
    background-color: #ffffff; /* for old browser*/
    background: -webkit-linear-gradient(to bottom, #ffffff 0%,#f2f2f2 100%);
    background: -moz-linear-gradient(to bottom, #ffffff 0%,#f2f2f2 100%);  /* FF3.6+ */
    background: -webkit-linear-gradient(to bottom, #ffffff 0%,#f2f2f2 100%); /* Chrome10+,Safari5.1+ */
    background: linear-gradient(to bottom, #ffffff 0%,#f2f2f2 100%); /* W3C */
    padding-bottom: 17px;
    }

    /* header iin login page */
    #login header
    {
        padding-top: 30px;
    }

    /*logo in login page  */
    header .logo
    {
        margin-bottom: 19px;
        height: 100px;
        position: relative;
        text-align: center;
    }

    /* set logo img z-index above grey rectangle  */
    header .logo img
    {
        z-index: 1;
    }

    /* grey rectangle at the back of logo image */
    header .logo-back-rect
    {
        position: absolute;
        height: 40px;
        width: 100%;
        background-color: #d7d7d7;
        z-index: 0;
    }

    /* set the form of login */
    #login form
    {
        width: 80.63%;
        margin:  0 auto;
        text-align: center;
    }

    /* set title */
    #login .main-container h2, .sign-up h2
    {
        text-align: center;
        font-size: 18px;
        margin-bottom: 21px;
        vertical-align: middle;
    }

    /* set input group style of form */
    #login .form-group
    {
        border: 1px solid #c2c2c2;
        padding-left: 10px;
        border-radius: 2px;
        background-color:  #f2f2f2;
        margin-bottom: 9px;
        height: 43px;
        vertical-align: middle;
    }

    /* set child elements of form group */
    #login .form-group > *, .remember-me-group > *
    {
        float: left;
        display: inline-block;
    }

    /* set remember me elements group in login page */
    .remember-me-group
    {
        height: 17px;
    }

    /* set remember me check box */
    .remember-me-group .check-box
    {
        margin-right:4px;
    }

    /* set the a element style in remember me group */
    .remember-me-group .forget-password, a
    {
        font-family: arial, helvetica, sans-serif;
        color:  #125579;
        font-size: 14px;
        font-weight: 400;
    }

    /* set forget password text */
    .remember-me-group .forget-password
    {
        float: right;
    }

    /* set input element style for form group */
    #login .form-group  input
    {
        border: 0;
        background-color: transparent;
        margin-left: 9px;
        font-size: 16px;
        line-height: 20px;
        height: 20px;
        vertical-align: middle;
        color: #333333;
        -webkit-appearance: none;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
    }


    /***** setting for placeholder for input element *****/
    /* WebKit browsers */
    input::-webkit-input-placeholder {
        color: #939393 ;
        font-style: italic;
    }

    /* older firefox browsers */
    input:-moz-placeholder {
        color: #939393 ;
        font-style: italic;
    }

    /* firefox browsers */
    input::-moz-placeholder {
        color: #939393 ;
        font-style: italic;
    }

    /* IE browser */
    input:-ms-input-placeholder {
        color: #939393 ;
        font-style: italic;
    }

   /* login button */
    .btn-login
    {
        width: 101.16%;
    }

    /* button group in login page */
    #login .btn-group
    {
        margin-top: 19px;
        margin-bottom: 9px;
    }

    /* sign up information in login page */
    .sign-up-info
    {
        vertical-align: middle;
    }

    /* horizontal splitter */
    .sprite-shadow-hspliter
    {
        margin: 40px auto 0 auto;

    }

    /* social media box */
    div.social-media-box
    {
        margin-top: 5px;
        text-align: center;
    }

    /* Set style of text for Social media tips */
    div.social-media-box > div:first-child
    {
        color:  #333333;
        font-size: 14px;
        line-height: 14px;
        text-align: center;
    }

    /* social media group */
    .social-media-groups
    {
        margin-top: 20px;
        font-size: 0;
    }

    /* social media */
    .social-media
    {
        display: inline-block;
        margin-left: 39px;
    }

    /* the first social media icon without left margin */
    .social-media:first-child
    {
        margin-left: 0;
    }

    /* facebook media icon, when be tapped*/
    .facebook-icon:active {
        width: 41px;
        height: 40px;
        background-position: -166px -79px;
    }

    /* facebook media icon */
    .facebook-icon {
        width: 41px;
        height: 40px;
        background-position: -207px -119px;
    }

    /* twitter media icon be tapped */
    .twitter-icon:active {
        width: 41px;
        height: 40px;
        background-position: -762px -357px;
    }

    /* twitter media icon */
    .twitter-icon {
        width: 41px;
        height: 40px;
        background-position: -803px -397px;
    }

    /* linkedin media icon be tapped */
    .linkedin-icon:active {
        width: 40px;
        height: 39px;
        background-position: -306px -216px;
    }

    /* grey linkedin media icon*/
    .linkedin-icon {
        width: 40px;
        height: 39px;
        background-position: -346px -255px;
    }


    /* error message is hidden by default in login page */
    .error-message
    {
        color:  #ff0101;
        font-size: 14px;
        margin-bottom: 8px;
        visibility: hidden;
    }

    /* show error message in login form */
    .error .error-message
    {
        visibility: visible;
    }

    /* when login error occur, set red border to input group */
    #login form.error .form-group
    {
        border: 1px solid #ff0000;
    }


/************* business home *****************/
#business-home, .business-home
{
   height: 100%;
   min-height: 100%;
    }

   /* set header in business home */
    .business-home header
    {
    position: fixed;
    background-color:#007035;
    height: 42px;
    width: 100%;
    text-align: center;
    z-index: 5;
}

    /* for business home menu header, divide to 3 columns */
    .business-home header > div
    {
        float: left;
        min-height: 50%;
    }

    /* set first and last column width */
    .business-home header > div:nth-child(1),
    .business-home header > div:nth-child(3)
    {
        width: 15%;
    }

    /* the middle column, the middle column is generally placed tittle*/
    .business-home header > div:nth-child(2)
    {
        width: 70%;
    }

    /* menu title */
    .business-home .menu-title
    {
        color: #ffffff;
        font-size: 18px;
        height: 1em;
        line-height: 1em;
        vertical-align: middle;
    }

    /* set hamburger menu in menu */
     .business-home header .sprite-hamburger-menu
    {
        float: right;
         margin-right: 19px;
    }

     /********** set main content ************/
     /* set main container of business home */
     .business-home .main-container
     {
         padding-top: 42px;
         height: 100%;
         min-height:  100%;
         background-color: #f2f2f2;
    }

     /* set content wrapper */
     .content-wrapper
     {
         width: 100%;
         background-color: #fff;
     
         border-radius: 5px;
         margin: 0 auto;
    }

     /* set the title of content wrapper */
     #business-home .content-wrapper h2
     {
         padding-top: 10px;
         margin: 0 auto 18px auto;
         color:  #333333;
         font-size: 16px;
         font-weight: bold;
         text-align: center;
         width: 175px;
         line-height: 20px;
}

     /* set the arrow down group */
     .content-wrapper .arrow-group
     {
         height: 337px;
         position: relative;
         margin-bottom: 14px;
     }

     /* set the arrow down */
    .arrow-down
    {
        width: 25px;
        height: 337px;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
}
     /* set upper part of arrow down */
     .arrow-down > div:first-child
     {
         height: 320px;
         width: 11px;
         margin: 0 auto;
         background-color: #d7d7d7;
     }

     /* set bottom part of arrow down */
     .arrow-down > div:last-child
     {
         width: 0;
         height: 0;
         border-left: 12.5px solid transparent;
         border-right: 12.5px solid transparent;
         border-top: 19px solid #d7d7d7;
     }

     /************ set sequence ***********/
     /* step sequence number */
     .step-seq
     {
         z-index: 2;
     }

     /* the circle of sequence number */
    .step-seq  .circle
     {
         width: 40px;
         height: 40px;
         -webkit-border-radius: 50%;
         -moz-border-radius: 50%;
         border-radius: 50%;
        background-color: #4b8f00;
        border: 5px  solid #ffffff;
     }

    /* set number text in sequence icon */
    .step-seq  .circle > span
    {
        font-size: 16px;
        font-weight: bold;
        color: #ffffff;
        width: 30px;
        line-height: 30px;
        display: inline-block;
        text-align: center;
        vertical-align: middle;
    }

    /******* set the step icon with text ********/
    .step-icon-with-text
    {
        width: 114px;
        z-index: 2;
    }

    /* set icon in step icon group */
    .step-icon-with-text > div:first-child
    {
        margin: 0 auto;
    
        margin-top: 2px;
}

    /* set text in step icon group */
    .step-icon-with-text .icon-label
    {
        color:  #333333;
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        margin-top: 8px;
        position: relative;
    
        line-height: 16px;
}

    /* set step group */
    .step-seq-group
    {
        overflow: hidden;
        position: absolute;
    }

    /* set all elements in float left */
    .step-seq-group > div
    {
        float: left;
    }

    .step-seq-group > div:nth-child(1) , .step-seq-group > div:nth-child(3)
    {
        position: relative;
    }

    /* set connector in step sequence group, it is a grey rectangle */
    #business-home .connector
    {
        top: 18px;
        width: 39px;
        left: 20px;
    }

    /* connector for common used */
    .connector
    {
        height: 5px;
        background-color: #d7d7d7;
        position: absolute;
        z-index: 0;
        float: none;
    }

    /* set step 1 group position */
    .content-wrapper .step-1
    {
        left: 50%;
        top: 22px;
    
        -webkit-transform: translateX(-20px);
}

    /* second step 3 group position */
    .content-wrapper .step-2
    {
        right: 50%;
        top: 132.5px;
    
        -webkit-transform: translateX(20px);
}

    /* connector for step2, it is on the left */
    #business-home .content-wrapper .step-2 .connector
    {
        width: 52px;
        left: auto;
        right: 20px;
    }

    /* set  icon with text for step 2 */
    .content-wrapper .step-2 .step-icon-with-text
    {
        width: 128px;
    
        top: -1px;
}

    /* set step-2 label text */
    .content-wrapper .step-2 .icon-label
    {
        margin-top: 2px;
    }

    /* set step 3 group position */
    .content-wrapper .step-3
    {
        left: 50%;
        top: 242px;
    
        -webkit-transform: translateX(-20px);
}

    .content-wrapper .step-3 .step-icon-with-text
    {
        margin-top: 0px;
    }
    
    /* redeem founder share button */
    .btn-redeem-founder-share
    {
        display: block;
        margin: 0 auto;
        width: 87%;
    }

    /* footer clear */
    .footer-clear
    {
        height: 15px;
    }

    /* flex wrapper */
    .flex-wrapper
    {
        min-height: 93.75%;
        border-radius: 5px;
        min-width: 300px;
        margin: 10px;
        background-color: #fff;
    }

/********** for business step 1 ********/
/* for flow graph at the top */
#business-step-1 .flow-graph
{
    height: 60px;
    font-size: 0;
    padding: 3.33% 0;
    position: relative;
    text-align: center;
    width: 300px;
    margin: 0 auto;
}

    /* step sequence in flow graph */
    #business-step-1 .flow-graph .step-seq
    {
        margin-left: 28.33%;
        display: inline-block;
    }

    /* first step sequence without left margin */
    #business-step-1 .flow-graph .step-seq:first-child
    {
        margin-left: 0;
    }

    /* connector in flow graph */
    .flow-graph .connector
    {
        width: 86.67%;
        position: absolute;
        z-index: 0;
        left: 0;
        right: 0;
        margin: 0 6.67%;
    
        height: 8px;
}

    /* business step 1 title */
    #business-step-1 h2
    {
        padding-top: 7px;
        height: 31px;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        border-bottom: 1px solid #d7d7d7;
        width: 100%;
        margin: 0 auto;
    }

    /* step 1 information */
    #business-step-1 .info
    {
        width: 278px;
        margin: 29px auto 0px auto;
        text-align: center;
        height: 56px;
    
        line-height: 15px;
}

    /* form in business step 1 */
    #business-step-1  form
    {
        margin-top: -1px;
        padding: 0px 3.33%;
    }

    /* business step 1 form group */
    #business-step-1 .form-group
    {
        margin-top: 51px;
        text-align: center;
    
        font-size: 16px;
}

    /* input in business step 1 form group */
    #business-step-1 .form-group input
    {
        width: 57.86%;
        height: 33px;
        border:  1px solid #c2c2c2;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        text-align: center;
        margin-left: 5px;
    
        background-color: #f2f2f2;
    
        font-size: 16px;
}

    /* setp sequence that are inactive */
    .step-seq.inactive  .circle
    {
        background-color: #959595;
    }

    /* button group for business step 1*/
    #business-step-1  .btn-group
    {
        margin-top: 90px;
        text-align: justify;
        font-size: 0;
    }

    /* button in step 1 */
    #business-step-1  .btn-group > a
    {
        display: inline-block;
        height: 50px;
        width: 39.64%;
    }

    /* for button justify */
    #business-step-1  .btn-group:after {
        content: "";
        display: inline-block;
        width: 100%;
    }

    /********* setting for placeholder in business step 1 *************/
    /* also reuse by username and password input field for login page */
    /* for chrome and safari */
    #userName::-webkit-input-placeholder ,  #password::-webkit-input-placeholder , #business-step-1 input::-webkit-input-placeholder {
        font-style: normal;
    }

    /* for older firefox */
    #userName:-moz-placeholder ,
    #password:-moz-placeholder, #business-step-1 input:-moz-placeholder {
        font-style: normal;
    }

    /* for firefox */
    #userName::-moz-placeholder ,  #password::-moz-placeholder ,
    #business-step-1 input::-moz-placeholder {
        font-style: normal;
    }

    /* for IE */
    #userName:-ms-input-placeholder ,  #password:-ms-input-placeholder ,
    #business-step-1 input:-ms-input-placeholder {
        font-style: normal;
    }

    /*Disable spin buttons on input type="number" */
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* set error input or form group error style */
    #business-step-1 .form-group input.ng-invalid, .sign-up .form-group input.ng-invalid.ng-dirty, .sign-up .form-group input.invalid,
    #login.reset-password-step1 form .form-group.invalid,
    #login.reset-password-step2 form .form-group.invalid
    {
        border: 1px solid #ff0000;
    }

    /* set error info for step 1 */
    #business-step-1 .error-info
    {
        color: #ff0101;
        font-size: 12px;
        text-align: left;
        position: absolute;
        margin-top: 20px;
        width: 290px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }

/************** Modal *************/
.modal-dialog
{
    top: 147px;
    position: fixed;
    z-index: 10;
    width: 200px;
    height: 150px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: #007035;
    border-radius: 5px;
    }

    /* back overlap*/
    .modal-backdrop {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #000000;
        z-index: 6;
    }

    /* modal drop fade */
    .modal-backdrop.fade {
        opacity: 0;
    }

    /* modal drop in */
    .modal-backdrop.in {
        opacity: 0.5;
    }

    /* modal icon group*/
    .modal-icon
    {
        width: 60px;
        height: 60px;
        border: 5px solid #007035;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        background-color: #ffffff;
        color: #007035;
        position: absolute;
        top:-30px;
        left: 0;
        right: 0;
        margin: 0 auto;
        font-size: 30px;
        font-weight: bold;
    }

    /* modal icon in icon group */
    .modal-icon > div
    {
        height: 50px;
        line-height: 50px;
        text-align: center;
        vertical-align: middle;
    }

    /* modal information */
    .modal-body p
    {
        height: 40px;
        width: 179px;
        text-align: center;
        color:#ffffff;
        margin: 40px auto 0px auto;

        line-height: 20px;
    }

    /* footer for modal box */
    .modal-footer
    {
        margin-top: 13px;
        font-size: 0;
        position: absolute;
    
        bottom: 1px;
}

    /* button in modal footer */
     .modal-footer .btn
    {
         display: inline-block;
         width: 100px;
         height: 50px;

         font-size: 14px;
         font-weight: bold;
    }

     /* footer button is tapped*/
    .modal-footer .btn:active
    {
        font-weight: bold;
    }

    /* fir button */
    .modal-footer .btn:first-child
    {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
    }

    /* splitter  between first and  second button */
    .modal-footer .splitter
    {
        background-color: #8da89a;
        width: 2px;
        font-size: 2px;
        height: 50px;
        display: inline-block;
        margin-bottom: 0;
        position: absolute;
        top: 1px;
    }

    /* last button in button group */
    .modal-footer .btn:last-child
    {
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    /* fix for white edge when using filter*/
    .modal-back-ground
    {
        width: 100%;
        top: 0;
        height: 100%;
        min-height: 100%;
        position: fixed;
        z-index: -1;
    }

    /* main-container in  modal-back-ground */
    .modal-back-ground .main-container
    {
        width: 100%;
        height: 100%;
        min-height: 100%;
        background-color: #959595;
    }


/* For alert box */
.modal.alert .modal-footer .btn
{
    width: 100%;
    border-radius: 0 0 5px 5px;
    }

    /* fix for sign up founder */
    .sign-up-founder .modal.alert .modal-footer .btn
    {
        height: 50px;
    }

    /* set footer for alert box */
    .modal.alert .modal-footer
    {
        margin-top: 14px;
        margin-bottom: 0;
    
        width: 100%;
}

    /* fix for sign up founder page */
    .sign-up-founder .modal.alert .modal-footer .btn
    {
        height: 50px;
    }

    /* fix for reset password page one */
    .modal.alert .modal-body p
    {
        height: 50px;
    }

/* Sign up*/
a:active
{
    font-weight: bold;
}


/* for account type */
.account-type-group
{
    font-size: 0;
    text-align: center;
    }

    /* account type icon with label */
    .account-type-icon-with-label
    {
        width: 100px;
        font-size: 14px;
        font-weight: bold;
        display: inline-block;
        margin-left: 40px;
        color: #333333;
    }

    /* set first account type icon with label  no left margin */
    .account-type-icon-with-label:first-child
    {
        margin-left: 0;
    }

    /* circle in account type icon with label  */
    .account-type-icon-with-label .circle
    {
        border-radius: 50%;
        background-color: rgb(85, 85, 85);
        box-shadow: inset 0px 5px 0px 0px rgba(0, 0, 0, 0.3);
        width: 100px;
        height: 100px;
        padding-top: 20px;
    }

    /* when circle in account type icon with label is taped */
    .account-type-icon-with-label .circle:active
    {
        background-color: rgb(75, 143, 0);
        box-shadow: inset 0px 5px 0px 0px rgba(0, 0, 0, 0.3);
    }

    /* change icon label at the same time when circle is active*/
    .account-type-icon-with-label .circle:active + .icon-label
    {
        color: rgb(75, 143, 0);
    }

    /* set person icon in circle be center */
    .account-type-icon-with-label .circle > div
    {
        margin: 0 auto;
    }

    /* icon label for account type icon*/
    .account-type-icon-with-label .icon-label
    {
        margin-top: 8px;
    }

    /* horizontal splitter in choose account type page */
    .login-sign-up  .sprite-shadow-hspliter
    {
        margin-top: 107px;
    }

    /* tittle in choose account type page  */
    #login.login-sign-up .main-container h2
    {
        margin-bottom: 67px;
    }


/***************** sign up page ********************/
.sign-up  .main-container
{
        padding-top: 16px;
    }

    /* title for sign up */
    .sign-up h2
    {
        height: 34px;
        border-bottom: 1px solid #c2c2c2;
        width: 87.5%;
        margin: 0 auto;
        line-height: 34px;
        vertical-align: middle;
    }

    /* form in sign up page */
    .sign-up form
    {
        width: 87.5%;
        padding-left: 10px;
        margin: 0 auto;
    }

    /* set error message in sign up page */
    /* also reuse by reset password step 1, reset password step 2 */
    .sign-up form .error-info, .reset-password-step1 .error-info,  .reset-password-step2 .error-info {
        color: #ff0101;
        font-size: 12px;
        text-align: left;
    }

    /* form group in sign up page */
    .sign-up .form-group
    {
        width: 95.56%;
        margin-top: 9px;
        font-size: 0;
        color: #333333;
        position: relative;
        height: 37px;
    }

    /* input in form group */
    .sign-up .form-group input
    {
        border: 1px solid  rgb(194, 194, 194) ;
        border-radius: 2px;
        background-color: rgb(242, 242, 242);
        height: 37px;
        padding-left: 8px;
        font-size: 14px;
        width: 100%;
    }

    /* set first Name text field */
    .sign-up .form-group  #firstName
    {
        width: 54.62%;
    }

    /* last name text field */
    .sign-up .form-group  #lastName
    {
        width: 41.92%;
        margin-left: 3.46%;
    }

    /* reset password placeholder */
    .sign-up .form-group #password::-webkit-input-placeholder
    {
        font-style: italic;
    }

    /* select box in form group */
    .sign-up .form-group select
    {
        width: 100%;
        -webkit-appearance: none;
        height: 37px;
        border: 1px solid  rgb(194, 194, 194) ;
        border-radius: 3px;
        background-color: transparent;
        position: relative;
        padding-left: 9px;
        z-index: 1;
        font-size: 14px;
    }

    /* when it is select box is tapped, set the background to active style.*/
    .sign-up .form-group select:active + .select-box-back-ground
    {
        box-shadow: none;
    }

    /*  form group in sign up page */
    .sign-up .form-group
    {
        position: relative;
        text-align: left;
    }

    /* select box back ground */
    .sign-up .form-group .select-box-back-ground
    {
        background-color: #125579;
        box-shadow: inset 0px -3px 0px 0px rgba(0, 0, 0, 0.3);
        position: absolute;
        width: 39px;
        height: 36px;
        -webkit-border-radius: 0 4px 4px 0;
        -moz-border-radius: 0 4px 4px 0;
        border-radius: 0 4px 4px 0;
        text-align: center;
        vertical-align: middle;
        position: absolute;
        top:0;
        right: 0;
        z-index: 0;
    }

    /* set select box background color */
    .sign-up .check-form-group
    {
        background-color: #fff;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
    }
    /* triangle down */
    .sign-up .form-group .select-box-back-ground > div
    {
        display: inline-block;
        height: 0;
        width: 0;
        border-top: 7px solid #ffffff;
        border-left: 7.5px solid transparent;
        border-right: 7.5px solid transparent;
        margin-top: 15px;
    }

    /* upload file text field, be shown to user, but disable */
    .sign-up #uploadFile
    {
        width: 58.08%;
        height: 37px;
        color: #333333;
    }


    /* upload file input field hidden */
    .fileUpload input.upload {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
    }

    /* upload file button */
    .fileUpload
    {
        width: 41.15%;
    
        font-weight: normal;
        font-size: 16px;
}

    /* button be inactive */
    .btn-inactive
    {
        border-radius: 2px;
        box-shadow: inset 0px -3px 0px 0px rgba(0, 0, 0, 0.3);
        height: 35px;
        line-height: 35px;
        top:-6px;
        position: relative;
    
}

    /* term information */
    .term-info
    {
        font-size: 14px;
        margin-left: 4px;
        height: 1em;
    }

    /* link in term information */
    .term-info a
    {
        text-decoration: underline;
    }

    /* accept terms and conditions */
    .accept-terms-group
    {
        height: 45px;
        margin-top: 0;
        padding-left: 11.17%;
        vertical-align: middle;
        font-size: 0;
        position: relative;
    }

    /* align sub elements of accept terms group to left */
    .accept-terms-group > *
    {
        float: left;
    }

    /* margin top */
    .sign-up form .btn-group
    {
        margin-top: -1px;
    }

    /* button in sign up form button group */
    .sign-up form .btn-group .btn
    {
        width: 96.67%;
        height: 40px;
        line-height: 37px;
    
        vertical-align: middle;
}

    a.btn:active
    {
        font-weight: normal;
    }

    .sign-up .sprite-shadow-hspliter
    {
        margin-top: 44px;
    }

    .sign-up.sign-up-founder .sprite-shadow-hspliter
    {
        margin-top: 7px;
    }

    .btn-disable
    {
        border-radius: 5px;
        background-color: #82a3b5;
        box-shadow: inset 0px -5px 0px 0px #7f96A3;
        pointer-events: none;
    }


    .confirm-password-group   .circle
    {
        height: 20px;
        width: 20px;
        border-radius: 50%;
        background-color: rgb(75, 143, 0);
        position: absolute;
        float: right;
        top: 7px;
        right: 10px;
        text-align: center;
        vertical-align: middle;
        line-height: 20px;
    }

    .confirm-password-group   .circle > div
    {
        position: absolute;
        top: 61%;
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    #bizFirstName
    {
        width: 46.9%;
    }


    #bizLastName
    {
        width: 50%;
        margin-left: 3.1%;
    }

    .sign-up-champion .accept-terms-group
    {
        height: 55px;
    }

    /* term information link */
    .sign-up-champion  .term-info > a
    {
        display: inline-block;
        margin-left: -3px;
    }

/******************* reset password ********************************/
/* information in reset password form */
.reset-password form .info
{
    width: 99.35%;
    margin: 34.5px 0px 35.8px 3.5%;
    line-height: 16.4px;
    height: 33px;
    }

    /* form group in reset password step 1*/
    .reset-password-step1 form .form-group
    {
        padding-left: 7px;
    }

    /* icon in reset password step 1*/
    .reset-password-step1 form .icon
    {
        font-size: 16px;
        font-weight: bold;
        color: #959595;
    }

    /* form group in reset password step 1 to over ride #login style */
    #login.reset-password-step1 form .form-group
    {
        margin-bottom: 0;
        position: relative;
    
        padding-left: 7px;
}

    /* input group in reset password step 1 */
    #login.reset-password-step1 form .form-group input
    {
        margin-left: 6.5px;
    
        font-size: 14px;
}

    /* cancel button in reset password step 1 */
    .reset-password-step1 form .btn-cancel
    {
        margin-top: 10px;
    }

    /* button group in reset password step 1 */
    #login.reset-password-step1 form .btn-group
    {
        margin-top: 36px;
    }

    /* fix truncate message issue for modal dialog */
    #login.reset-password-step1 .modal-dialog
    {
        height: 180px;
    }

    #login.reset-password-step1 .modal.alert .modal-footer
    {
        margin-top: 33px;
    }

    /* reset password button  and reset password step 1 cancel button */
    .reset-password .btn-reset-password,
    .reset-password-step1 .btn-cancel
    {
        width: 101.16%;
    }

    /* green circle for confirm password check pass in reset password step 2 */
    .reset-password-step2 .confirm-password-group .circle
    {
        right: 8px;
        top: 50%;
    }

    /* button group in reset password step2*/
    #login.reset-password-step2 .btn-group
    {
        margin-top: 39px;
    }

    /* input field in reset password step 2 */
    #login.reset-password-step2  input
    {
        font-size: 14px;
    }

    /* form group in reset password step 2 */
    #login.reset-password-step2  .form-group
    {
        margin-bottom: 8px;
    }

    /****** set error message **************/
    /* parent of set error message box  to relative */
    .reset-password-step1 form  fieldset
    {
        position: relative;
    }

    /* set  error message to absolute */
    .reset-password-step1 .error-info
    {
        position: absolute;
        margin-top: 5px;
    }

    /* information in reset password step1*/
    .reset-password-step1.reset-password form .info
    {
        margin-left: 2.95%;
        line-height: 16.9px;
    }


/******************** for right menu **************************/
/* overlap */
.menu-overlap
{
    top:0;
    width: 100%;
    min-height: 100%;
    background-color: rgba(0,0,0, 0.3);
    position: fixed;
    z-index: 10;
    display: none;
}

/* right slide menu */
.right-slide-menu
{
    width: 81.56%;
    height: 100%;
    position: fixed;
    z-index: 11;
    top:0;
    right: 0;
    background-color: #f2f2f2;
    color: #333333;
    box-shadow: 0px 0px 20px 0px rgba(34, 30, 31, 0.75);
    text-align: center;
    display: none;
}

/* show right slide menu */
.menu-overlap.showRightMenu, .right-slide-menu.showRightMenu
{
    display: block;
}

/* set header */
.index-main-content.showRightMenu, .index-main-content.showRightMenu header
{
    position: fixed;
    right:  81.56%;
}

/* layout fix for portrait */
@media screen and (orientation:portrait)
{
    body
    {
        height: 100%;
    }

    body > div
    {
        height: 100%;
    }
}

/* layout fix for iphone 4s or other device device height is less than 568px  */
@media screen and (orientation:portrait) and (max-device-height: 568px )
{
    /* fix for .business-home */
    #business-home .wrapper
    {
        height: 550px;
    }
}

@media screen and (orientation:landscape)
{
    /* set modal dialog for landscape */
    .modal-dialog
    {
        top: 25.88%;
    }
}

/* fix issue when device width is more than 667px, the min-height of body  not work */
@media screen and (min-device-width: 667px ) {
    body
    {
        height: 100%;
    }

    body > div {
        height: 100%;
    }
}

/* fix for business home fluid */
@media screen and (max-device-width:375px )
{
    .content-wrapper .step-1
    {
        left: 130px;
        -webkit-transform:none;
    }

    .content-wrapper .step-2 {
        right: 130px;
        -webkit-transform:none;
    }

    .content-wrapper .step-3 {
        left: 130px;
        -webkit-transform:none;
    }
}
