<!-- content -->
	<div class="login-form" data-ng-init="loginError=false">
		<div class="content">
			<h3>Login</h3>
			<form>
				<input type="text" value="" placeholder="Username" data-ng-model="username" data-ng-class="{error:loginError}">
				<input type="password" value="" placeholder="Password" data-ng-model="password" data-ng-class="{error:loginError}">
				<p class="remember-forgot">
					<label>
						<input type="checkbox">
						<i></i>
						<span>Remember me</span>
					</label>
					<span class="forgot-pass"><a href="#/ForgotPassword">Forgot Password?</a></span>
				</p>
                <a href="javascript:;" class="btn-continue" data-ng-init="mocKUp=false" data-ng-click="mockUp=!mockUp">Continue</a>
				<!-- mock up role -->
				<ul class="mock-up" data-ng-show="mockUp">
					<li><a href="javascript:;" data-ng-click="login('Champion', false)">Login as Champion</a></li>
					<li><a href="javascript:;" data-ng-click="login('Founder', false)">Login as Founder</a></li>
					<li><a href="javascript:;" data-ng-click="login('Employee', false)">Login as Platform Employee</a></li>
					<li><a href="javascript:;" data-ng-click="loginError=true; mockUp=false">Login Error</a></li>
				</ul>
				<!-- end mock up role -->
				<p>Don't have an account? <a href="#/Register">Sign up now</a></p>
			</form>
			<span>or</span>
		</div>
		<div class="social">
			<a href="javascript:;" class="face"><span class="icon-face"></span>Use My Facebook Account</a>
			<a href="javascript:;" class="twitter"><span class="icon-twitter"></span>Use My Twitter Account</a>
			<a href="javascript:;" class="linkedin"><span class="icon-linkedin"></span>Use My Linkedin Account</a>
		</div>
		<div class="clearfix"></div>
	</div>
<!-- end content -->
