<div class="container landing">

  <div class="main modal-static">
      <div class="modal modal-register" data-ng-class="{'on':modal}">
        <h2>Register</h2>
        <div class="bar">
            <dl>
            <dt>Sign in with your Social Account</dt>
            <dd><a href="javascript:;" class="icon icon-f"></a></dd>
            <dd><a href="javascript:;" class="icon icon-t"></a></dd>
            <dd><a href="javascript:;" class="icon icon-g"></a></dd>
            <dd><a href="javascript:;" class="icon icon-in"></a></dd>
          </dl>
        </div>
        <!-- End .bar -->
        <form class="form" name="form">
            <p>Or Create a New Account</p>
          <div class="form-group first">
            <label>Account Type</label>
            <div id="account_type" dropdown-select="myOptions" dropdown-model="account_type" dropdown-item-label="name"></div>
          </div>
          <!-- End .form-group -->
          <div class="form-group">
            <label for="first">First</label>
            <input type="text" name="first" id="first" 
                data-ng-model="first" 
              data-ng-class="{'error':submitted && form.first.$error.required}"
              required="required" />
          </div>
          <!-- End .form-group -->
          <div class="form-group">
            <label for="last">Last</label>
            <input type="text" name="last" id="last" 
                data-ng-model="last" 
              data-ng-class="{'error':submitted && form.last.$error.required}"
              required="required" />
          </div>
          <div class="form-group" data-ng-if="account_type.value === 'Founder'">
            <label for="last">Business Name</label>
            <input type="text" name="businessName" id="business-name" 
                data-ng-model="businessName" 
              data-ng-class="{'error':submitted && form.businessName.$error.required}"
              required="required" />
          </div>
          <div class="form-group" data-ng-if="account_type.value === 'Founder'">
            <label for="last">Business Type</label>
            <div id="business_type" dropdown-select="businessNameOptions" dropdown-model="business_type" dropdown-item-label="name"></div>
          </div>
          <!-- End .form-group -->
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" 
                data-ng-model="email"
              data-ng-class="{'error':submitted && form.email.$invalid}"
              required="required"
              data-ng-pattern="/^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/" />
          </div>
          <!-- End .form-group -->
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" 
                data-ng-model="password"
              data-ng-class="{'error':submitted && form.password.$error.required}"
              required="required" />
          </div>
          <!-- End .form-group -->
          <div class="form-group">
            <label for="confirm_password">Confirm Password</label>
            <input type="password" name="confirm_password" id="confirm_password" 
                data-ng-model="confirm_password" 
              data-ng-class="{'error':submitted && form.confirm_password.$invalid}"
              pw-check="password" 
              required="required" />
          </div>
          <!-- End .form-group -->
          <div class="form-group"
            flow-init="{singleFile:true}"
                    flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]" data-ng-if="account_type.value === 'Founder'">
            <label for="photo">Upload Profile Photo</label>
            <input type="text" id="photo" class="file"  name="file"
                data-ng-model="$flow.files[0].name"
              data-ng-class="{'error':submitted && form.file.$invalid}"
              required="required"
              readonly="readonly" />
            <a href="javascript:;" class="btn btn-secondary"
                flow-attrs="{accept:'image/*'}" 
              flow-btn>Browse</a>
          </div>
          <!-- End .form-group -->
          <div class="form-group checkbox">
                <input type="checkbox" id="accept" 
                data-ng-model="accept" />
              <label for="accept">I accept the Terms &amp; Conditions</label>
          </div>
          <!-- End .form-group -->

          <a href="javascript:;" class="btn btn-primary btn-register" 
            data-ng-class="{'disabled':!(accept)}"
            data-ng-click="register()">Register</a>
          <a href="javascript:;" class="link">Are you a registered user?</a>
        </form>
        <!-- End .form -->
      </div>
  </div>
  <!-- End .main -->
  
</div>
<!-- End .container -->