/* Genearl */

.clear{
    clear: both;
}
.fl {
    float: left;
}

.fr {
    float: right;
}

.p-t-25 {
    padding-top: 25px;
}

.m-t-5 {
    margin-top: 5px;
}

.m-t-15 {
    margin-top: 15px;
}

.m-t-20 {
    margin-top: 20px;
}

.m-t-25 {
    margin-top: 25px;
}

.m-t-30 {
    margin-top: 30px;
}

.m-t-40 {
    margin-top: 40px;
}

.m-t-45 {
    margin-top: 45px;
}

.m-t-55 {
    margin-top: 55px;
}

.m-b-10 {
    margin-bottom: 10px;
}

.m-l-20 {
    margin-left: 20px;
}

.m-l-25 {
    margin-left: 25px;
}

.tl {
    text-align: left;
}

.tc {
    text-align: center;
}

.hide {
    display: none;
}

.col-6 {
    float: left;
    width: 50%;
}

.col-4 {
    float: left;
    width: 33.33%;
}

.col-5 {
    float: left;
    width: 46.67%;
}

.col-7 {
    float: left;
    width: 53.33%;
}

.col-8 {
    float: left;
    width: 66.67%;
}

.col-9 {
    float: left;
    width: 75%;
}

.col-3 {
    float: left;
    width: 25%;
}

.row {
    float: left;
    width: 100%;
}

.b-b-dbdcd5 {
    border-bottom: 1px solid #dbdcd5;
}

#wrapper {
    margin: 0 auto;
    width: 970px;
    background: #fff;
    box-shadow: 0px 0px 10px #aaa;
}

#main-content {
    padding: 10px 10px 120px 10px;
    min-height: 187px;
}

#manage-page #main-content {
    padding-bottom: 140px;
}


/* Button styles */

.btn-small {
    display: inline-block;
    padding: 0 5px;
    height: 20px;
    border-radius: 3px;
    text-align: right;
    text-decoration: none;
    white-space: nowrap;
    font-weight: bold;
    font-size: 11px;
    line-height: 20px;
}

.btn-small.btn-small-primary {
    background: -webkit-linear-gradient(to bottom, #6383A0, #52738C);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(to bottom, #6383A0, #52738C);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(to bottom, #6383A0, #52738C);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom, #6383A0, #52738C);
    /* Standard syntax */
    color: #FFF;
}

.btn-small.btn-small-primary:hover {
    background: -webkit-linear-gradient(to top, #6383A0, #52738C);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(to top, #6383A0, #52738C);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(to top, #6383A0, #52738C);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(to top, #6383A0, #52738C);
    /* Standard syntax */
}

.btn {
    display: inline-block;
    padding: 0 20px;
    height: 30px;
    border-radius: 3px;
    text-decoration: none;
    white-space: nowrap;
    font-weight: bold;
    font-size: 13px;
    line-height: 30px;
}

.btn.btn-primary {
    background: -webkit-linear-gradient(to bottom, #6383A0, #52738C);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(to bottom, #6383A0, #52738C);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(to bottom, #6383A0, #52738C);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom, #6383A0, #52738C);
    /* Standard syntax */
    color: #FFF;
}

.btn.btn-primary:hover {
    background: -webkit-linear-gradient(to top, #6383A0, #52738C);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(to top, #6383A0, #52738C);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(to top, #6383A0, #52738C);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(to top, #6383A0, #52738C);
    /* Standard syntax */
}
.btn.btn-primary.disabled:hover {
    background: -webkit-linear-gradient(to bottom, #6383A0, #52738C);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(to bottom, #6383A0, #52738C);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(to bottom, #6383A0, #52738C);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom, #6383A0, #52738C);
    /* Standard syntax */
    
}

.btn.btn-purple {
    background: #38545E;
    color: #FFF;
}

.btn.btn-purple:hover {
    background: #88545E;
}

.btn-white {
    background: #FFF;
    color: #154E6A;
}

.btn-white:hover {
    background: #EEE;
}

.btn-green {
    background: #E0CF87;
    color: #154E6A;
}

.btn-green:hover {
    background: #E08800;
}


/* login.html */

header {
    height: 90px;
    border-bottom: 5px solid #E0CF87;
    background: #154E6A;
    line-height: 85px;
}

footer {
    padding: 0 12px 20px;
}

footer .top {
    padding-top: 10px;
    padding-right: 120px;
    border-top: 1px solid #C3CED7;
    color: #7C8F9C;
    font-size: 11px;
}

footer .bottom {
    padding-top: 25px;
    padding-right: 120px;
    color: #989898;
    font-weight: bold;
    font-size: 11px;
    line-height: 18px;
}

.logo {
    margin: 15px;
}

.clearfix {
    clear: both;
}


/* Login Page */

.login-page {
    header {
        background: #FFF;
    }

    .banner {
        padding-bottom: 10px;
        min-height: 410px;
        border-bottom: 30px solid #154D6A;
        background-color: #195F80;
    }

    .banner .col-6.left {
        padding: 25px 35px 0px 29px;
    }

    .banner .col-6.right {
        padding: 15px 25px 0px 25px;
    }

    .banner h1 {
        color: #fff;
        font-weight: normal;
        font-size: 35px;
        line-height: 55px;
    }
}

#login-page {

    #wrapper {
        position: relative;
        min-height: 850px;
    }

    footer {
        position: absolute;
        bottom: 0;
    }
}

.forgot-password-content {
    color: #000;
    line-height: 22px;
}

.login-container {
    float: left;
    padding: 15px 20px 25px;
    width: 335px;
    border-top: 5px solid #E0CF87;
    background: #F3F4EE;
    font-size: 12px;


    h2 {
        margin-bottom: 10px;
        color: #22485E;
        font-weight: normal;
        font-size: 32px;
        font-family: "Georgia";
    }

    .form-group {
        float: left;
        margin-top: 25px;
        width: 100%;
    }

    .form-group label {
        float: left;
        margin-top: 5px;
        margin-right: 15px;
        width: 68px;
        color: #333;
        vertical-align: middle;
        text-align: right;
    }

    .form-group input[type=text],
    .form-group input[type=password] {
        padding: 5px;
        width: 200px;
        height: 24px;
        border: 1px solid #CCC;
        background: #FFF;
        line-height: 24px;
    }

    .form-group input.error {
        border: 1px solid #FF1D25;
    }

    .form-group label.has-check {
        margin: 0;
        width: 200px;
        text-align: left;
    }
}
.form-group.error p {
    display: inline-block;
    width: 200px;
    color: #FF1D25;
    line-height: 18px;
}

.login-container .forgot-link {
    margin-top: 8px;
    margin-left: 15px;
    color: #154E6A;
    text-decoration: none;
}

.login-container .forgot-link:hover {
    text-decoration: underline;
}


/* manage.html */

.right-nav {
    float: right;
    margin-top: 10px;
    margin-right: 20px;
    width: 720px;
    color: #FFF;
    text-align: right;
    font-size: 12px;
    line-height: 30px;
    position: relative;


    > nav {
        white-space: nowrap;
    }

    a {
        color: #FFF;
    }

    a:hover {
        text-decoration: underline;
    }

    > p .nfn-link {
        position: relative;
        display: inline-block;
        margin-right: 6px;
        width: 24px;
        height: 30px;
        background: url(../i/notifications.png) 0 7px no-repeat;
        vertical-align: top;
    }

    > p .nfn-link .count {
        position: absolute;
        top: 3px;
        left: 8px;
        width: 14px;
        height: 14px;
        border: 1px solid #154e6b;
        border-radius: 50%;
        background-color: #e75151;
        text-align: center;
        font-size: 8.8px;
        line-height: 12px;
    }
}

/* Main Navigation */

nav {
    float: right;
    margin-top: 10px;
}

nav a {
    padding: 0 12px;
    border-right: 1px solid #89A5B1;
}

nav a:last-child {
    padding-right: 0;
    border-right: none;
}

nav a.active {
    color: #DFCE86;
}

.banner {
    padding: 40px 0 30px 25px;
    background: #5388A1;
    color: #FFF;
}

.banner.approver-banner {
    padding: 10px 20px;
    background: #195F80;
}

.banner .left {
    font-size: 14px;
}

.banner .left p {
    line-height: 18px;
}

.banner h1 {
    margin-bottom: 10px;
    font-size: 42px;
}

.banner.approver-banner h1 {
    margin: 0;
    line-height: 110px;
}

.banner .listing {
    float: right;
    margin-top: 65px;
}

.banner.approver-banner .listing {
    margin: 0;
}

.banner .listing li {
    display: inline-block;
    float: left;
    width: 33.33%;
}

.banner .listing li a {
    color: #FFF;
}

.banner .listing li span {
    display: inline-block;
    margin-top: 5px;
    width: 100%;
    font-size: 20px;
    font-family: "Georgia";
}

.banner .listing li .circle {
    display: inline-block;
    width: 72px;
    height: 72px;
    border: 5px solid #CCDFEE;
    border-radius: 50%;
    font-size: 38px;
    font-family: "Arial";
    line-height: 62px;
}

.banner.approver-banner li {
    float: right;
    margin-right: 40px;
}

.banner.approver-banner li .circle {
    width: 80px;
    height: 80px;
    line-height: 70px;
}


/* Input general styles */

input[type=checkbox] {
    margin-right: 5px;
    vertical-align: bottom;
}

input[type=text],
input[type=password] {
    padding: 5px;
    border: 1px solid #CCC;
    background: #FFF;
    color: #767676;
    font-family: "Arial";
}

select {
    height: 24px;
    border: 1px solid #CCC;
    background: #FFF;
    color: #767676;
    font-size: 11px;
    font-family: "Arial";
    line-height: 24px;
}

textarea {
    padding: 5px;
    height: 65px;
    border: 1px solid #CCC;
    background: #FFF;
    color: #767676;
    font-size: 11px;
    font-family: "Arial";
}


/* Filter panel styles */

.search-panel {
    background: url(../i/bg.png) repeat-x top left;
}

.search-panel h2 {
    margin: 20px;
    color: #A79842;
    font-size: 18px;
}

.search-panel .normal-input {
    float: left;
    width: 270px;
    height: 24px;
    border-width: 2px;
    font-size: 11px;
    line-height: 24px;
}

input.date-input {
    float: left;
    width: 119px;
    height: 24px;
    font-size: 11px;
    line-height: 24px;
}

.search-panel .date-input {
    border-width: 2px;
}

.search-panel .left {
    float: left;
    width: 460px;
}

.search-panel .left .row {
    margin-bottom: 13px;
}

.search-panel .left label {
    display: inline-block;
    float: left;
    margin-top: 7px;
    margin-left: 20px;
    width: 106px;
    color: #333;
    font-size: 11px;
}

.search-panel .left label.short {
    margin: 7px 10px 0;
    width: auto;
}

.date-icon {
    position: absolute;
    margin-left: -25px;
    width: 20px;
    height: 24px;
    background: url(../i/date-icon.png) no-repeat center center;
}

.search-panel .right {
    float: left;
    width: 450px;
}

.search-panel .right h3 {
    color: #333;
    font-size: 11px;
}

.search-panel .right .col-l {
    float: left;
    width: 115px;
}

.search-panel .right label {
    float: left;
    margin-top: 14px;
    width: 100%;
    color: #767676;
    font-size: 12px;
}

.search-panel .right .col-r {
    float: left;
    width: 335px;
}

.search-panel .buttons {
    padding-top: 10px;
    border-top: 1px solid #E1E5D5;
}

.search-panel .buttons .btn {
    padding: 0 30px;
}

.result-head {
    padding: 0 20px;
    height: 55px;
    border-top: 5px solid #E0CF87;
    background: #395660;
    color: #FFF;
    font-size: 18px;
    line-height: 50px;
}


/* General Table styles */

.table {
    float: left;
    width: 100%;
    border-right: 1px solid #C9C7C3;
    border-bottom: 5px solid #E6E8DA;
}

.table th {
    padding: 0 15px;
    border-left: 1px solid #C9C7C3;
    background: #E6E8DA;
    color: #195F80;
    text-align: left;
    font-weight: bold;
    font-weight: normal;
    font-size: 12px;
    line-height: 40px;
    cursor: pointer;
}

.table th.sort span {
    padding-right: 15px;
}

.table th.sort.sort-desc span {
    background: url(../i/sort-desc.png) no-repeat center right;
}

.table th.sort.sort-asc span {
    background: url(../i/sort-asc.png) no-repeat center right;
}

.table td {
    padding: 13px 15px;
    border-left: 1px solid #C9C7C3;
    color: #767676;
    font-size: 13px;
}

.table td a {
    color: #185C7C;
}

.table td a:hover {
    text-decoration: underline;
}

.table tbody tr:nth-child(odd) td {
    background: #F9FAF4;
}


/* Pagination Styles */

.pagination a {
    float: left;
    padding: 0 15px;
    color: #154E6A;
    text-align: center;
    font-weight: bold;
    font-size: 13px;
    line-height: 30px;
    outline: none;
}

.pagination a.item {
    padding: 0;
    width: 30px;
    height: 30px;
}

.pagination .more {
    float: left;
    color: #154E6A;
    font-weight: bold;
    font-size: 13px;
    line-height: 30px;
}

.pagination a.current {
    border-radius: 50%;
    background: #CCDFEE;
    color: #7B8E9D;
    cursor: default;
}

.pagination .next {
    border-left: 1px solid #E1E5D5;
}

.pagination .prev {
    border-right: 1px solid #E1E5D5;
}


/* add-seessment-business-unit-info.html */

h1.title {
    margin-left: 5px;
    color: #164C68;
    font-size: 32px;
    font-family: "Georgia";
}

.nav-tabs {
    border-bottom: 3px solid #dcddd6;
    position: relative;



    >a {
        float: left;
        margin-left: 5px;
        padding: 0 20px;
        border-top: 3px solid #F9F9F9;
        background: #f0f0ea;
        color: #666;
        font-size: 13px;
        line-height: 27px;
        position: relative;

        &.has-nfn:after{
            content: '';
            width: 5px;
            height: 5px;
            background-color: #e75151;
            position: absolute;
            top: 6px;
            right: 13px;
            border-radius: 50%;
            z-index: 1;
        }
    }

    a.active {
        border-top: 3px solid #DBCC86;
        background: #dcddd6;
    }

    .close-nav{
        width: 16px;
        height: 16px;
        position: absolute;
        background: url(../i/icon-remove.png) 100% 0 no-repeat;
        right:15px;
        top: 3px;
        max-width: 10px;
        padding: 0;
    }

    //right links
    .rt{
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        min-width: 30px;
        font-size: 0;
        margin-right: 10px;

        .nav-link{
            display: inline-block;
            font-size: 13px;
            color: #bcbcbc;
            padding: 0;
            padding-left: 21px;
            height: 30px;
            line-height: 36px;
            background-color: #fff;
            float: none;
        }
        .bulk-link{
            background: #fff url(../i/import.png) 0 6px no-repeat;
        }
        .edit-link{
            background: #fff url(../i/pencil.png) 0 8px no-repeat;
            margin-left: 22px;
        }
    }
}

.section-head {
    padding-left: 15px;
    height: 50px;
    background: #F0F0EB;
    color: #798B9A;
    font-size: 18px;
    line-height: 50px;
}

.section-content {
    padding-top: 6px;
    padding-bottom: 15px;
    background: #F7F8F2;
}

.alittle-short {
    width: 80px;
}

.section-content .row {
    margin-top: 10px;
}

.section-content .label {
    float: left;
    margin-top: 7px;
    width: 390px;
    color: #323333;
    text-align: right;
    font-size: 12px;
}

.section-content .label.tl {
    text-align: left;
}

.section-content .inputs {
    float: left;
    margin-left: 13px;
    width: 400px;
}

select.has-default option {
    color: #767676;
}

select.has-default,
select.has-default option:first-child {
    color: #C6CBBE;
}

select.midlong {
    width: 200px;
}

select.short {
    width: 150px;
}

select.ex-short {
    width: 120px;
}

select.ultra-short {
    width: 90px;
}

select.alittle-short {
    width: 80px;
}

select.medium {
    width: 235px;
}

select.long {
    width: 250px;
}

select.ex-long {
    width: 395px;
}

.section select.multiple,
select.middle {
    width: 200px;
}

.section .sites-element .label,
.section .label.total {
    color: #798C9A;
}

#total {
    margin-top: 7px;
    margin-left: 10px;
    color: #383838;
    font-weight: bold;
    font-size: 12px;
}

#total.error {
    color: #FF1D25;
}

.section textarea.long {
    width: 250px;
}

.section .date-input {
    width: 120px;
}

.section-footer {
    height: 55px;
    border-top: 5px solid #205D7C;
    background: #EAEBE2;
}

.section-footer.special {
    background: #DCDCD6;
}

.section-footer .left {
    float: left;
    width: 50%;
}

.section-footer .left a {
    float: left;
    margin: 8px 15px;
    color: #185C7C;
    font-size: 13px;
    line-height: 30px;
}

.section-footer .left.buttons a {
    margin: 10px 0 10px 10px;
}

.section-footer .right {
    float: right;
    width: 50%;
}

.section-footer .right a {
    float: right;
    margin: 10px 15px;
    color: #185C7C;
    font-size: 13px;
    line-height: 30px;
}

.section-footer a.btn {
    color: #FFF;
}
.section-footer a.btn.disabled{
    opacity: 0.4;
    cursor: default;
}


/* add-assessment-prior.html */


/* switch */

.cmn-toggle {
    position: absolute;
    visibility: hidden;
    margin-left: -9999px;
}

.cmn-toggle + label {
    position: relative;
    display: block;
    outline: none;
    color: #FFF;
    text-align: center;
    font-weight: bold;
    font-size: 11px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.cmn-toggle + label span {
    position: absolute;
    line-height: 20px
}

.cmn-toggle + label span.yes {
    left: 10px;
    display: none;
}

.cmn-toggle + label span.no {
    right: 10px;
    display: block;
}

input.cmn-toggle-round-flat + label {
    padding: 2px;
    width: 60px;
    height: 26px;
    border: 1px solid #154C66;
    border-radius: 3px;
    background-color: #154C67;
    -webkit-transition: background 0.4s;
    -moz-transition: background 0.4s;
    -o-transition: background 0.4s;
    transition: background 0.4s;
}

input.cmn-toggle-round-flat + label:before,
input.cmn-toggle-round-flat + label:after {
    position: absolute;
    display: block;
    content: "";
}

input.cmn-toggle-round-flat + label:before {
    top: 2px;
    right: 2px;
    bottom: 2px;
    left: 2px;
    border-radius: 3px;
    background-color: #154C67;
    -webkit-transition: background 0.4s;
    -moz-transition: background 0.4s;
    -o-transition: background 0.4s;
    transition: background 0.4s;
}

input.cmn-toggle-round-flat + label.unchecked {
    border: 1px solid #FFF;
    background-color: #7C909D;
}

input.cmn-toggle-round-flat + label.unchecked:before {
    background-color: #7C909D;
}

input.cmn-toggle-round-flat + label:after {
    top: 2px;
    bottom: 2px;
    left: 2px;
    z-index: 999;
    width: 20px;
    height: 20px;
    border-radius: 3px;
    background-color: #FFF;
    -webkit-transition: margin 0.4s, background 0.4s;
    -moz-transition: margin 0.4s, background 0.4s;
    -o-transition: margin 0.4s, background 0.4s;
    transition: margin 0.4s, background 0.4s;
}

input.cmn-toggle-round-flat:checked + label {
    background-color: #154C67;
}

input.cmn-toggle-round-flat:checked + label:after {
    margin-left: 36px;
    background-color: #FFF;
}

input.cmn-toggle-round-flat:checked + label span.yes {
    display: block;
}

input.cmn-toggle-round-flat:checked + label span.no {
    display: none;
}


/* Toggle Container Styles */

.toggle-header {
    padding: 0 15px;
    height: 52px;
    border-top: 5px solid #E0CF87;
    background: #7B8D9A;
    color: #FFF;
    font-size: 18px;
    line-height: 47px;
}

.toggle-header .btn-white {
    margin-top: 11px;
    padding: 0 12px;
    height: 25px;
    font-size: 11px;
    line-height: 25px;
}

.toggle-header .add-btn {
    display: none;
}

.toggle-header .switch {
    margin-top: 11px;
}

.toggle-content .element {
    position: relative;
    float: left;
    margin-top: 8px;
    margin-right: 8px;
    padding: 0 10px;
    min-height: 365px;
    width: 225px;
    background: #F8F9F3;
}

.toggle-content .element label {
    font-size: 12px;
}

.toggle-content .element .change-number {
    color: #1E5D7B;
    font-size: 15px;
}

.toggle-content .element .date-wrapper {
    margin-top: 10px;
}

.toggle-content .element .date-wrapper input.date-input {
    width: 100%;
}

.toggle-content .element .remove-link {
    position: absolute;
    bottom: 10px;
    left: 20px;
    color: #1E5D7B;
    font-size: 11px;
}

.toggle-content .element .description-change-textarea {
    margin-top: 10px;
    margin-bottom: 30px;
    width: 100%;
    resize: vertical;
}

.icon-remove {
    display: inline-block;
    margin-right: 5px;
    width: 10px;
    height: 10px;
    background: url(../i/icon-remove.png) no-repeat center center;
}


/* add-assessment-prcesses.html */

.tab-headers {
    padding: 5px;
    height: 50px;
    background: #395560;

    .has-notification{
        position: relative;
        &:after{
            content: '';
            width: 5px;
            height: 5px;
            background-color: #e75151;
            position: absolute;
            top: 8px;
            right: 8px;
            border-radius: 50%;
            z-index: 1;
        }
        &.info:after{
            right: 13px;
        }
        &.sln:after{
            top: 13px;            
        }
        &.fa:after{
            right: 7px;
        }
    }
}

.tab-headers a {
    float: left;
    margin-right: 9px;
    padding: 8px 15px;
    min-width: 108px;
    height: 40px;
    border-radius: 5px;
    color: #FFF;
    text-align: center;
    font-size: 11px;
    line-height: 12px;
    &.sln{
        line-height: 24px;
    }
}

.tab-headers a:hover {
    background-color: #FFF;
    color: #164B66;
}

.tab-headers span:hover {
    color: #164B66;
}

.tab-headers a.active {
    padding-left: 28px;
    background: url(../i/icon-check-white.png) no-repeat 5px fixed;
}

.tab-headers a.active:hover {
    color: #FFF;
}

.tab-headers a.current,
.tab-headers a.current:hover {
    background: url(../i/icon-check.png) no-repeat 5px center #FFF;
    color: #164B66;
}

.tab-headers span {
    float: left;
    margin-top: 5px;
    margin-right: 9px;
    margin-left: -110px;
    padding: 8px 15px;
    min-width: 108px;
    height: 40px;
    border-radius: 5px;
    color: #164B66;
    text-align: center;
    font-size: 11px;
    line-height: 12px;
    position: relative;
}

.tab-headers1 {
    padding: 5px;
    height: 50px;
    background: #395560;
}

.tab-headers1 a {
    float: left;
    margin-right: 9px;
    padding: 8px 15px;
    min-width: 108px;
    height: 40px;
    border-radius: 5px;
    color: #FFF;
    text-align: center;
    font-size: 11px;
    line-height: 12px;
}

.tab-headers1 a:hover {
    background-color: #FFF;
    color: #164B66;
}

.tab-headers1 span:hover {
    color: #164B66;
}

.tab-headers1 a.active {
    padding-left: 28px;
    background: url(../i/icon-check-white.png) no-repeat 5px fixed;
}

.tab-headers1 a.active:hover {
    color: #FFF;
}

.tab-headers1 a.current,
.tab-headers1 a.current:hover {
    background: url(../i/icon-check.png) no-repeat 5px center #FFF;
    color: #164B66;
}

.custom-table {
    float: left;
    margin-top: 8px;
    width: 100%;
    border-right: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
}

.custom-table.controlls-simple,
.custom-table.controls-advanced,
.custom-table.core-kpi-sla {
    border-collapse: separate;
    /*firefox bug fix */
}

.custom-table th {
    height: 40px;
    border-top: 1px solid #CCC;
    border-left: 1px solid #CCC;
    background: #E6E5E4;
    color: #154C67;
    vertical-align: middle;
    font-size: 11px;
}
.custom-table.core-kpi-sla th {
    width: 33.33%;    
}
.custom-table.core-kpi-sla tr th{
    width: 33.34%
}
.custom-table td {
    padding: 10px 6px;
    min-height: 50px;
    border-top: 1px solid #CCC;
    color: #626160;
    vertical-align: top;
    font-size: 11px;
}

.custom-table td label {
    display: block;
    margin-bottom: 3px;
    font-size: 10px;
}

.custom-table td.control {
    padding: 6px;
}

.custom-table.controls-advanced .ultra-short {
    width: 53px;
}

.custom-table.controls-advanced .control-name {
    width: 264px;
    text-align: right;
    word-break: break-all;
}

.custom-table.controlls-simple .control-name {
    width: 203px;
    text-align: right;
    word-break: break-all;
}

.custom-table tr.striped td {
    background: #E5E6D9;
}


/*.custom-table tr.striped td:nth-child(even) {
        background: #F2F3EC;
    }*/

.custom-table td input[type=radio],
.custom-table td input[type=checkbox] {
    margin-right: 0;
    vertical-align: bottom;
}

.custom-table tr.data-row {
    display: none;
}

.custom-table tr.striped td {
    border-top: none;
}

.custom-table td:first-child {
    border-left: 1px solid #CCC;
}

.custom-table tr td.heading-td,
.custom-table tr.striped td.heading-td {
    background: #FFF;
    text-align: right;
}

.custom-table p {
    color: #757676;
}

.custom-table p strong {
    color: #154C67;
}

.custom-table td p.first {
    padding-top: 17px;
    padding-bottom: 5px;
    color: #616060;
}

.custom-table.core-kpi-sla .short {
    width: 250px;
}

.custom-table.core-kpi-sla .tc .multiple {
    text-align: left;
}

.custom-table.core-kpi-sla .ms-drop {
    width: 280px;
}

.custom-table.core-kpi-sla .ms-drop input[type=text] {
    width: 160px;
}

.custom-table.core-kpi-sla tr:last-child td:not(:first-child) *,
.custom-table.controls-advanced tr:last-child td:not(:first-child) *,
.custom-table.controls-advanced tr.last td:not(:first-child):not(.sub-process) * {
    display: none;
}

input.ex-long {
    width: 365px;
}

.custom-table .separate-row td {
    padding: 0;
    min-height: 1px;
    height: 5px;
}

.custom-table tr.subrow td {
    border-top: none;
}

.custom-table.core-kpi-sla tr.subrow td,
.custom-table.controls-advanced tr.subrow td,
.custom-table.controlls-simple tr.subrow td:not(:first-child) {
    border-left: none;
}

.custom-table .KCM-control {
    margin-bottom: 5px;
}

.custom-table .KCM-control {
    margin-bottom: 5px;
}

.align-at-center label {
    margin-left: 40%;
    min-width: 50px;
    text-align: left;
}

.char-count {
    margin-top: -5px;
    margin-right: 1px;
    margin-left: 1px;
    color: #757676;
    text-align: right;
    font-size: 12px;
}

.below-char-count {
    margin-left: 5px;
}

.wordBreak {
    word-break: break-all;
}


/* add-assessment-overall.html */

.page-heading {
    padding-bottom: 10px;
    /*line-height: 30px;*/
    padding-left: 10px;
    width: 100%;
    color: #164C68;
    font-size: 24px;
}

.page-heading span {
    font-family: "Georgia";
}

.page-heading .btn {
    float: left;
    margin-left: 10px;
    padding: 0 10px;
}

.page-heading .btn.fr {
    float: right;
    margin-right: 10px;
}

.commentary h3 {
    margin-top: 25px;
    padding-bottom: 15px;
    color: #A39542;
    font-size: 18px;
}

.commentary {
    margin-left: 10px;
}

.graphs .col {
    float: left;
    margin-bottom: 10px;
    padding: 15px 15px 0 15px;
    width: 50%;
}

.graphs .col:first-child {
    padding-right: 30px;
    border-right: 1px solid #dbdcd5;
}

.graphs .col:last-child {
    padding-left: 30px;
}

.graphs .col .top {
    width: 100%;
}

.graphs .col .top .left {
    float: left;
    width: 50%;
    color: #717171;
    font-size: 11px;
    line-height: 15px;
}

.graphs .col .top .left label {
    color: #A6A6A6;
}

.graphs .col .top .left h3 {
    padding-bottom: 15px;
    color: #A39542;
    font-size: 18px;
}

.graphs .col .top .right {
    float: left;
    width: 50%;
}

.graphs .col .bottom {
    position: relative;
    width: 100%;
    height: 200px;
}

.graphs .col .bottom .img-wrapper {
    position: absolute;
    bottom: 0;
}


/* Graph Legend Styles */

.l-B4C238 {
    background: #B4C238;
}

.l-D25C24 {
    background: #D25C24;
}

.l-D9C39D {
    background: #D9C39D;
}

.l-75808C {
    background: #75808C;
}

.l-103056 {
    background: #103056;
}

.l-116AAA {
    background: #116AAA;
}

.l-F3B728 {
    background: #F3B728;
}

.legend {
    margin-top: 18px;
    padding-bottom: 10px;
    border-top: 1px solid #dbdcd5;
    border-bottom: 1px solid #dbdcd5;
    background: #F0F0EE;
}

.legend p {
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    width: 211px;
    color: #A6A6A6;
    font-size: 11px;
}

.legend p.long {
    width: 275px;
}

.legend p i {
    display: inline-block;
    margin-right: 5px;
    width: 15px;
    height: 15px;
    vertical-align: text-bottom;
}

.overall-page #main-content {
    padding-right: 0;
    padding-bottom: 70px;
    padding-left: 0;
}

.draft-page #main-content {
    padding-bottom: 140px;
}

.overall-page .container {
    float: left;
    padding: 0 10px;
    width: 100%;
}

.page-heading-bline {
    padding-bottom: 10px;
    padding-left: 10px;
    width: 100%;
    border-bottom: 1px solid #dbdcd5;
    color: #164C68;
    font-size: 24px;
    line-height: 30px;
}

.overall-page .incompleted label {
    display: inline-block;
    margin-top: 1px;
    color: #FF1D25;
    line-height: 20px;
}

.overall-page .incompleted .content label {
    display: inline-block;
    margin-top: 1px;
    color: #FF1D25;
    line-height: 20px;
}

.ext-textarea {
    overflow: hidden;
    margin-top: 1px;
    padding-top: 7px;
    height: 26px;
    font-size: 11px;
    resize: none;
    padding-bottom: 5px;
}


/* Collapsable Container Styles */

.expand-head {
    border-top: 5px solid #E0CF87;
    background: #395560;
    color: #FFF;
    font-size: 18px;
    line-height: 50px;
    cursor: pointer;
}

.expand-container {
    margin-bottom: 15px;
}

.expand-head i {
    float: left;
    width: 50px;
    height: 50px;
    background: url(../i/icon-expanded.png) no-repeat center center;
}

.expand-head.closed i {
    background-image: url(../i/icon-closed.png);
}

.expand-head .btn {
    margin: 13px 27px 13px 13px;
    padding: 0 15px;
    height: 24px;
    font-size: 11px;
    line-height: 24px;
}

.expand-body {
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    color: #757676;
    font-size: 11px;
}

.expand-body.closed {
    display: none;
}

.expand-body .col-5 {
    padding: 10px 25px 10px 15px;
}

.expand-body .col-7 {
    padding: 10px 25px 10px 0;
}

.expand-body .heading {
    float: left;
    padding-bottom: 6px;
    width: 100%;
    border-bottom: 1px solid #dbdcd5;
    color: #798B9A;
    font-size: 18px;
}

.expand-body .contents .row {
    margin-top: 10px;
}

.expand-body .contents label {
    float: left;
    margin-top: 2px;
    margin-right: 15px;
    width: 250px;
    color: #323333;
    text-align: right;
}

.expand-body .contents span.label {
    color: #323333;
}

.expand-body .contents label.city {
    color: #798C9A;
}

.expand-body .contents span {
    display: inline-block;
    max-width: 215px;
    line-height: 15px;
}

.expand-body .contents span.error {
    display: inline-block;
    max-width: 215px;
    color: #FF1D25;
    line-height: 15px;
}

.expand-body .col-5 span {
    max-width: 135px;
}

.expand-body .title {
    float: left;
    margin-top: 10px;
    width: 100%;
    color: #798B9A;
    font-size: 18px;
}

.expand-body p {
    padding: 5px 0;
    color: #757676;
}

table.normal-table {
    margin: 10px 0;
    border-right: 1px solid #dbdcd5;
    border-bottom: 5px solid #E5E6D9;
    font-size: 11px;
}

table.normal-table th {
    padding: 0 20px;
    height: 40px;
    border-left: 1px solid #dbdcd5;
    background: #E5E6D9;
    color: #323333;
    vertical-align: middle;
    text-align: left;
}

table.normal-table td {
    padding: 10px 20px;
    border-left: 1px solid #dbdcd5;
    color: #767676;
    line-height: 16px;
}

table.normal-table td.error {
    padding: 10px 20px;
    border-left: 1px solid #dbdcd5;
    color: #FF1D25;
    line-height: 16px;
}

table.normal-table td a {
    color: #185C7C;
}

table.normal-table td a:hover {
    text-decoration: underline;
}

table.normal-table tr:nth-child(odd) td {
    background: #F8F9F3;
}

.non {
    float: left;
    margin-top: 10px;
    margin-bottom: 15px;
    padding-left: 20px;
    width: 100%;
    height: 40px;
    background: #E5E6D9;
    color: #323333;
    line-height: 40px;
}

.custom-table tr.bg td {
    height: 40px;
    border-top: 1px solid #e5e6d9;
    border-right: 1px solid #e5e6d9;
    background: #F8F9F3;
    vertical-align: middle;
    text-align: center;
}

.custom-table tr.high td {
    height: 40px;
    border-top: 1px solid #e5e6d9;
    border-right: 1px solid #e5e6d9;
    vertical-align: middle;
}

.custom-table tr.high-bg td {
    height: 40px;
    border-top: 1px solid #e5e6d9;
    border-right: 1px solid #e5e6d9;
    background: #F8F9F3;
    vertical-align: middle;
}

.custom-table tr.high td.empty,
.custom-table tr.high-bg td.empty {
    border-right: 0;
}

.custom-table tr.bg td.empty {
    border: none;
    background: none;
}

.custom-table .ct {
    text-align: center;
}

.custom-table .rt {
    text-align: right;
}

.custom-table tr.bg td.td-head {
    border-top: none;
    background: #FFF;
    text-align: right;
}

.custom-table tr.bg td:last-child {
    border-right: none;
}

.expand-body .tab-headers1 {
    background: #798B98;
}

.tab {
    display: none;
}

.tab.active {
    display: block;
}

.expand-body .tab-headers1 a.active {
    padding-left: 25px;
    background: url(../i/icon-check.png) no-repeat 5px center #FFF;
    background-color: #FFF;
    color: #164B66;
}

.tab-headers1 .active span {
    display: inline-block;
    margin-top: 5px;
    margin-left: 5px;
}

.expand-body .bottom-link {
    float: left;
    margin-top: 25px;
    width: 100%;
    color: #164B66;
    font-size: 15px;
}

.expand-body .bottom-link .btn {
    margin-left: 15px;
    padding: 0 15px;
    height: 24px;
    font-size: 11px;
    line-height: 24px;
}


/* draft-assessment.html */

.dr-title {
    margin-top: 20px;
    margin-bottom: 10px;
}

.panel {
    margin-top: 10px;
}

.panel .panel-head {
    padding-left: 10px;
    color: #154C67;
    font-size: 18px;
}

.panel .panel-content {
    float: left;
    margin-top: 10px;
    padding: 0 12px;
    padding-bottom: 12px;
    width: 100%;
    background: #798C9A;
    color: #FFF;
    font-size: 18px;
}

.panel .panel-content.awaiting {
    margin-top: 5px;
    background: #F5D76C;
    color: #4D4C4D;
}

.panel .panel-content.rejected {
    position: relative;
    margin-top: 5px;
    background: #FF5151;
    color: #4D4C4D;
}

.panel.awaiting-approver .panel-content {
    background: #CBDEED;
}

.panel .panel-content.approved {
    position: relative;
    margin-top: 5px;
    background: #BCCB31;
    color: #1A1A1A;
}

.approve-container {
    position: absolute;
    top: 35px;
    right: 40px;
    width: 127px;
    height: 54px;
    background: url(../i/bg-approve.png) no-repeat center center;
    color: #154E6A;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    line-height: 54px;
}

.reject-container {
    position: absolute;
    top: 48px;
    right: 40px;
    width: 127px;
    height: 54px;
    background: url(../i/bg-reject.png) no-repeat center center;
    color: #154E6A;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    line-height: 54px;
}

.panel .panel-content .row {
    margin-top: 10px;
}

.panel .panel-content label {
    display: inline-block;
    margin-right: 15px;
    width: 100px;
    vertical-align: middle;
    text-align: right;
    font-size: 11px;
}

.panel .panel-footer {
    float: left;
    width: 100%;
    height: 55px;
    border-top: 5px solid #154C67;
    background: #DCDCD6;
    line-height: 50px;
}

.panel.awaiting-approver .panel-footer {
    border-top: 5px solid #154E6B;
    background: #154E6A;
}

.panel .panel-footer .left {
    float: left;
    padding-left: 5px;
    width: 50%;
}

.panel .panel-footer .left a.btn {
    float: left;
    margin: 8px 0 10px 8px;
}

.panel .panel-footer .btn.disapprove-btn {
    color: #a10b34;
}

.panel .panel-footer .sm-buttons a.btn,
.section-footer .sm-buttons a.btn {
    padding: 0 15px;
}

.panel .panel-footer .right {
    float: right;
    padding-right: 5px;
    width: 50%;
}

.panel .panel-footer .right a.btn {
    float: right;
    margin: 8px 8px 10px 0;
}

.approver-row {
    padding-left: 15px;
    border-top: 5px solid #E0CF87;
    background: #395560;
    color: #FFF;
    font-size: 18px;
    line-height: 50px;
}

.approver-row .btn {
    margin: 13px 27px 13px 13px;
    padding: 0 15px;
    height: 24px;
    font-size: 11px;
    line-height: 24px;
}


/* Disapprove Reason Popup*/

.disapprove-reason textarea {
    margin-bottom: 25px;
    margin-left: 4px;
    width: 98%;
    height: 130px;
    resize: vertical;
}

.disapprove-reason label {
    margin-left: 2px;
}

.comment-popup textarea {
    margin-top: 10px;
    margin-bottom: 25px;
    margin-left: 4px;
    width: 97%;
    height: 130px;
    resize: vertical;
}

.comment-popup .btn {
    margin-left: -5px;
}


/* ToolTip Styles */

.tips {
    position: absolute;
    top: 10px;
    left: 100px;
    z-index: 999;
    display: block;
    padding: 10px;
    min-width: 90px;
    width: auto;
    height: auto;
    outline: 0px;
    background: #FFF;
    box-shadow: 0px 0px 10px #333;
    color: #3A5762;
    font-size: 11px;
}

.tips li {
    margin-top: 10px;
}

.tips li:first-child {
    margin-top: 0;
}

.tips .arrow-down {
    position: absolute;
    bottom: 1px;
}

.tips .arrow-down::before,
.tips .arrow-down::after {
    position: absolute;
    left: 10px;
    width: 0;
    height: 0;
    border-width: 10px;
    border-style: solid;
    content: "";
}

.tips .arrow-down::before {
    top: 2px;
    border-color: #aaa transparent transparent transparent;
}

.tips .arrow-down::after {
    top: 1px;
    border-color: #fff transparent transparent transparent;
}

.fix-header {
    position: fixed;
    top: 0;
    z-index: 9999;
    display: none;
    margin-top: 0;
    width: auto;
    border: none;
}

.custom-table.fix-header th {
    border-bottom: 1px solid #CCC;
}

#disapprove-btn {
    color: #A10B34;
}


/* jquery ui */

.ui-front {
    z-index: 100;
}

.ui-widget-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #aaaaaa;
    opacity: .5;
}

.ui-dialog {
    position: absolute;
}

.ui-dialog .ui-dialog-titlebar {
    position: relative;
    border-top: 5px solid #E0CF87;
}

.ui-dialog .ui-dialog-title {
    float: left;
    margin-top: 20px;
    margin-left: 15px;
    color: #164C68;
    font-size: 20px;
    font-family: "Georgia";
}

.no-close .ui-dialog-titlebar-close {
    display: none;
}

.ui-dialog .ui-dialog-content {
    position: relative;
    overflow: auto;
    margin-top: 10px;
    padding: .5em 1em;
    border: 0;
}

.ui-widget-content {
    border: 1px solid #aaaaaa;
    background: #ffffff;
    color: #222222;
}

.ui-widget label {
    font-size: 13px;
}

.ui-widget textarea {}


/*
  All drop downs with a single selector should not have radial buttons.
*/

.ms-parent input[type=radio] {
    display: none;
}

.ms-drop ul {
    overflow-x: hidden;
}

.ms-drop ul {
    padding: 1px;
}

.ms-drop ul > li {
    margin-bottom: 0;
    padding: 4px 5px;
}

.ms-drop ul > li:hover {
    background-color: #C6DBE3;
}

.ms-parent.ms-parent-button-checked button {
    border-color: #8CAEE5;
    border-radius: 2px;
}

.ms-parent button {
    border-color: #CCC;
    border-radius: 0;
}

.ms-drop {
    /* bug fix - dropdown options should not be above modal dialog */
    z-index: 50 !important;
}

.risk-impact *,
.risk-answer *,
select[name=controls],
select[name=controls] + div {
    visibility: hidden;
}

.likelihood-of-occurrence-applicable .risk-impact *,
.likelihood-of-occurrence-applicable .risk-answer *,
.likelihood-of-occurrence-applicable select[name=controls] + div {
    visibility: visible;
}

.risk-impact-NA .risk-answer *,
.risk-impact-NA select[name=controls],
.risk-impact-NA select[name=controls] + div {
    visibility: hidden !important;
}