<div class="modal-header modal-error">
  ERROR #004
</div>
<div class="modal-body">
  <p>We are failed to share your story to social media. Please try it later, or you can contact our support to confirm about this. Thank you!</p>
</div>
<div class="modal-footer">
  <div class="row">
    <div class="col-xs-6">
      <div class="btn btn-primary btn-medium" data-ng-click="cancel()">Cancel</div>
    </div>
    <div class="col-xs-6">
      <div class="btn btn-success btn-medium" data-ng-click="contactSupport()">Contact Support</div>
    </div>
  </div>
</div>