<div class="user-info">
  <div class="row">
    <!-- avatar -->
    <div class="avatar col-xs-4">
      <img src="/assets/i/empty.gif" alt="User Avatar" width="84" height="84"/>
    </div>
    <!-- end avatar -->
    <div class="col-xs-8">
      <div>John Doe</div>
      <div>CHAMPION</div>
    </div>
  </div>

  <!-- gift cards -->
  <div class="row gift-cards">
    <div class="col-xs-6">
      <div>Total Amount Purchased</div>
      <div>$525</div>
    </div>
    <div class="col-xs-6">
      <div>Total Amount Redeemed</div>
      <div>$350</div>
    </div>
  </div>
  <!-- end gift cards -->
</div>

<!-- menu item -->
<nav id="nav-menu" class="menu-items">
  <ul>
    <li>
      <a href="javascript:void(0);" class="menu-item gift-card-offers" data-ui-sref="gift_card_offers">
        Gift Card Offers
      </a>
    </li>
    <li>
      <a href="javascript:void(0);" class="menu-item my-founder-shares" data-ui-sref="my_founder_shares">
        My Founder$hares
      </a>
    </li>
    <li>
      <a href="javascript:void(0);" class="menu-item my-history" data-ui-sref="my_history">
        My History
      </a>
    </li>
    <li>
      <a href="javascript:void(0);" class="menu-item my-cart" data-ui-sref="my_cart">
        My Cart
        <span class="badge">0</span>
      </a>
    </li>
    <li>
      <a href="javascript:void(0);" class="menu-item how-it-works" data-ui-sref="how_it_works">
        How It Works
      </a>
    </li>
    <li>
      <a href="javascript:void(0)" class="menu-item faq" data-ui-sref="faq">
        FAQ
      </a>
    </li>
    <li>
      <a href="javascript:void(0);" class="menu-item contact-support">
        Contact Support
      </a>
    </li>
    <li>
      <a href="javascript:void(0);" class="menu-item logout">
        Log Out
      </a>
    </li>
  </ul>
</nav>
<!-- end menu item -->
