<div class="modal-header">
  Transaction Complete!
</div>
<div class="modal-body">
  <!-- TODO: social placeholder -->
  <ul class="list-inline">
    <li>Share on :</li>
    <li data-ng-click="share('facebook')">facebook</li>
    <li data-ng-click="share('twitter')">twitter</li>
    <li data-ng-click="share('googleplus')">googleplus</li>
    <li data-ng-click="share('whatsapp')">whatsapp</li>
  </ul>
</div>
<div class="modal-footer">
  <div class="col-xs-6 col-xs-offset-3">
    <div class="btn btn-success btn-medium" data-ng-click="done()">Done</div>
  </div>
</div>