<!-- header-->
<header id="header" class="pad-header" data-ng-include="'partials/module/header.html'"></header>
<!-- end header-->

<!-- nav-->
<nav id="nav" data-ng-include="'partials/module/nav.html'" data-sticky></nav>
<!-- end nav-->

<!-- content -->
<article class="PostCards" data-ng-controller="FounderpostingCtrl">
  <div class="height-founder">

  </div>
</article>
<!-- end content -->

<!-- footer -->

<footer id="footer" data-ng-include="'partials/module/footer.html'">
  
</footer>
<!-- end footer -->
