<!-- header-->
<header id="header" class="pad-header" data-ng-include="'partials/module/header.html'"></header>
<!-- end header-->

<!-- nav-->
<nav id="nav" data-ng-include="'partials/module/nav.html'" data-sticky></nav>
<!-- end nav-->

<!-- content -->
<article data-ng-controller="homeCtrl" data-infinite-scroll="loadMore()">
	<dl>
		<dt data-ng-bind="Home.title"></dt>
		<dd>
			<div class="item" data-ng-repeat="item in Home.listItem | filter:search">
				<a href="javascript:;"><p><span data-ng-bind="item.logo" data-ng-click="showInfo(item)"></span></p></a>
				<p data-ng-bind="item.name" data-ng-click="showInfo(item)"></p>
				<span data-ng-bind="item.activation"></span>
				<span data-ng-bind="item.data"></span>
				<span data-ng-bind="item.time"></span>
				<div class="clearfix"></div>
				<section>
					<div class="left">
						<label data-ng-bind="item.sale"></label>
						<span data-ng-bind="item.onOff"></span>
						<hr/>
						<label data-ng-bind="item.expiration"></label>
					</div>
					<div class="left radial-progress" data-progress="{{item.progess}}">
						<div class="circle">
							<div class="shadow "></div>
							<div class="mask full">
								<div class="fill" ></div>
							</div>
							<div class="mask half">
								<div class="fill" ></div>
								<div class="fill fix"></div>
							</div>
						</div>
						<div class="inset">
							<div class="percentage">
								<p><span>$</span><span class="progress">{{item.progess}}</span></p>
								<p>remain</p>
							</div>
						</div>
					</div>
					<div class="clearfix"></div>
				</section>
				<div class="clearfix"></div>
			</div>
			

			<div data-ng-if="pause" class="load-more">
				<div id="bowl-ring">
					<div class="ball-holder">
						<div class="ball">
						</div>
					</div>
				</div>
				<span>Loading more 4 gift cards [from 28]</span>
			</div>
		</dd>
	</dl>
	<div class="clearfix"></div>
		<!-- show details card -->
		<div class="details-card" data-ng-if="display">
			<dl>
				<dt class="font-size48 font-color-title">Founder$hares Details</dt>
				<dd>
					<div class="view-details">
						<div class="view-info">
							<div class="name-card">
								<span class="circle-info"><b>{{arrayList.logo}}</b></span>
								<div class="business-name">
									<p class="founder margin-left7 margin-top10" >{{arrayList.name}}</p>
									<p class="business">{{arrayList.founderName}}</p>
								</div>
							</div>
							<div class="info-card margin-top5">
								<div class="left margin-shop-card width105">
									<label class="sale-shopping color-2 color-number" >{{arrayList.sale}}</label>
									<span class="onOff-shopping" >{{arrayList.onOff}}</span>
									<label class="expiration-shopping border-top1" >{{arrayList.expiration}}</label>
								</div>
						

								<div class="left radial-progress margin-top10" data-progress="{{arrayList.progess}}">
									<div class="circle">
										<div class="shadow bg-view"></div>
										<div class="mask full">
											<div class="fill" ></div>
										</div>
										<div class="mask half">
											<div class="fill" ></div>
											<div class="fill fix"></div>
										</div>
									</div>
									<div class="inset bg-chart">
										<div class="percentage">
											<p class="font-view"><span>$</span><span class="progress">{{arrayList.progess}}</span></p>
											<p class="font-view">remain</p>
										</div>
									</div>
								</div>
							</div>
							<div class="add-card margin-top-7">
								<p>
									<img id="close" src="i/close.png" alt="close" data-ng-click="closeInfo()">
								</p>
								<p class="btn-add">
									<a href="javascript:;" data-ng-click="addToCard()">Add to Cart</a>
								</p>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="description">
							<div class="description-1">
								<p>
									<span class="text">Creation Date</span>
									<i>:</i>
									<span class="date">{{arrayList.data}} {{arrayList.time}}</span>
								</p>
								<p >
									<span class="text">Activation Date</span>
									<i>:</i>
									<span class="date">{{arrayList.data}} {{arrayList.time}}</span>
								</p>
								<p class="margin-bottom8">
									<span class="text report-abuse">Report Abuse</span>
								</p>
								<div class="location margin-top15">
									
								</div>
								<div class="clearfix"></div>
								<p class="margin-top10">
									<span class="text width50">Hours</span>
									<i>:</i>
									<span class="date">{{arrayList.hours}}</span>
								</p>
								<p class="margin-top3">
									<span class="text width50">Phone</span>
									<i>:</i>
									<span class="date">{{arrayList.phone}}</span>
								</p>
							</div>
							<div class="description-2">
								<p class="title">Description</p>
								<p class="des margin-top10">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. </p>
								<p class="title margin-top19">Conditions</p>
								<ul class="margin-top4">
									<li>• Lorem ipsum dolor sit amet,</li>
									<li>• consectetur adipiscing elit. Aenean euismod bibendum laoreet.</li>
									<li>• Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</li>
									<li>• Proin sodales pulvinar tempor.</li>
								</ul>
							</div>	
							<div class="description-3">
								<p>
									<span class="comment">Comment</span>
								
								</p>
								<div class="comment-detail" id="ex3">
									<textarea  type="text" placeholder="Add a comment" class="txtAddCm" ></textarea>
									<div class="list-comment">
										<div class="comment-info">
											<p class="comment-name">{{arrayList.username}}</p>
											<p class="comment-date margin-bottom4">{{arrayList.dateComment}}</p>
										</div>
										<p class="com-view">{{arrayList.desComment}}</p>
									</div>
									<div class="list-comment">
										<div class="comment-info">
											<p class="comment-name">{{arrayList.username}}</p>
											<p class="comment-date margin-bottom4">{{arrayList.dateComment}}</p>
										</div>
										<p class="com-view">{{arrayList.desComment}}</p>
									</div>
									<div class="list-comment">
										<div class="comment-info">
											<p class="comment-name">{{arrayList.username}}</p>
											<p class="comment-date margin-bottom4">{{arrayList.dateComment}}</p>
										</div>
										<p class="com-view">{{arrayList.desComment}}</p>
									</div>
								</div>
							</div>
						</div>
						<div class="share">
							<div class="share-color">
								<span class="text">Share on :</span>
								<span class="color-1">f</span>
								<span class="color-2">t</span>
								<span class="color-3">g</span>
								<span class="color-4">in</span>
							</div>
							<div class="share-link">
								<span class="lbl-link">Link :</span>
								<input type="text" name="link" class="link" value="{{arrayList.link}}">
								<a href="javascript:;">Refer to friend</a>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="clearfix"></div>
					</div>
				</dd>
			</dl>
			<div class="clearfix"></div>
		</div>
	<!-- end show details card -->
	<!-- end content -->
	<div class="login-panel" data-ng-if="startLogin">
		<div class="login" data-ng-init="loginError=false">
			<div class="content">
				<p>Login</p>
				<form>
					<input type="text" value="" placeholder="Username">
					<input type="text" value="" placeholder="Password">
					<p class="remember-forgot">
						<span class="remember">
							<input id="remember" type="checkbox">
							<label for="remember"></label>
							<i>Remember me</i>
						</span>
						<span class="forgot-pass"><a href="javascript:;">Forgot Password?</a></span>
					</p>
					<p class="login-error" data-ng-if="loginError">* Invalid username / password,  please try again.</p>
					<input type="button" value="Continue" data-ng-init="mocKUp=false" data-ng-click="mockUp=!mockUp">
					<!-- mock up role -->
					<ul class="mock-up" data-ng-show="mockUp">
						<li><a href="javascript:;" data-ng-click="login('champion', true)">Login as Champion</a></li>
						<li><a href="javascript:;" data-ng-click="login('founder', true)">Login as Founder</a></li>
						<li><a href="javascript:;" data-ng-click="login('employee', true)">Login as Platform Employee</a></li>
						<li><a href="javascript:;" data-ng-click="loginError=true; mockUp=false">Login Error</a></li>
					</ul>
					<!-- end mock up role -->
					<p>Don't have an account? <a href="javascript:;">Sign up now</a></p>
				</form>
				<span>or</span>
			</div>
			<div class="social">
				<a href="javascript:;" class="face"><span class="icon-face"></span>Use My Facebook Account</a>
				<a href="javascript:;" class="twitter"><span class="icon-twitter"></span>Use My Twitter Account</a>
				<a href="javascript:;" class="linkedin"><span class="icon-linkedin"></span>Use My Linkedin Account</a>
			</div>
		</div>
	</div>
	<!-- footer -->
</article>

<footer id="footer" data-ng-include="'partials/module/footer.html'">
	
</footer>
<!-- end footer -->
