<!-- header-->
<header id="header" class="pad-header" data-ng-include="'partials/module/header.html'"></header>
<!-- end header-->

<!-- nav-->
<nav id="nav" data-ng-include="'partials/module/nav.html'" data-sticky></nav>
<!-- end nav-->

<!-- content -->
<article class="myCart founders founderShares" data-ng-controller="myCartCtrl">
	<div class="item left">
		<a href="javascript:;"><p><span data-ng-bind="item.logo"></span></p></a>
		<ul class="user">
			<li data-ng-repeat="item in MyCart.user" data-ng-if="isVisible(item.role)" data-ng-click="user.item = $index">
				<a href="javascript:;"><p data-ng-class="{'color' : user.item == $index}" data-ng-bind="item.li"></p></a>
			</li>
		</ul>
		<div class="clearfix"></div>
	</div>
	<dl class="right" data-ng-if="user.item == 0 && role=='founder'">
		<dt data-ng-bind="Myinfo.info"></dt>
		<dd>
			<div>
				<div class="no-bg">
					<div class="myinfo">
						<span class="con-info utl-12 ">Business Infomation</span>
						<a href="javascript:;" data-ng-click="Edit=!Edit" class="mlu320"><span ></span>Edit</a>
						<span>Is Public Info?</span>
						<div data-ng-show="Edit">
							<a class="color lui-fix" href="javascript:;" data-ng-click="Edit=false">Save Info
								<p class="save-info save"></p>
							</a>
						</div>
						<div data-ng-show="Edit">
							<a class="color-c" href="javascript:;" data-ng-click="Edit=false" >Cancel
								<p class="cancel-info cancel"></p>
							</a>
						</div>
					</div>
					<div class="clearfix"></div>
					<div class="contact-info">
						<p>
							<strong>Business Name</strong>
							<span class="width-name" data-ng-bind="Myinfo.name" data-ng-hide="Edit"></span>
							<input type="text" data-ng-model="Myinfo.name" data-ng-if="Edit"/>
						</p>
						<div  class="slideThree yes switch" data-ng-class="{checked1 : click , trueCH :click==true ,falseCh :click==false}">	
							<input  value="None" id="slideThree1" name="check" type="checkbox" data-ng-model="Myinfo.slideThree1" >
							<label for="slideThree1" class="toggle" data-ng-click="click =! click"></label >
						</div>
						<p>
							<strong>Business Address</strong>
							<span class="width-mail" data-ng-bind="Myinfo.email" data-ng-hide="Edit"></span>
							<input type="text" data-ng-model="Myinfo.email" data-ng-if="Edit"/>
						</p>
						<div class="slideThree no checked switch" data-ng-class="{active : click1, activetrueCH :click1==true ,activefalseCh :click1==false}">	
							<input value="no" id="slideThree2" name="check" type="checkbox" data-ng-model="Myinfo.slideThree2">
							<label for="slideThree2" class="toggle" data-ng-click="click1 =! click1"></label>
						</div>
						<p>
							<strong>Business Type</strong>
							<span class="width-loca" data-ng-bind="Myinfo.location" data-ng-hide="Edit"></span>
							<input type="text" data-ng-model="Myinfo.location" data-ng-if="Edit" />
						</p>
						<div class="slideThree no checked switch" data-ng-class="{active : click2, activetrueCH :click2==true ,activefalseCh :click2==false}">	
							<input value="None" id="slideThree3" name="check" type="checkbox" data-ng-model="Myinfo.slideThree3"/>
							<label for="slideThree3" class="toggle" data-ng-click="click2 =! click2"></label>
						</div>
						<div class="clearfix"></div>
						<p class="">
							<strong>Logo/ Image</strong>
							<span class="width-pho" data-ng-bind="Myinfo.photo" data-ng-hide="Edit"></span>
							<input type="text" class="width-img" data-ng-model="Myinfo.photo" data-ng-if="Edit" />
						</p>
						<div class="" data-ng-if="Edit">
							<a class="color-b" href="javascript:;">
								<p class="browse bro a font-style-none">Browse</p>
							</a>
						</div>
						<div  class="slideThree yes switch mrt-40" data-ng-class="{checked1 : click3 , trueCH :click3==true ,falseCh :click3==false}">	
							<input class="mar-top" value="No" id="slideThree4" name="check" type="checkbox" data-ng-model="Myinfo.slideThree4">
							<label for="slideThree4" class="toggle" data-ng-click="click3 =! click3"></label>
						</div>
						<div class="clearfix"></div>
						<div class="des-h">
							<strong>Description</strong>
							<span class="width-description" data-ng-bind="Myinfo.description" data-ng-hide="Edit"></span>
							<input class="height72-uit" type="text" data-ng-model="Myinfo.description" data-ng-if="Edit"/>
							<div  class="slideThree yes switch des-h" data-ng-class="{checked1 : click5 , trueCH :click4==true ,falseCh :click5==false}">	
								<input  value="None" id="slideThree5" name="check" type="checkbox" data-ng-model="Myinfo.slideThree5" >
								<label for="slideThree5" class="toggle" data-ng-click="click5 =! click5"></label >
							</div>
						</div>
						<div class="clearfix"></div>
						<p>
							<strong>Hours Open</strong>
							<span class="width-hoursopen" data-ng-bind="Myinfo.hoursopen" data-ng-hide="Edit"></span>
							<input type="text" data-ng-model="Myinfo.hoursopen" data-ng-if="Edit"/>
						</p>
						<div class="slideThree yes switch" data-ng-class="{checked1 : click6 , trueCH :click6==true ,falseCh :click6==false}">	
							<input  value="None" id="slideThree6" name="check" type="checkbox" data-ng-model="Myinfo.slideThree6" >
							<label for="slideThree6" class="toggle" data-ng-click="click6 =! click6"></label >
						</div>
						<p>
							<strong>Website URL</strong>
							<span class="width-website" data-ng-bind="Myinfo.website" data-ng-hide="Edit"></span>
							<input type="text" data-ng-model="Myinfo.website" data-ng-if="Edit"/>
						</p>
						<div  class="slideThree yes switch" data-ng-class="{checked1 : click7 , trueCH :click7==true ,falseCh :click7==false}">	
							<input  value="None" id="slideThree7" name="check" type="checkbox" data-ng-model="Myinfo.slideThree7" >
							<label for="slideThree7" class="toggle" data-ng-click="click7 =! click7"></label >
						</div>
					</div>
				</div>
				<div class="no-bg">
					<div class="myinfo">
						<span class="con-info utl-12">Account Password</span>
						<a data-ng-hide="Edit" href=""><span class="icon font-style-none"></span>Change Password</a>
						<a data-ng-if="Edit" class="save-account account b">
							<p class="color-a font-style-none mar-top-si" href="javascript:;">Save Password</p>
						</a>
						<a data-ng-if="Edit" class="cancel-account cancel mar-r30">
							<p class="color-ca font-style-none mar-top-si" href="javascript:;">Cancel</p>
						</a>
					</div>
					<div class="clearfix"></div>
					<div class="contact-info">
						<p>
							<strong>Current Password</strong>
							<span class="w-pw" data-ng-bind="Myinfo.cupass" data-ng-hide="Edit"></span>
							<input type="text" class="current" data-ng-if="Edit" />
						</p>
						<p>
							<strong>New Password</strong>
							<span data-ng-hide="Edit"></span>
							<input type="text" class="new" data-ng-if="Edit" />
						</p>
						<p class="last">
							<strong>Confirm Password</strong>
							<span data-ng-hide="Edit"></span>
							<input type="text" class="confirm" data-ng-if="Edit" />
						</p>
					</div>
					<div class="clearfix"></div>
					<div>
						<div class="myinfo tih-mar">
							<span class="con-info utl-12">Account Payment Information</span>
							<a class="lut145" href="javascript:;" data-ng-click="Edit1=!Edit1 " data-ng-hide="Edit1"><span>Edit</span></a>
							<div class="tit-mar" data-ng-show="Edit1" >
								<a class="color" href="javascript:;" data-ng-click="Edit1=false">Save Info
									<p class="save-info save"></p>
								</a>
							</div>
							<div class="tih-mar" data-ng-show="Edit1">
								<a class="color-c" href="javascript:;" data-ng-click="Edit1=false" >Cancel
									<p class="cancel-info cancel"></p>
								</a>
							</div>
						</div>
						<div class="clearfix"></div>
						<div class="contact-info w-hiw" data-ng-class="{click:Edit1}">
							<p>
								<strong>Owner’s First Name</strong>
								<span class="w-pw" data-ng-bind="Myinfo.name1" data-ng-hide="Edit1"></span>
								<input type="text" data-ng-if="Edit1" data-ng-model="Myinfo.name1" />
							</p>
							<div class="clearfix"></div>
							<p>
								<strong>Owner’s Last Name</strong>
								<span class="w-pw" data-ng-bind="Myinfo.name2" data-ng-hide="Edit1"></span>
								<input data-ng-model="Myinfo.name2" type="text" data-ng-if="Edit1"  />
							</p>
							<div class="clearfix"></div>
							<p>
								<strong>Email</strong>
								<span class="w-pw" data-ng-bind="Myinfo.email" data-ng-hide="Edit1"></span>
								<input data-ng-model="Myinfo.email" type="text" data-ng-if="Edit1" />
							</p>
							<div class="clearfix"></div>
							<p>
								<strong>Date of Birth</strong>
								<span class="w-pw" data-ng-bind="Myinfo.datebirth" data-ng-hide="Edit1"></span>
								<input type="text" data-ng-model="Myinfo.datebirth" data-ng-if="Edit1" />
							</p>
							<div class="clearfix"></div>
							<p>
								<strong>SSN#</strong>
								<span class="w-pw" data-ng-bind="Myinfo.ssn" data-ng-hide="Edit1"></span>
								<input type="text" data-ng-model="Myinfo.ssn" data-ng-if="Edit1" />
							</p>
							<div class="clearfix"></div>
							<p>
								<strong>Home Street Address</strong>
								<span class="w-pw" data-ng-bind="Myinfo.address" data-ng-hide="Edit1"></span>
								<input type="text" data-ng-model="Myinfo.address" data-ng-if="Edit1" />
							</p>
							<div class="clearfix"></div>
							<p>
								<strong>City</strong>
								<span class="w-pw" data-ng-bind="Myinfo.city" data-ng-hide="Edit1"></span>
								<input type="text" data-ng-model="Myinfo.city" data-ng-if="Edit1" />
							</p>
							<div class="clearfix"></div>
							<p>
								<strong>State</strong>
								<span class="w-pw" data-ng-bind="Myinfo.state" data-ng-hide="Edit1"></span>
								<input type="text" data-ng-model="Myinfo.state" data-ng-if="Edit1" />
							</p>
							<div class="clearfix"></div>
							<p>
								<strong>Zip Code</strong>
								<span class="w-pw" data-ng-bind="Myinfo.zipcode" data-ng-hide="Edit1"></span>
								<input type="text" data-ng-model="Myinfo.zipcode" data-ng-if="Edit1" />
							</p>
							<div class="clearfix"></div>
							<span class="utl-12">funding</span>
							<div class="clearfix"></div>
							<p>
								<strong>Descriptor</strong>
								<span class="w-pw" data-ng-bind="Myinfo.descriptor" data-ng-hide="Edit1"></span>
								<input type="text" data-ng-model="Myinfo.descriptor" data-ng-if="Edit1" />
							</p>
							<div class="clearfix"></div>
							<p>
								<strong>Destination</strong>
								<span class="w-pw" data-ng-bind="Myinfo.destination" data-ng-hide="Edit1"></span>
								<input type="text" data-ng-model="Myinfo.destination" data-ng-if="Edit1" />
							</p>
							<div class="clearfix"></div>
							<p>
								<strong>Email</strong>
								<span class="w-pw" data-ng-bind="Myinfo.email2" data-ng-hide="Edit1"></span>
								<input type="text" data-ng-model="Myinfo.email2" data-ng-if="Edit1" />
							</p>
							<div class="clearfix"></div>
							<p>
								<strong>Mobile Phone</strong>
								<span class="w-pw" data-ng-bind="Myinfo.mobilephone" data-ng-hide="Edit1"></span>
								<input type="text" data-ng-model="Myinfo.mobilephone" data-ng-if="Edit1" />
							</p>
							<div class="clearfix"></div>
							<p>
								<strong>Accounting Number</strong>
								<span class="w-pw" data-ng-bind="Myinfo.accounting" data-ng-hide="Edit1"></span>
								<input type="text" data-ng-model="Myinfo.accounting" data-ng-if="Edit1" />
							</p>
							<div class="clearfix"></div>
							<p>
								<strong>Routing Number</strong>
								<span class="w-pw" data-ng-bind="Myinfo.routing" data-ng-hide="Edit1"></span>
								<input type="text" data-ng-model="Myinfo.routing" data-ng-if="Edit1" />
							</p>
							<div class="clearfix"></div>
							<span class="utl-12">ENTER ADDITIONAL INFO BELOW IF YOU ARE A REGISTERED BUSINESS</span>
							<div class="clearfix"></div>
							<p>
								<strong>Legal Name</strong>
								<span class="w-pw" data-ng-bind="Myinfo.descriptor" data-ng-hide="Edit1"></span>
								<input type="text" data-ng-model="Myinfo.descriptor" data-ng-if="Edit1" />
							</p>
							<div class="clearfix"></div>
							<p>
								<strong>DBA Name</strong>
								<span class="w-pw" data-ng-bind="Myinfo.descriptor" data-ng-hide="Edit1"></span>
								<input type="text" data-ng-model="Myinfo.descriptor" data-ng-if="Edit1" />
							</p>
							<div class="clearfix"></div>
							<p>
								<strong>Tax ID</strong>
								<span class="w-pw" data-ng-bind="Myinfo.taxid" data-ng-hide="Edit1"></span>
								<input type="text" data-ng-model="Myinfo.taxid" data-ng-if="Edit1" />
							</p>
							<div class="clearfix"></div>
							<p>
								<strong>Street Address</strong>
								<span class="w-pw" data-ng-bind="Myinfo.address2" data-ng-hide="Edit1"></span>
								<input type="text" data-ng-model="Myinfo.address2" data-ng-if="Edit1" />
							</p>
							<div class="clearfix"></div>
							<p>
								<strong>City</strong>
								<span class="w-pw" data-ng-bind="Myinfo.city2" data-ng-hide="Edit1"></span>
								<input type="text" data-ng-model="Myinfo.city2" data-ng-if="Edit1" />
							</p>
							<div class="clearfix"></div>
							<p>
								<strong>State</strong>
								<span class="w-pw" data-ng-bind="Myinfo.state" data-ng-hide="Edit1"></span>
								<input type="text" data-ng-model="Myinfo.state" data-ng-if="Edit1" />
							</p>
							<div class="clearfix"></div>
							<p>
								<strong>Zip Code</strong>
								<span class="w-pw" data-ng-bind="Myinfo.zipcode" data-ng-hide="Edit1"></span>
								<input type="text" data-ng-model="Myinfo.zipcode" data-ng-if="Edit1" />
							</p>
						</div>
					</div>
				</div>
			</div>
		</dd>
	</dl>
	<dl class="right" data-ng-if="user.item == 0 && role=='champion'">
		<dt data-ng-bind="Myinfo.info"></dt>
		<dd>
			<div>
				<div class="no-bg">
					<div class="myinfo">
						<span class="con-info utl-12 ">Business Infomation</span>
						<a href="javascript:;" data-ng-click="Edit=!Edit" class="mlu320"><span ></span>Edit</a>
						<span>Is Public Info?</span>
						<div data-ng-show="Edit">
							<a class="color lui-fix" href="javascript:;" data-ng-click="Edit=false">Save Info
								<p class="save-info save"></p>
							</a>
						</div>
						<div data-ng-show="Edit">
							<a class="color-c" href="javascript:;" data-ng-click="Edit=false" >Cancel
								<p class="cancel-info cancel"></p>
							</a>
						</div>
					</div>
					<div class="clearfix"></div>
					<div class="contact-info">
						<p>
							<strong>Business Name</strong>
							<span class="width-name" data-ng-bind="Myinfo.name" data-ng-hide="Edit"></span>
							<input type="text" data-ng-model="Myinfo.name" data-ng-if="Edit"/>
						</p>
						<div  class="slideThree yes switch" data-ng-class="{checked1 : click , trueCH :click==true ,falseCh :click==false}">	
							<input  value="None" id="slideThree1" name="check" type="checkbox" data-ng-model="Myinfo.slideThree1" >
							<label for="slideThree1" class="toggle" data-ng-click="click =! click"></label >
						</div>
						<p>
							<strong>Business Address</strong>
							<span class="width-mail" data-ng-bind="Myinfo.email" data-ng-hide="Edit"></span>
							<input type="text" data-ng-model="Myinfo.email" data-ng-if="Edit"/>
						</p>
						<div class="slideThree no checked switch" data-ng-class="{active : click1, activetrueCH :click1==true ,activefalseCh :click1==false}">	
							<input value="no" id="slideThree2" name="check" type="checkbox" data-ng-model="Myinfo.slideThree2">
							<label for="slideThree2" class="toggle" data-ng-click="click1 =! click1"></label>
						</div>
						<p>
							<strong>Business Type</strong>
							<span class="width-loca" data-ng-bind="Myinfo.location" data-ng-hide="Edit"></span>
							<input type="text" data-ng-model="Myinfo.location" data-ng-if="Edit" />
						</p>
						<div class="slideThree no checked switch" data-ng-class="{active : click2, activetrueCH :click2==true ,activefalseCh :click2==false}">	
							<input value="None" id="slideThree3" name="check" type="checkbox" data-ng-model="Myinfo.slideThree3"/>
							<label for="slideThree3" class="toggle" data-ng-click="click2 =! click2"></label>
						</div>
						<div class="clearfix"></div>
						<p class="">
							<strong>Logo/ Image</strong>
							<span class="width-pho" data-ng-bind="Myinfo.photo" data-ng-hide="Edit"></span>
							<input type="text" class="width-img" data-ng-model="Myinfo.photo" data-ng-if="Edit" />
						</p>
						<div class="" data-ng-if="Edit">
							<a class="color-b" href="javascript:;">
								<p class="browse bro a font-style-none">Browse</p>
							</a>
						</div>
						<div  class="slideThree yes switch mrt-40" data-ng-class="{checked1 : click3 , trueCH :click3==true ,falseCh :click3==false}">	
							<input class="mar-top" value="No" id="slideThree4" name="check" type="checkbox" data-ng-model="Myinfo.slideThree4">
							<label for="slideThree4" class="toggle" data-ng-click="click3 =! click3"></label>
						</div>
						<div class="clearfix"></div>
						<div class="des-h">
							<strong>Description</strong>
							<span class="width-description" data-ng-bind="Myinfo.description" data-ng-hide="Edit"></span>
							<input class="height72-uit" type="text" data-ng-model="Myinfo.description" data-ng-if="Edit"/>
							<div  class="slideThree yes switch des-h" data-ng-class="{checked1 : click5 , trueCH :click4==true ,falseCh :click5==false}">	
								<input  value="None" id="slideThree5" name="check" type="checkbox" data-ng-model="Myinfo.slideThree5" >
								<label for="slideThree5" class="toggle" data-ng-click="click5 =! click5"></label >
							</div>
						</div>
						<div class="clearfix"></div>
						<p>
							<strong>Hours Open</strong>
							<span class="width-hoursopen" data-ng-bind="Myinfo.hoursopen" data-ng-hide="Edit"></span>
							<input type="text" data-ng-model="Myinfo.hoursopen" data-ng-if="Edit"/>
						</p>
						<div class="slideThree yes switch" data-ng-class="{checked1 : click6 , trueCH :click6==true ,falseCh :click6==false}">	
							<input  value="None" id="slideThree6" name="check" type="checkbox" data-ng-model="Myinfo.slideThree6" >
							<label for="slideThree6" class="toggle" data-ng-click="click6 =! click6"></label >
						</div>
						<p>
							<strong>Website URL</strong>
							<span class="width-website" data-ng-bind="Myinfo.website" data-ng-hide="Edit"></span>
							<input type="text" data-ng-model="Myinfo.website" data-ng-if="Edit"/>
						</p>
						<div  class="slideThree yes switch" data-ng-class="{checked1 : click7 , trueCH :click7==true ,falseCh :click7==false}">	
							<input  value="None" id="slideThree7" name="check" type="checkbox" data-ng-model="Myinfo.slideThree7" >
							<label for="slideThree7" class="toggle" data-ng-click="click7 =! click7"></label >
						</div>
					</div>
				</div>
				<div class="no-bg">
					<div class="myinfo">
						<span class="con-info utl-12">Account Password</span>
						<a data-ng-hide="Edit" href=""><span class="icon font-style-none"></span>Change Password</a>
						<a data-ng-if="Edit" class="save-account account b">
							<p class="color-a font-style-none mar-top-si" href="javascript:;">Save Password</p>
						</a>
						<a data-ng-if="Edit" class="cancel-account cancel mar-r30">
							<p class="color-ca font-style-none mar-top-si" href="javascript:;">Cancel</p>
						</a>
					</div>
					<div class="clearfix"></div>
					<div class="contact-info">
						<p>
							<strong>Current Password</strong>
							<span class="w-pw" data-ng-bind="Myinfo.cupass" data-ng-hide="Edit"></span>
							<input type="text" class="current" data-ng-if="Edit" />
						</p>
						<p>
							<strong>New Password</strong>
							<span data-ng-hide="Edit"></span>
							<input type="text" class="new" data-ng-if="Edit" />
						</p>
						<p class="last">
							<strong>Confirm Password</strong>
							<span data-ng-hide="Edit"></span>
							<input type="text" class="confirm" data-ng-if="Edit" />
						</p>
					</div>
					<div class="clearfix"></div>
					<div>
						<div class="myinfo tih-mar">
							<span class="con-info utl-12">Account Payment Information</span>
							<a class="lut145" href="javascript:;" data-ng-click="Edit1=!Edit1" data-ng-hide="Edit1"><span></span>Edit</a>
							<div class="tit-mar" data-ng-show="Edit1" >
								<a class="color" href="javascript:;" data-ng-click="Edit1=false">Save Info
									<p class="save-info save"></p>
								</a>
							</div>
							<div class="tih-mar" data-ng-show="Edit1">
								<a class="color-c" href="javascript:;" data-ng-click="Edit1=false" >Cancel
									<p class="cancel-info cancel"></p>
								</a>
							</div>
						</div>
						<div class="clearfix"></div>
						<div class="contact-info w-hiw" data-ng-class="{click:Edit1}">
							<p>
								<strong>Owner’s First Name</strong>
								<span class="w-pw" data-ng-bind="Myinfo.name1" data-ng-hide="Edit1"></span>
								<input type="text" data-ng-model="Myinfo.name1" data-ng-if="Edit1" />
							</p>
							<div class="clearfix"></div>
							<p>
								<strong>Owner’s Last Name</strong>
								<span class="w-pw" data-ng-bind="Myinfo.name2" data-ng-hide="Edit1"></span>
								<input type="text" data-ng-model="Myinfo.name2" data-ng-if="Edit1" />
							</p>
							<div class="clearfix"></div>
							<p>
								<strong>Email</strong>
								<span class="w-pw" data-ng-bind="Myinfo.email" data-ng-hide="Edit1"></span>
								<input type="text" data-ng-model="Myinfo.email" data-ng-if="Edit1" />
							</p>
							<div class="clearfix"></div>
							<p>
								<strong>Date of Birth</strong>
								<span class="w-pw" data-ng-bind="Myinfo.datebirth" data-ng-hide="Edit1"></span>
								<input type="text"  data-ng-model="Myinfo.datebirth" data-ng-if="Edit1" />
							</p>
							<div class="clearfix"></div>
							<p>
								<strong>SSN#</strong>
								<span class="w-pw" data-ng-bind="Myinfo.ssn" data-ng-hide="Edit1"></span>
								<input type="text" data-ng-model="Myinfo.ssn" data-ng-if="Edit1" />
							</p>
							<div class="clearfix"></div>
							<p>
								<strong>Home Street Address</strong>
								<span class="w-pw" data-ng-bind="Myinfo.address" data-ng-hide="Edit1"></span>
								<input type="text" data-ng-model="Myinfo.address" data-ng-if="Edit1" />
							</p>
							<div class="clearfix"></div>
							<p>
								<strong>City</strong>
								<span class="w-pw" data-ng-bind="Myinfo.city" data-ng-hide="Edit1"></span>
								<input type="text" data-ng-model="Myinfo.city" data-ng-if="Edit1" />
							</p>
							<div class="clearfix"></div>
							<p>
								<strong>State</strong>
								<span class="w-pw" data-ng-bind="Myinfo.state" data-ng-hide="Edit1"></span>
								<input type="text" data-ng-model="Myinfo.state" data-ng-if="Edit1" />
							</p>
							<div class="clearfix"></div>
							<p>
								<strong>Zip Code</strong>
								<span class="w-pw" data-ng-bind="Myinfo.zipcode" data-ng-hide="Edit1"></span>
								<input type="text" data-ng-model="Myinfo.zipcode" data-ng-if="Edit1" />
							</p>
							<div class="clearfix"></div>
							<span class="utl-12">funding</span>
							<div class="clearfix"></div>
							<p>
								<strong>Descriptor</strong>
								<span class="w-pw" data-ng-bind="Myinfo.descriptor" data-ng-hide="Edit1"></span>
								<input type="text" data-ng-model="Myinfo.descriptor" data-ng-if="Edit1" />
							</p>
							<div class="clearfix"></div>
							<p>
								<strong>Destination</strong>
								<span class="w-pw" data-ng-bind="Myinfo.destination" data-ng-hide="Edit1"></span>
								<input type="text" data-ng-model="Myinfo.destination" data-ng-if="Edit1" />
							</p>
							<div class="clearfix"></div>
							<p>
								<strong>Email</strong>
								<span class="w-pw" data-ng-bind="Myinfo.email2" data-ng-hide="Edit1"></span>
								<input type="text" data-ng-model="Myinfo.email2" data-ng-if="Edit1" />
							</p>
							<div class="clearfix"></div>
							<p>
								<strong>Mobile Phone</strong>
								<span class="w-pw" data-ng-bind="Myinfo.mobilephone" data-ng-hide="Edit1"></span>
								<input type="text" data-ng-model="Myinfo.mobilephone" data-ng-if="Edit1" />
							</p>
							<div class="clearfix"></div>
							<p>
								<strong>Accounting Number</strong>
								<span class="w-pw" data-ng-bind="Myinfo.accounting" data-ng-hide="Edit1"></span>
								<input type="text" data-ng-model="Myinfo.accounting" data-ng-if="Edit1" />
							</p>
							<div class="clearfix"></div>
							<p>
								<strong>Routing Number</strong>
								<span class="w-pw" data-ng-bind="Myinfo.routing" data-ng-hide="Edit1"></span>
								<input type="text" data-ng-model="Myinfo.routing" data-ng-if="Edit1" />
							</p>
							
						</div>
					</div>
				</div>
			</div>
		</dd>
	</dl>
	<div class="clearfix"></div>
	<dl class="right cart founderShares history" data-ng-if="user.item == 1 && role=='founder'">
		<dt data-ng-bind="FounderShares.title"></dt>
		<dd>
			<div></div>
		</dd>
	</dl>
	<dl class="right cart founders" data-ng-if="user.item == 2">
		<dt data-ng-bind="Founders.title"></dt>
		<dd>
			<p class="title-table">
				<span data-ng-bind="Founders.li1"></span>
				<span data-ng-bind="Founders.li2"></span>
				<span data-ng-bind="Founders.li3"></span>
				<span data-ng-bind="Founders.li4"></span>
			</p>
			<div class="list new" data-ng-repeat="item in Founders.listItem">
				<div class="left">
					<a href="javascript:;"><p class="logoCart"><span data-ng-bind="item.company"></span></p></a>
					<p class="nameCart" data-ng-bind="item.name"></p>
				</div>
				<div class="left active">
					<div class="userCheck">
						<p data-ng-class="{checked : item.userCheck1==true}"><input type="checkbox" value="None" id="userCheck1" name="check" data-ng-model="item.userCheck1" /></p>
						<p data-ng-class="{checked : item.userCheck2==true}"><input type="checkbox" value="None" id="userCheck2" name="check" data-ng-model="item.userCheck2"/></p>
						<p data-ng-class="{checked : item.userCheck3==true}"><input type="checkbox" value="None" id="userCheck3" name="check" data-ng-model="item.userCheck3"/></p>
						<a class="activity" href="javascript:;" data-ng-click="activeButton.item = $index">
							<p data-ng-class="{'color' : activeButton.item == $index}">Activity</p>
						</a>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</dd>
	</dl>
	<dl class="right cart" data-ng-if="user.item == 1 && role=='champion'" data-infinite-scroll="loadMore()">
		<dt data-ng-bind="MyCart.giftcards"></dt>
		<dd>
			<div class="left col">
				<label data-ng-bind="MyCart.totalSold"></label>
				<p data-ng-bind="MyCart.NumberSold"></p>
			</div>
			<div class="right col">
				<label data-ng-bind="MyCart.totalRedeemed"></label>
				<p data-ng-bind="MyCart.NumberRedeemed"></p>
			</div>
			<p class="clearfix"></p>
			<p class="title-table">
				<span class="user" data-ng-bind="MyCart.li1"></span>
				<span class="user" data-ng-bind="MyCart.li2"></span>
				<span class="user" data-ng-bind="MyCart.li3"></span>
				<span class="right" data-ng-bind="MyCart.li4"></span>
			</p>
			<div class="list" data-ng-repeat="item in MyCart.listItem">
				<div class="left">
					<a href="javascript:;"><p class="logoCart"><span data-ng-bind="item.company"></span></p></a>
					<label data-ng-bind="item.numberCart"></label>
					<p class="nameCart" data-ng-bind="item.name"></p>
				</div>
				<div class="right status">
					<div data-ng-hide="item.numberCart == '1'">
						<span data-ng-bind="item.amount1"></span>
						<span data-ng-bind="item.money1"></span>
						<span data-ng-bind="item.forResale"></span>
						<a href="javascript:;">
							<p data-ng-bind="item.cancel1"></p>
						</a>
					</div>
					<div data-ng-class="{row1 : item.numberCart == '1'}">
						<span data-ng-bind="item.amount2"></span>
						<span data-ng-bind="item.money2"></span>
						<a href="javascript:;">
							<p data-ng-bind="item.cancel2"></p>
						</a>
						<a href="#PostCards">
							<p class="green" data-ng-bind="item.resale" data-ng-class="{color:item.numberCart == '2'}"></p>
						</a>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
			<div data-ng-if="pause" class="load-more">
				<div id="bowl-ring">
					<div class="ball-holder">
						<div class="ball">
						</div>
					</div>
				</div>
				<span>Loading more 5 gift cards [from 30]</span>
			</div>
		</dd>
	</dl>
	<dl class="right cart history" data-ng-if="user.item == 3 && role=='founder'">
		<dt></dt>
		<dd>
			<div></div>
		</dd>
	</dl>
	<dl class="right cart history" data-ng-if="user.item == 3 && role=='champion'">
		<dt ></dt>
		<dd>
			<div></div>
		</dd>
	</dl>
	<dl class="right cart history" data-ng-if="user.item == 3 && role=='employee'">
		<dt></dt>
		<dd>
			<div></div>
		</dd>
	</dl>
	<dl class="right" data-ng-if="user.item == 4">
		<dt data-ng-bind="PlatformEmployee.info"></dt>
		<dd>
			<div>
				<div class="no-bg">
					<div class="myinfo" data-ng-init="SetPremissions=false">
						<span class="con-info">View All Employees</span>
						<p class="save-account account ml-315" data-ng-click="abc=true"   data-ng-hide="abc" >
							<a class="color-a f12 font-style-none" href="javascript:;">Set Premissions</a>
						</p>
						<p class="save-account account wi-479"  data-ng-show="abc" data-ng-click="abc=false" >
							<a class="color-a f12 font-style-none" href="javascript:;">Apply</a>
						</p>
						<p class="cancel-account cancel w140 ml-480"   data-ng-hide="abc">
							<a class="color-ca f12 font-style-none" href="javascript:;" data-ng-click="startAddNew()">Add Employee</a>
						</p>
					</div>
					<div class="clearfix"></div>
					<div class=" cl-em">
						<p class="thead-employee">
							<span class="name-1">Name</span>
							<span class="pass-1" data-ng-hide="abc">Password</span>
							<span class="pass-1" data-ng-show="abc">Permissions</span>
							<span class="opt-1 mar-left">Options</span>
						</p>
						<div class="clearfix"></div>
						<div data-ng-repeat="item in PlatformEmployee.listItem">
							<div class="item-a" data-ng-init="SetPremissions=false">
								<input class="name-x" type="text" data-ng-if="SetPremissions" data-ng-model="item.name"/>
								<span class="name-129" data-ng-if="!SetPremissions">{{item.name}}</span>
								
								<span data-ng-if="!SetPremissions" data-ng-hide="abc">{{item.password}}</span>
								<span data-ng-show="abc">&nbsp;</span>
								<input class="name-x" type="text" data-ng-if="SetPremissions" data-ng-model="item.password"/>

								<p class="cancel-account cancel ma-lt" data-ng-click="SetPremissions=!SetPremissions" data-ng-hide="SetPremissions">
									<a class="color-ca font-style-none" href="javascript:;">Modify</a>
								</p>
								<p class="cancel-account cancel ma-lt" data-ng-show="SetPremissions">
									<a class="color-ca" href="javascript:;" data-ng-click="SetPremissions=false">Save</a>
								</p>
								<p class="cancel-account cancel ma-de">
									<a class="color-ca font-style-none" href="javascript:;">Delete</a>
								</p>
							</div>
							
						</div>
						<div class="clearfix"></div>
						<div class="item-a" data-ng-init="SetPremissions=false" data-ng-if="showAddNew">
								<input class="name-x" type="text"  data-ng-model="itemNew.name"/>
								
								<input class="name-x" type="text"  data-ng-model="itemNew.password"/>
								<p class="cancel-account cancel ma-lt" >
									<a class="color-ca" href="javascript:;" data-ng-click="addItem(itemNew, PlatformEmployee.listItem)">Save</a>
								</p>
								<p class="cancel-account cancel ma-de">
									<a class="color-ca" href="javascript:;">Delete</a>
								</p>
							</div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</dd>
	</dl>
	<div class="clearfix"></div>
</article>
<!-- end content -->

<!-- footer -->
<footer id="footer" data-ng-include="'partials/module/footer.html'">
	
</footer>
<!-- end footer -->
