<!-- header-->
<header id="header" class="pad-header" data-ng-include="'partials/module/header.html'"></header>
<!-- end header-->

<!-- nav-->
<nav id="nav" data-ng-include="'partials/module/nav.html'" data-sticky=""></nav>
<!-- end nav-->

<!-- content -->
<article class="PostCards" data-ng-controller="PostCardsCtrl">
	<div class="mypostcard">
		<span class="text" data-ng-bind="PostCards.info"></span>
		<div class="btn-postcard">
			<p class="save-account account mar-right">
				<a class="color-a mar" href="#">Save</a>
			</p>
			<p class="cancel-account cancel mar-right">
				<a class="color-ca mar" href="#">Cancel</a>
			</p>
		</div>
	</div>
	<span class="border-bottom"></span>
	<dl class="">
		<dt></dt>	
		<dd>
			<div class="ct-postcard">
				<div class="gift-amount">
					<span>Gift Card Amount</span>
					<input type="text" data-ng-model="PostCards.CardAmount"/>
					<span>% Off</span>
					<p class="arrow"></p>
				</div>
				<div class="item color shop-card-top">
					<a href="javascript:;"><p><span class="title-shopping line-height-15" data-ng-bind="PostCards.logo" data-ng-click="showInfo(item)"></span></p></a>
					<p class="name-shopping " data-ng-bind="PostCards.name"></p>
					<span class="activation-shopping" data-ng-bind="PostCards.activation"></span>
					<span data-ng-bind="PostCards.data"></span>
					<span data-ng-bind="PostCards.time"></span>
					<div class="clearfix"></div>
					<div class="info-shopping">
						<div class="left margin-shop-card">
							<label class="sale-shopping margin-bottom-6" data-ng-bind="PostCards.sale"></label>
							<span class="onOff-shopping" data-ng-bind="PostCards.onOff"></span>
							<hr/>
							<label class="expiration-shopping" data-ng-bind="PostCards.expiration"></label>
						</div>
						<div class="left radial-progress margin-shop-card" data-progress="{{PostCards.progess}}">
							<div class="circle">
								<div class="shadow "></div>
								<div class="mask full">
									<div class="fill" data-ng-class="{'color2': 0 < PostCards.progess <= 8, 'color1': 9 <= PostCards.progess, 'color3': 17 < PostCards.progess}"></div>
								</div>
								<div class="mask half">
									<div class="fill" data-ng-class="{'color2': 0 < PostCards.progess <= 8, 'color1': 9 <= PostCards.progess, 'color3': 17 < PostCards.progess}"></div>
									<div class="fill fix"></div>
								</div>
							</div>
							<div class="inset">
								<div class="percentage">
									<p><span>$</span><span class="progress">{{PostCards.progess}}</span></p>
									<p>remain</p>
								</div>
							</div>
						</div>
						<div class="clearfix"></div>
						
					</div>
				</div>
				<div class="gift-quantity">
					<p class="arrow"></p>
					<p>
						<span>Max Quantity Available </span>
						<span class="s500" data-ng-bind="PostCards.price"></span>
					</p>
					<span>My Quantity</span>
					<span class="sym-s">$</span>
					<input class="s500" type="text" data-ng-model="PostCards.quantity" />
					<div class="clearfix"></div>
				</div>
			</div>
			<div class="clearfix"></div>
			<div class="post-resale"> 
				<div class="chkResale">
					<!-- <input id="postresale" value="radio" name="postresale" checked="" type="radio">
					<span for="postresale">For Resale</span> -->
					<div class="roundedOne">
                        <input data-ng-model="func.viewOnly" type="radio"
                               name="addFunction1" id="Resale"
                               value="yes">
                        <label for="Resale">
                        </label>
                    </div>
                    <span for="Resale" class="font11">For Resale</span> 
				</div>
			</div>
			<div class="clearfix"></div>
			<div class="gift-description">
				<div class="text-offer">
					<div class="center">
						<p class="arrow fix"></p>
					</div>
					<p class="mar-text">Offer Description</p>
					<div class="mar-bo padding-bottom15 margin-top15">
						<p>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. 
						</p>
					</div>
				</div>
				
			</div>
		<div class="details-card" data-ng-if="display">
			<dl>
				<dt></dt>
				<dd>	
					
					<div class="view-postcard">
						<p>Your Founder$hare Posting is Now Active</p>
						<p>You can also share with:</p>

						<div class="share">
							<div class="share-color mar">
								<span class="color-1">f</span>
								<span class="color-2">t</span>
								<span class="color-3">g</span>
								<span class="color-4">in</span>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="clearfix"></div>
						<div class="add-postcard">
							<p class="done" data-ng-click="login('champion')">Done</p>
						</div>
						<div class="clearfix"></div>
					</div>
					
				</dd>
			</dl>
			<div class="clearfix"></div>
		</div>
			<div class="clearfix"></div>
			<div class="post-card-l" >
				<p class="save-account post" data-ng-click="showInfo(item)">
					<a class="color-a post" href="javascript:;">Post Now</a>
					<span class="icon"></span>
				</p>
			</div>
			<div class="clearfix"></div>
		</dd>
	</dl>
	
</article>
<!-- end content -->

<!-- footer -->

<footer id="footer" data-ng-include="'partials/module/footer.html'">
	
</footer>
<!-- end footer -->
