<div class="container landing">

  <div class="main modal-static">
      <div class="modal modal-forgot" data-ng-class="{'on':modal}">
        <h2>Forgot Password</h2>
        <form class="form" name="form">
            <p>We can help you reset your password using your email linked to your account:</p>
          <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" 
              data-ng-model="email" 
              data-ng-class="{true: 'error'}[submitted && form.email.$invalid]"
              required="required"
              data-ng-pattern="/^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/" />
          </div>
          <!-- End .form-group -->
          <a href="javascript:;" class="btn btn-secondary" data-ng-click="submit()">Submit</a>
        </form>
        <!-- End .form -->
      </div>
  </div>
  <!-- End .main -->
  
  
</div>
<!-- End .container -->