<div class="container posting">

  <div class="main no-background">
  	<h2>Founder$hare Posting</h2>
    <div class="button-group">
    	<a href="javascript:;" class="btn btn-secondary btn-save" ngc-submit-form="'#founderForm'">Save</a>
      <a href="#/Founder$hares" class="btn btn-primary">Cancel</a>
    </div>
    <!-- End .button-group -->
    <form class="form" name="form" novalidate ng-submit="save()" id="founderForm">
    	<div  ng-if="cardOffer">
        <div class="business-info">
          <div class="logo"><img data-ng-src="{{selectedBusiness.picture}}" alt=""  /></div>
          <!-- End .logo -->
          <a href="javascript:;" class="link">{{selectedBusiness.name}}</a>
          <div class="activation">Activation : {{cardOffer.activationDateTime | date:'dd/MM/yyyy hh:mma'}}</div>
          <div class="info-bottom">
            <div class="discount">
              {{cardOffer.discount || 0}}%<span>off</span>
            </div>
            <div class="date">{{cardOffer.expirationDate ? '' : 'No Expiration Date'}}{{cardOffer.expirationDate | date:'dd/MM/yyyy'}}</div>
            <div class="left radial-progress percent" data-progress="{{progress}}">
              <div class="circle">
                <div class="shadow "></div>
                <div class="mask full">
                  <div class="fill" ></div>
                </div>
                <div class="mask half">
                  <div class="fill" ></div>
                  <div class="fill fix"></div>
                </div>
              </div>
              <div class="inset">
                <div class="percentage">
                  <p><span>$</span><span class="progress">{{cardOffer.totalQuantity - spentQuantity}}</span></p>
                  <p>remain</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End .business-info -->
        <div class="tip info">
          <div class="inner">
            <div class="form-group">
              <label>Business</label>
              <div  dropdown-select="businesses" dropdown-model="selectedBusiness" dropdown-item-label="name"></div>
            </div>
            <!-- End .form-group -->
            <div class="form-group">
              <label>Business Type</label>
              <input type="text" value="{{businessTypes[selectedBusiness.type - 1].name}}" readonly />
            </div>
            <!-- End .form-group -->
            <div class="form-group">
              <label>Business Location</label>
              <input type="text" value="{{selectedBusiness.address}}" readonly />
            </div>
            <!-- End .form-group -->
            <div class="form-group">
              <label>Business telephone</label>
              <input type="text" value="{{selectedBusiness.telephoneNumber}}" readonly />
            </div>
          </div>
        </div>
        <!-- End .tip -->
        <div class="tip discount">
          <div class="inner">
            <div class="form-group">
              <label for="discount">Founder$hare Discount</label>
              <input type="text" id="discount" name="discount"  max-number="100"  data-ng-model="cardOffer.discount" maxlength="3" numbers-only="numbers-only" required="required" />
              <span>% Off</span>
            </div>
            <!-- End .form-group -->
          </div>
        </div>
        <!-- End .tip -->
        <div class="tip post-date no-arrow">
          <div class="inner">
            <div class="form-group">
              <label for="end_date">Posting End Date</label>
              <input type="text" ngc-date id="end_date" data-ng-model="postingEnd.date" placeholder="31/12/2015" maxlength="10" />
            </div>
            <!-- End .form-group -->
            <div class="form-group">
              <label for="end_time">Time</label>
              <input type="text" ngc-time id="end_time" data-ng-model="postingEnd.time" placeholder="10:15 AM" maxlength="8" />
            </div>
            <!-- End .form-group -->
            <span>After 90 Days Posting Will Close</span>
          </div>
        </div>
        <!-- End .tip -->
        <div class="tip activation-date">
          <div class="inner">
            <div class="form-group inline">
              <label for="activation_date">Activation Date</label>
              <input type="text" id="activation_date" ngc-date data-ng-model="activation.date" placeholder="31/12/2015" maxlength="10" required="required" />
            </div>
            <!-- End .form-group -->
            <div class="form-group inline">
              <label for="activation_time">Time</label>
              <input type="text" id="activation_time" ngc-time data-ng-model="activation.time" placeholder="10:15 AM" maxlength="8" required="required" />
            </div>
            <!-- End .form-group -->
          </div>
        </div>
        <!-- End .tip -->
        <div class="tip max">
          <div class="inner">
            <div class="form-group">
              <label for="max">Max Quantity</label>
              <span>$</span>
              <input type="text" id="max" data-ng-model="cardOffer.totalQuantity" maxlength="4" numbers-only="numbers-only" required="required" />
            </div>
            <!-- End .form-group -->
          </div>
        </div>
        <!-- End .tip -->
      </div>
      <div class="resale">
      	<div class="tool hidden">For Resale</div>
        <div class="tip">
        	<h3>Offer Description</h3>
          <textarea id="desc" required ng-required="true" ng-model="cardOffer.description"></textarea>
          <h3>Founder$hare Conditions</h3>
          <textarea disabled="disabled">{{selectedBusiness.conditions.join("\n")}}</textarea>
        </div>
      </div>
      <!-- End .resale -->
      <a href="javascript:;" class="btn btn-secondary btn-post" ng-if="cardOffer.status == 'DRAFT'" data-ng-click="postNow()" ngc-submit-form="'#founderForm'" data-only-mark="true">Post Now</a>
    </form>
    <!-- End .form -->
  </div>
  <!-- End .main -->
  
  <div class="modalBg" 
  	data-ng-class="{'on': modal}"
    data-ng-click="closeModal()"></div>
  <div class="modal" data-ng-class="{'on': saveModal}">
    <p>Your Founder$hare Posting is saved</p>
    <div class="button-group">
    	<a href="javascript:;" class="btn btn-secondary" data-ng-click="closeModal()">Done</a>
    </div>
  </div>
  <div class="modal" data-ng-class="{'on': notDraftModal}">
    <p>Only drafts can be saved.</p>
    <div class="button-group">
    	<a href="javascript:;" class="btn btn-secondary" data-ng-click="closeModal()">Done</a>
    </div>
  </div>
  <!-- End .modal -->
  <div class="modal modal-post" data-ng-class="{'on': postModal}">
    <p>Your Founder$hare Posting is Now Active</p>
    <div class="bar">
    	<dl>
      	<dt>Share</dt>
          
        <dd><a href="javascript:;" class="icon icon-f" data-ng-click="shareUrl('facebook', cardOffer.id, cardOffer.businessName)"></a></dd>
        <dd><a href="javascript:;" class="icon icon-t" data-ng-click="shareUrl('twitter', cardOffer.id, cardOffer.businessName)"></a></dd>
        <dd><a href="javascript:;" class="icon icon-g" data-ng-click="shareUrl('googleplus', cardOffer.id, cardOffer.businessName)"></a></dd>
        <dd><a href="javascript:;" class="icon icon-in" data-ng-click="shareUrl('linkedin', cardOffer.id, cardOffer.businessName)"></a></dd>
      </dl>
    </div>
    <div class="button-group">
    	<a href="#/Founder$hares" class="btn btn-secondary">Done</a>
    </div>
  </div>
  
</div>
<!-- End .container -->