<div class="container founder">

	<aside>
  	<div class="profile">
    	<div class="thumb"><img src="../i/thumb.png" alt="Thumb" /></div>
    </div>
    <ul>
    	<li><a href="#/myInfo">My Info</a></li>
        <li><a class="active" href="javascript:;">My Founder$hares</a></li>
        <li><a href="#/history">My History</a></li>
        <li><a href="#/FounderMyEmployees">Employees</a></li>
    </ul>
    <a href="#/VerifyAccount" class="note" data-ng-show="role ==='Founder'">Not a Verified Business</a>
  </aside>
  <!-- End Aside -->
  <div class="main">
  	<h2>My Founder$hares</h2>
    <div class="bar">
    	<dl>
      	<dt>Total amount Sold</dt>
        <dd>{{totalAmountSold | currency:"$ ":0}}</dd>
      </dl>
      <dl>
      	<dt>Total F$’s</dt>
        <dd>{{totalCount}}</dd>
      </dl>
      <dl>
      	<dt>Total amount Redeemed</dt>
        <dd>{{totalAmountRedeemed | currency:"$ ":0}}</dd>
      </dl>
    </div>
    <!-- End .bar -->
    <div class="well">
    	<ul>
      	<li>Current Posting</li>
        <li>Status</li>
        <li>Options</li>
      </ul>
    </div>
    <!-- End .well -->
    <div class="data"  ng-repeat="item in offers">
    	<ul>
      	<li>
            <div class="business-info">
                <div class="logo"><a href="#/FounderF$Posting?id={{item.id}}"><img src="../i/image.jpg" data-ng-src="{{item.businessPicture}}" alt="Pic" /></a></div>
                <!-- End .logo -->
                <a href="#/FounderF$Posting?id={{item.id}}" class="link">{{item.businessName}}</a>
                <div class="activation">Activation : {{item.activationDateTime | date:'dd/MM/yyyy hh:mm a'}}</div>
                <div class="info-bottom">
                  <div class="discount">
                      {{item.discount}}%<span>off</span>
                  </div>
                  <div class="date">{{item.expirationDate ? '' : 'No Expiration Date'}}{{item.expirationDate | date:'dd/MM/yyyy'}}</div>
                    <div class="left radial-progress percent" data-progress="{{item.availableQuantity}},{{item.totalQuantity}}">
                        <div class="circle">
                            <div class="shadow "></div>
                            <div class="mask full">
                                <div class="fill" ></div>
                            </div>
                            <div class="mask half">
                                <div class="fill" ></div>
                                <div class="fill fix"></div>
                            </div>
                        </div>
                        <div class="inset">
                            <div class="percentage">
                                <p><span>$</span><span class="progress">{{item.availableQuantity}}</span></p>
                                <p>remain</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End .business-info -->
        </li>
        <li>
        	<dl>
          	<dt>Time remaining:</dt>
            <dd>{{item.expirationDate | timeRemaining}}</dd>
            <dt>Goal amount:</dt>
            <dd>{{item.goalAmount || 0}}</dd>
            <dt>Goal reached:</dt>
            <dd>{{item.goalReached || 0}}</dd>
            <dt>Champions:</dt>
            <dd>{{item.numberOfGiftCard || 0}}</dd>
            <dt>Amount redeemed:</dt>
            <dd>{{item.redeemedQuantity || 0}}</dd>
          </dl>
        </li>
        <li>
            <a href="#/FounderF$Posting" class="btn btn-secondary" ng-if="$index == 0">Create</a>
          <a href="javascript:;" ng-if="item.status !== 'CANCELLED'" class="btn btn-danger" ng-click="cancel(item)">Cancel Posting</a>
        </li>
      </ul>
    </div>
      <div class="data"  ng-if="!offers.length">

          <ul>
              <li>&nbsp;</li>
              <li>&nbsp;</li>
              <li><a href="#/FounderF$Posting" class="btn btn-secondary">Create</a></li>
          </ul>
              
      </div>
    <!-- End .data -->
  </div>
  <!-- End .main -->
  
</div>
<!-- End .container -->