<div class="container-wide">
<div class="logo">
    <a href="javascript:;"><img src="../../i/logo-footer.png" alt="Believe in the furture" /></a>
  </div>
  <dl>
    <dt class="connect-with-us">Connect with us</dt>
      <dd>
          <div class="share" style="padding: 0">
              <div class="share-color">
                  <span class="facebook" data-ng-click="openUrl('https://www.facebook.com/foundershare')"><i class="flaticon-facebook"></i></span>
                  <span class="twitter" data-ng-click="openUrl('https://twitter.com/FounderShare')"><i class="flaticon-twitter"></i></span>

                  <span class="linkedin" data-ng-click="openUrl('https://instagram.com/foundershare')"><i class="flaticon-instagram"></i></span>
                  <span class="instagram" data-ng-click="openUrl('https://www.linkedin.com/company/foundershare-inc-?')"><i class="flaticon-linkedin"></i></span>
              </div>
          </div>
      </dd>
  </dl>
  <div class="navs-footer">
    <ul>
      <li><a href="{{ staticUrls.privacy_policy }}">PRIVACY POLICY</a></li>
      <li><a href="{{ staticUrls.terms_of_use }}">TERMS OF USE</a></li>
      <li><a href="{{ staticUrls.copyright }}">COPYRIGHT</a></li>
      <li data-ng-show="hadLogin"><a href="#/ReportAbuse">REPORT ABUSE</a></li>
    </ul>
    <p>Copyright 2015 FounderShare, Inc. All rights reserved.</p>
  </div>
  <!-- End .navs-footer -->
</div>
