<div class="container landing">

  <div class="main no-background">
  	<img src="../i/home-placeholder.png" alt="Home" />
  </div>
  <!-- End .main -->
  
  <div class="modalBg" 
  	data-ng-class="{'on':modal}"
    data-ng-click="closeModal()"></div>
  <div class="modal modal-forgot" data-ng-class="{'on':modal}">
  	<h2>Forgot Password</h2>
    <form class="form" name="form">
    	<p>We can help you reset your password using your email linked to your account:</p>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" 
          data-ng-model="email" 
          data-ng-class="{true: 'error'}[submitted && form.email.$invalid]"
          required="required" />
      </div>
      <!-- End .form-group -->
      <a href="javascript:;" class="btn btn-secondary" data-ng-click="submit()">Submit</a>
    </form>
    <!-- End .form -->
  </div>
  
</div>
<!-- End .container -->