<div class="container landing">

  <div class="main">
  	<ul>
    	<li><a href="#/ChampionMyHistory">Champion_MyHistory</a></li>
      <li><a href="#/FounderF$Posting">Founder_F$Posting</a></li>
      <li><a href="#/FounderMyEmployees">Founder_MyEmployees</a></li>
      <li><a href="#/Founder$hares">Founder_MyF$</a></li>
      <li><a href="#/FounderMyHistory">Founder_MyHistory</a></li>
      <li><a href="#/Payment">Payment</a></li>
      <li><a href="#/FounderStatus">PlatEmployee_FounderStatus</a></li>
      <li><a href="#/PlatEmployeeMyInfo">PlatEmployee_MyInfo</a></li>
      <li><a href="#/ProvideFeedback">ProvideFeedback</a></li>
      <li><a href="#/Register">Register</a></li>
      <li><a href="#/ReportAbuse">ReportAbuse</a></li>
      <li><a href="#/ResetPassword">ResetPassword</a></li>
      <li><a href="#/ShoppingCart">ShoppingCart</a></li>
      <li><a href="#/VerifyAccount">VerifyAccount</a></li>
      <li><a href="#/ForgotPassword">ForgotPassword</a></li>
    </ul>
  </div>
  <!-- End .main -->
  
</div>
<!-- End .container -->