<div class="container landing">

  <div class="main no-background">
  	<img src="../i/home-placeholder.png" alt="Home" />
  </div>
  <!-- End .main -->
  
  <div class="modalBg" 
  	data-ng-class="{'on':modal}"
    data-ng-click="closeModal()"></div>
  <div class="modal modal-reset" data-ng-class="{'on':modal}">
  	<h2>Reset Password</h2>
    <form class="form" name="form" novalidate>
    	<p>Reset Your Password</p>
      <div class="form-group">
      	<label for="password">New Password</label>
       	<input type="password" name="password" id="password" 
        	data-ng-model="password" 
          data-ng-class="{true: 'error'}[submitted && form.password.$invalid]"
          required="required" />
      </div>
      <!-- End .form-group -->
      <div class="form-group">
      	<label for="confirm_password">Confirm Password</label>
       	<input type="password" name="confirm_password" id="confirm_password" 
        	data-ng-model="confirm_password" 
          data-ng-class="{true: 'error'}[submitted && form.confirm_password.$invalid]"
          pw-check="password" 
          required="required" />
      </div>
      <!-- End .form-group -->
      <a href="javascript:;" class="btn btn-secondary" data-ng-click="submit()">Submit</a>
    </form>
    <!-- End .form -->
  </div>
  
</div>
<!-- End .container -->