<div class="container-fluid">
    <div class="offerDetailsWrap">
        <section class="businessBlock offerDetail">
            <figure class="busLogoWrap">
                <img src="i/px.png" class="thumb" alt="" data-ng-src="{{offerDetail.logo}}" />
            </figure>
            <div class="infoWrap">
                <div class="info addCart">
                    <h3 class="name">{{offerDetail.name}}</h3>
                    <div class="address">
                        {{offerDetail.address.address}},
                        <br/>{{offerDetail.address.city}}, {{offerDetail.address.state}} {{offerDetail.address.zip}}
                        <br/> {{offerDetail.phone}}
                    </div>
                    <!-- /.address -->
                    <div class="actn">
                        <button class="btn btn-success btn-cart" data-ng-click="addToCart()">Add to Cart</button>
                    </div>
                </div>
                <!-- /.info -->
            </div>
            <div class="more">
                <div class="off">
                    <div class="per"><span class="val">{{offerDetail.offer.discount}}% </span><sup>off</sup></div>
                    <!-- /.per -->
                    <div class="expiry"><span data-ng-if="!offerDetail.offer.expiration || offerDetail.offer.expiration===null">No expiration date</span><span data-ng-if="offerDetail.offer.expiration && offerDetail.offer.expiration!==null">{{offerDetail.offer.expiration}}</span></div>
                </div>
                <!-- /.off -->
                <div class="remain gaugeWrap">
                    <div data-ng-if="offerDetail.offer.remainPercentage" data-ngc-gauge="ngc-gauge" data-gstyle="gaugestyle" class="gaugeEl" data-options="offerDetail.offer.remainPercentage"></div>
                    <div class="gauge-label">${{offerDetail.offer.remain}}</div>
                    <div class="gauge-caption">remain</div>
                </div>
                <!-- gaugeWrap -->
                <div class="clear"></div>
                <div class="rows">
                    <div class="rw">
                        <div class="lbl">Amount Sold</div>
                        <div class="val">${{offerDetail.offer.amountSold}}</div>
                    </div>
                    <div class="rw">
                        <div class="lbl">Days Remaining</div>
                        <div class="val">{{offerDetail.offer.daysRemaining}}</div>
                    </div>
                </div>
            </div>
            <!-- /.more -->
            <div class="timeline">
                <div class="rw">
                    <div class="lbl">Creation Date</div>
                    <div class="val">{{offerDetail.creation}}</div>
                </div>
                <div class="rw">
                    <div class="lbl">Activation Date</div>
                    <div class="val">{{offerDetail.activation}}</div>
                </div>
            </div>
            <!-- /.timeline -->
            <div class="clear"></div>
        </section>
    </div>
    <!-- /.offerDetailsWrap -->
</div>
<figure class="map overviewDetails" data-ng-if="offerDetail.address.position.lng">
    <img src="https://maps.googleapis.com/maps/api/staticmap?center={{offerDetail.address.position.lat}}, {{offerDetail.address.position.lng}}&zoom=13&size=400x180&maptype=roadmap&markers=markers=color:red%7C{{offerDetail.address.position.lat}},{{offerDetail.address.position.lng}}" class="mp" alt="" />
    <div class="figCaption">{{offerDetail.address.address}}, {{offerDetail.address.city}}, {{offerDetail.address.state}} {{offerDetail.address.zip}}</div>
    <!-- /.figCaption -->
</figure>
<div class="container-fluid overviewDetails">
    <div class="hours">
        <div class="owrap">
            Hours :
            <br/> {{offerDetail.hours.open}}, {{offerDetail.hours.closed}}
        </div>
    </div>
    <!-- /.hours -->
    <div class="owrap rounded">
        <section class="desc">
            <h4 class="title">Description</h4>
            <div class="dcon">{{offerDetail.description}}
            </div>
            <!-- /.dcon -->
        </section>
        <section class="desc">
            <h4 class="title">Conditions</h4>
            <ul class="lst">
                <li data-ng-repeat="condition in offerDetail.conditions">{{condition}}</li>
            </ul>
        </section>
        <section class="desc">
            <h4 class="title">Comment</h4>
            <div class="commentList" data-ng-class="{'closed':commentsClosed}">
                <h4 class="heading" data-ng-click="commentsClosed = !commentsClosed">{{offerDetail.comments.length}} comment</h4>
                <a class="toggleArrow" data-ng-click="commentsClosed = !commentsClosed"></a>
                <ul class="lst">
                    <li data-ng-repeat="cmnt in offerDetail.comments">
                        <div class="usr"><a>{{cmnt.postedBy}}</a></div>
                        <!-- /.usr -->
                        <div class="postedOn">{{cmnt.postedOn}}</div>
                        <div class="comment">{{cmnt.comment}}</div>
                    </li>
                </ul>
                <!-- /.lst -->
            </div>
            <form class="frm">
                <textarea class="textarea" data-ng-model="offerDetail.comment" placeholder="Add a comment"></textarea>
                <div class="actn">
                    <button class="btn btn-submit">Submit Comment</button>
                </div>
            </form>
        </section>
    </div>
</div>
<!-- /.container-fluid -->

<div class="modalWrap" data-ng-show="hasCartMsg">
    <div class="modal modal-{{currentMessage.type}}">
        <header class="mhead">
            <h3 class="heading"><span class="ico ico-{{currentMessage.type}}">{{currentMessage.title}}</span></h3>
        </header>
        <!-- /.mhead -->
        <div class="mcon">{{currentMessage.msgText}}</div>
        <!-- /.mcon -->
        <footer class="actn">
            <button class="btn btn-primary" data-ng-click="hasCartMsg = false;">Cancel</button>
            <button class="btn btn-success btn-login" data-ng-click="goto('/login/:myCart')">Login Now</button>
            <div class="clear"></div>
        </footer>
        <!-- /.actn -->
    </div>
    <!-- /.modal -->
</div>
<!-- /.modalWrap -->


<div class="modalWrap successModal" data-ng-show="global.transactionCompleted">
    <div class="modal modal-{{currentMessage.type}}">
        <header class="mhead">
            <h3 class="heading"><span class="ico ico-completed">Transaction Complete!</span></h3>
        </header>
        <!-- /.mhead -->
        <div class="shareOn">
            <div class="inner">
                <span class="lbl">Share on :</span>
                <ul>
                    <li>
                        <a class="shareOpt fb" data-ng-click="shareOn(true);"></a>
                    </li>
                    <li>
                        <a class="shareOpt tw" data-ng-click="shareOn();"></a>
                    </li>
                    <li>
                        <a class="shareOpt gp" data-ng-click="shareOn();"></a>
                    </li>
                    <li>
                        <a class="shareOpt in" data-ng-click="shareOn();"></a>
                    </li>
                </ul>
            </div>
            <!-- /.inner -->
        </div>
        <footer class="actn">
            <button class="btn btn-submit" data-ng-click="global.transactionCompleted = false; ">Done</button>
            <div class="clear"></div>
        </footer>
        <!-- /.actn -->
    </div>
    <!-- /.modal -->
</div>
<!-- /.successModal -->

<div class="modalWrap errModal zp" data-ng-show="global.isShareError">
    <div class="modal modal-{{shareMessage.type}}">
        <header class="mhead">
            <h3 class="heading"><span class="ico ico-{{shareMessage.type}}">{{shareMessage.title}}</span></h3>
        </header>
        <!-- /.mhead -->
        <div class="mcon wider">{{shareMessage.msgText}}</div>
        <!-- /.mcon -->
        <footer class="actn ls">
            <button class="btn btn-primary" data-ng-click="global.isShareError = false;">Cancel</button>
            <button class="btn btn-success btn-login" data-ng-click="global.isShareError = false;">Contact Support</button>
            <div class="clear"></div>
        </footer>
        <!-- /.actn -->
    </div>
    <!-- /.modal -->
</div>
<!-- /.errModal -->




<div class="modalWrap errModal zp" data-ng-show="global.isSendError">
    <div class="modal modal-{{sendSuccessMessage.type}}">
        <header class="mhead">
            <h3 class="heading"><span class="ico ico-{{sendSuccessMessage.type}}">{{sendSuccessMessage.title}}</span></h3>
        </header>
        <!-- /.mhead -->
        <div class="mcon wider">{{sendSuccessMessage.msgText}}</div>
        <!-- /.mcon -->
        <footer class="actn ls">
            <button class="btn btn-primary" data-ng-click="global.isSendError = false;">Cancel</button>
            <button class="btn btn-success btn-login" data-ng-click="global.isSendError = false;">Contact Support</button>
            <div class="clear"></div>
        </footer>
        <!-- /.actn -->
    </div>
    <!-- /.modal -->
</div>
<!-- /.errModal -->

<div class="modalWrap successModal" data-ng-show="global.isShareSuccess">
    <div class="modal modal-{{shareMessage.type}}">
        <header class="mhead">
            <h3 class="heading alt"><span class="ico ico-{{shareMessage.type}}">{{shareMessage.title}}</span></h3>
        </header>
        <!-- /.mhead -->
        <div class="mcon ah">{{shareMessage.msgText}}</div>
        <!-- /.mcon -->
        <footer class="actn">
            <button class="btn fluid btn-submit" data-ng-click="global.isShareSuccess = false;">Done</button>
            <div class="clear"></div>
        </footer>
        <!-- /.actn -->
    </div>
    <!-- /.modal -->
</div>
<!-- /.successModal -->

<div class="modalWrap successModal" data-ng-show="global.isSendSuccess">
    <div class="modal modal-{{sendSuccessMessage.type}}">
        <header class="mhead">
            <h3 class="heading alt"><span class="ico ico-{{sendSuccessMessage.type}}">{{sendSuccessMessage.title}}</span></h3>
        </header>
        <!-- /.mhead -->
        <div class="mcon ah">{{sendSuccessMessage.msgText}}</div>
        <!-- /.mcon -->
        <footer class="actn">
            <button class="btn fluid btn-submit" data-ng-click="global.isSendSuccess = false;">Done</button>
            <div class="clear"></div>
        </footer>
        <!-- /.actn -->
    </div>
    <!-- /.modal -->
</div>
<!-- /.successModal -->
