@charset "utf-8";
/* CSS Document */
html, 
body, 
div, 
span, 
applet, 
object, 
iframe,
h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
p, 
blockquote, 
pre,
a, 
abbr, 
acronym, 
address, 
big, 
cite, 
code,
del, 
dfn, 
em, 
font, 
img, 
ins, 
kbd, 
q, 
s, 
samp,
small, 
strike, 
strong, 
sub, 
sup, 
tt, 
var,
b, 
u, 
i, 
center,
dl, 
dt, 
dd, 
ol, 
ul, 
li,
fieldset, 
form, 
label, 
legend,
table, 
caption, 
tbody, 
tfoot, 
thead, 
tr, 
th, 
td,
article,
aside,
command,
details,
figcaption,
figure,
footer,
header,
hgroup,
mark,
meter,
nav,
output,
progress,
section,
summary,
time,
textarea {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background: transparent;
	}
	
li {
	list-style: none;
	}
	
html {
	height: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	}
	
.hide {
	display: none;
	}

a {
	background: transparent;
	text-decoration: none;
	}
	
a:active,
a:hover {
	outline: 0;
	}

img {
	border: 0;
	}
	
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	}
	
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	}
	
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 1;
	color: #333333;
	overflow-x: hidden;
	position: relative;
    
	min-height: 100%;
}

.blur{
    -webkit-filter: blur(5px);
    filter: blur(5px);
    filter: url(blur.svg#blur);
}

body > div
{
    min-height: 100%;
}

/*vertical align child */
.vertical-align-subs
{
    position: relative;
}

.vertical-align-subs > *
{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);

}

.icon
{
    display: inline-block;
}

/* for login page */
#login, .sign-up
{
    min-height: 100%;
    background-color: #ffffff; /* for old browser*/
    background: -webkit-linear-gradient(to bottom, #ffffff 0%,#f2f2f2 100%);
    background: -moz-linear-gradient(to bottom, #ffffff 0%,#f2f2f2 100%);  /* FF3.6+ */
    background: -webkit-linear-gradient(to bottom, #ffffff 0%,#f2f2f2 100%); ; /* Chrome10+,Safari5.1+ */
    background: linear-gradient(to bottom, #ffffff 0%,#f2f2f2 100%); /* W3C */
    padding-bottom: 17px;
}

    #login header
    {
        padding-top: 30px;
    }
    /*login page */
    header .logo
    {
        margin-bottom: 19px;
        height: 100px;
        position: relative;
        text-align: center;
    }

    header .logo img
    {
        z-index: 1;
    }

    header .logo-back-rect
    {
        position: absolute;
        height: 40px;
        width: 100%;
        background-color: #d7d7d7;
        z-index: 0;
    }

    #login form
    {
        width: 258px;
        margin:  0 auto;
        text-align: center;
    }

    #login .main-container h2, .sign-up h2
    {
        text-align: center;
        font-size: 18px;
        margin-bottom: 21px;
        vertical-align: middle;
    }

    #login .form-group
    {
        border: 1px solid #c2c2c2;
        padding-left: 10px;
        border-radius: 2px;
        background-color:  #f2f2f2;
        margin-bottom: 9px;
        height: 43px;
        vertical-align: middle;
    }

    #login .form-group > *, .remember-me-group > *
    {
        float: left;
        display: inline-block;
    }

    .remember-me-group
    {
        height: 17px;
    }
    .remember-me-group .check-box
    {
        margin-right:4px;
    }

    .remember-me-group .forget-password, a
    {
        font-family: arial, helvetica, sans-serif;
        color:  #125579;
        font-size: 14px;
        font-weight: 400;
    }

    .remember-me-group .forget-password
    {
        float: right;
    }

    #login .form-group  input
    {
        border: 0;
        background-color: transparent;
        margin-left: 10px;
        font-size: 16px;
        line-height: 20px;
        height: 20px;
        vertical-align: middle;
        color: #333333;
    }

    /* setting for placeholder */
    input::-webkit-input-placeholder {
        color: #939393 ; /* WebKit browsers */
        font-style: italic;
    }

    input:-moz-placeholder {
        color: #939393 ;
        font-style: italic;
    }

    input::-moz-placeholder {
        color: #939393 ;
        font-style: italic;
    }

    input:-ms-input-placeholder {
        color: #939393 ;
        font-style: italic;
    }

    .btn
    {
        display: inline-block;
        border-radius: 5px;
        background-color: rgb(18, 85, 121);
        box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, 0.3);
        height: 50px;
        font-size: 18px;
        color: rgb(255, 255, 255);
        text-align: center;
        line-height: 50px;
        vertical-align: middle;
    }

    .btn:active
    {
        box-shadow: none;
    }

    .btn-cancel, .btn-inactive
    {
        display: inline-block;
        border-radius: 5px;
        background-color: rgb(85, 85, 85);
        box-shadow: inset 0px -5px 0px 0px rgba(0, 0, 0, 0.3);
        height: 50px;
        font-size: 18px;
        color: rgb(255, 255, 255);
        text-align: center;
        line-height: 50px;
        vertical-align: middle;
    }

    .btn-cancel:active
    {
        box-shadow: none;
    }

    /* login button */
    .btn-login
    {
        width: 261px;
    }

    #login .btn-group
    {
        margin-top: 19px;
        margin-bottom: 9px;
    }

    .sign-up-info
    {
        vertical-align: middle;
    }

    .sprite-shadow-hspliter
    {
        margin: 40px auto 0 auto;

    }

    div.social-media-box
    {
        margin-top: 5px;
        text-align: center;
    }

    div.social-media-box > div:first-child
    {
        color:  #333333;
        font-size: 14px;
        line-height: 14px;
        text-align: center;
    }

    .social-media-groups
    {
        margin-top: 21px;
        font-size: 0;
    }

    .social-media
    {
        display: inline-block;
        margin-left: 39px;
    }

    .social-media:first-child
    {
        margin-left: 0;
    }

    /* social icons */
    .social-media .active
    {
        display: none;
    }

    .social-media  .inactive
    {
        display: inline-block;
    }

    .social-media:active .active
    {
        display: inline-block;
    }

    .social-media:active .inactive
    {
        display: none;
    }

    .check-box
    {
        width: 17px;
        height: 17px;
        line-height: 17px;
        border: 1px solid #c2c2c2;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
    }

    /* set tick in check box */
    .check-box > div
    {
        position: absolute;
        left:0;
        right:0;
        margin-left:auto;
        margin-right:auto;
        display: none;
    }

    .checked > div
    {
        display: inline-block;
    }

    /* error style */
    .error-message
    {
        color:  #ff0101;
        font-size: 14px;
        margin-bottom: 8px;
        visibility: hidden;
    }

    .error .error-message
    {
        visibility: visible;
    }

    #login form.error .form-group
    {
        border: 1px solid #ff0000;
    }


/* business home */
#business-home, .business-home
{
   height: 100%;
   min-height: 100%;
    }

    .business-home header
    {
    position: fixed;
    background-color:#007035;
    height: 42px;
    width: 100%;
    text-align: center;
    z-index: 5;
}

    /* for business home menu header, divide to 3 columns */
    .business-home header > div
    {
        float: left;
        min-height: 50%;
    }

    .business-home header > div:nth-child(1),
    .business-home header > div:nth-child(3)
    {
        width: 15%;
    }

    .business-home header > div:nth-child(2)
    {
        width: 70%;
    }

    .business-home .menu-title
    {
        color: #ffffff;
        font-size: 18px;
        height: 1em;
        line-height: 1em;
        vertical-align: middle;
    }

     .business-home header .sprite-hamburger-menu
    {
        float: right;
         margin-right: 19px;
    }

     .business-home .main-container
     {
         padding-top: 42px;
         height: 100%;
         min-height:  100%;
         background-color: #f2f2f2;
     
}

     .content-wrapper
     {
         width: 300px;
         background-color: #fff;
     
         border-radius: 5px;
         margin: 0 auto;
}

     #business-home .content-wrapper h2
     {
         padding-top: 16px;
         margin: 0 auto 18px auto;
         color:  #333333;
         font-size: 16px;
         font-weight: bold;
         text-align: center;
         width: 175px;
     }

     .content-wrapper .arrow-group
     {
         height: 337px;
         position: relative;
         margin-bottom: 14px;
     }
     
    .arrow-down
    {
        width: 25px;
        height: 337px;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
}
     /* upper part */
     .arrow-down > div:first-child
     {
         height: 320px;
         width: 11px;
         margin: 0 auto;
         background-color: #d7d7d7;
     }

     /* bottom part */
     .arrow-down > div:last-child
     {
         width: 0;
         height: 0;
         border-left: 12.5px solid transparent;
         border-right: 12.5px solid transparent;
         border-top: 19px solid #d7d7d7;
     }

     /* step sequence number */
     .step-seq
     {
         z-index: 2;
     }

    .step-seq  .circle
     {
         width: 40px;
         height: 40px;
         -webkit-border-radius: 50%;
         -moz-border-radius: 50%;
         border-radius: 50%;
        background-color: #4b8f00;
        border: 5px  solid #ffffff;
     }

    .step-seq  .circle > span
    {
        font-size: 16px;
        font-weight: bold;
        color: #ffffff;
        width: 30px;
        line-height: 30px;
        display: inline-block;
        text-align: center;
        vertical-align: middle;
    }

    .step-icon-with-text
    {
        width: 114px;
        z-index: 2;
    }

    /* set icon */
    .step-icon-with-text > div:first-child
    {
        margin: 0 auto;
    }

    .step-icon-with-text .icon-label
    {
        color:  #333333;
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        margin-top: 10px;
        position: relative;
    }

    .step-seq-group
    {
        overflow: hidden;
        position: absolute;

    
    }

    .step-seq-group > div
    {
        float: left;
    }

    .step-seq-group > div:nth-child(1) , .step-seq-group > div:nth-child(3)
    {
        position: relative;
    }

    #business-home .connector
    {
        top: 18px;
        width: 39px;
        left: 20px;
    }
    .connector
    {
        height: 5px;
        background-color: #d7d7d7;
        position: absolute;
        z-index: 0;
        float: none;
    }

    /* first step */
    .content-wrapper .step-1
    {
        left: 130px;
        top: 24px;
    }

    .content-wrapper .step-2
    {
        right: 130px;
        top: 134px;
    }

    #business-home .content-wrapper .step-2 .connector
    {
        width: 52px;
        left: auto;
        right: 20px;
    }

    .content-wrapper .step-2 .step-icon-with-text
    {
        width: 128px;
    }
    .content-wrapper .step-3
    {
        left: 130px;
        top: 244px;
    }

    .btn-redeem-founder-share
    {
        display: block;
        margin: 0 auto;
        width: 261px;
    }

    /* footer clear */
    .footer-clear
    {
        height: 15px;
    }

    .flex-wrapper
    {
        min-height: 300px;
        border-radius: 5px;
        min-width: 300px;
        margin: 10px;
        background-color: #fff;
    }

    .wrapper
    {
        height: 100%;
        min-height: 100%;
    }

#business-step-1 .flow-graph
{
    height: 60px;
    }

    #business-step-1 .flow-graph .step-seq
    {
        margin-left: 85px;
        display: inline-block;
    }

    #business-step-1 .flow-graph .step-seq:first-child
    {
        margin-left: 0;
    }


    #business-step-1 .flow-graph
    {
        font-size: 0;
        padding: 10px 0;
        position: relative;
        text-align: center;
    }


    .flow-graph .connector
    {
        width: 260px;
        position: absolute;
        z-index: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    #business-step-1 h2
    {
        padding-top: 7px;
        height: 31px;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        border-bottom: 1px solid #d7d7d7;
        width: 280px;
        margin: 0 auto;
    }

    #business-step-1 .info
    {
        width: 278px;
        margin: 30px auto 0 auto;
        text-align: center;
        height: 56px;
    }

    #business-step-1  form
    {
        padding: 0 10px;
    }

    #business-step-1 .form-group
    {
        margin-top: 51px;
        text-align: center;
    
        font-size: 16px;
}

    #business-step-1 .form-group input
    {
        width: 162px;
        height: 33px;
        border:  1px solid #c2c2c2;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        text-align: center;
        margin-left: 5px;
    
        background-color: #f2f2f2;
}

    .step-seq.inactive  .circle
    {
        background-color: #959595;
    }

    #business-step-1  .btn-group
    {
        margin-top: 89px;
        text-align: justify;
        font-size: 0;
    }

    #business-step-1  .btn-group > a
    {
        display: inline-block;
        height: 50px;
        width: 111px;
    }

    #business-step-1  .btn-group:after {
        content: "";
        display: inline-block;
        width: 100%;
    }

    /* setting for placeholder */
    #business-step-1 input::-webkit-input-placeholder {
        font-style: normal;
    }

    #business-step-1 input:-moz-placeholder {
        font-style: normal;
    }

    #business-step-1 input::-moz-placeholder {
        font-style: normal;
    }

    #business-step-1 input:-ms-input-placeholder {
        font-style: normal;
    }

    /*Disable spin buttons on input type="number" */
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    #business-step-1 .form-group input.ng-invalid, .sign-up .form-group input.ng-invalid.ng-dirty, .sign-up .form-group input.invalid,
    #login.reset-password-step1 form .form-group.invalid,
    #login.reset-password-step2 form .form-group.invalid
    {
        border: 1px solid #ff0000;
    }


/* Modal */

.modal-dialog
{
    top: 147px;
    position: fixed;
    z-index: 10;
    width: 200px;
    height: 150px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: #007035;
    border-radius: 5px;
    }

    .modal-backdrop {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #000000;
        z-index: 6;
    }

    .modal-backdrop.fade {
        opacity: 0;
    }

    .modal-backdrop.in {
        opacity: 0.5;
    }


    .modal-icon
    {
        width: 60px;
        height: 60px;
        border: 5px solid #007035;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        background-color: #ffffff;
        color: #007035;
        position: absolute;
        top:-30px;
        left: 0;
        right: 0;
        margin: 0 auto;
        font-size: 30px;
        font-weight: bold;
    }

    .modal-icon > div
    {
        height: 50px;
        line-height: 50px;
        text-align: center;
        vertical-align: middle;
    }

    .modal-body p
    {
        height: 40px;
        width: 179px;
        text-align: center;
        color:#ffffff;
        margin: 46px auto 0px auto;

        line-height: 20px;
}

    .modal-footer
    {
        margin-bottom: 1px;
        margin-top: 13px;
        font-size: 0;
        position: relative;
    }

     .modal-footer .btn
    {
         display: inline-block;
         width: 100px;
         height: 50px;

         font-size: 14px;
         font-weight: bold;
    }

    .modal-footer .btn:active
    {
        font-weight: bold;
    }

    .modal-footer .btn:first-child
    {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
    }

    .modal-footer .splitter
    {
        background-color: #8da89a;
        width: 2px;
        font-size: 2px;
        height: 50px;
        display: inline-block;
        margin-bottom: 0;
        position: absolute;
        top: 1px;
    }

    .modal-footer .btn:last-child
    {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    .modal-back-ground
    {
        width: 100%;
        top: 0;
        height: 100%;
        min-height: 100%;
        position: fixed;
        z-index: -1;
    }

    .modal-back-ground .main-container
    {
        width: 100%;
        height: 100%;
        min-height: 100%;
        background-color: #959595;
    }

/* Sign up*/

a:active
{
    font-weight: bold;
}


/* for account type */
.account-type-group
{
    font-size: 0;
    text-align: center;
    }

    .account-type-icon-with-label
    {
        width: 100px;
        font-size: 14px;
        font-weight: bold;
        display: inline-block;
        margin-left: 40px;
        color: #333333;
    }

    .account-type-icon-with-label:first-child
    {
        margin-left: 0;
    }

    .account-type-icon-with-label .circle
    {
        border-radius: 50%;
        background-color: rgb(85, 85, 85);
        box-shadow: inset 0px 5px 0px 0px rgba(0, 0, 0, 0.3);
        width: 100px;
        height: 100px;
        padding-top: 20px;
    }

    .account-type-icon-with-label .circle:active
    {
        background-color: rgb(75, 143, 0);
        box-shadow: inset 0px 5px 0px 0px rgba(0, 0, 0, 0.3);
    }

    .account-type-icon-with-label .circle > div
    {
        margin: 0 auto;
    }

    .account-type-icon-with-label .icon-label
    {
        margin-top: 8px;
    }

    .login-sign-up  .sprite-shadow-hspliter
    {
        margin-top: 107px;
    }

    #login.login-sign-up .main-container h2
    {
        margin-bottom: 67px;
    }

.sign-up  .main-container
{
        padding-top: 16px;
    }

    .sign-up h2
    {
        height: 34px;
        border-bottom: 1px solid #c2c2c2;
        width: 280px;
        margin: 0 auto;
        line-height: 34px;
        vertical-align: middle;
    }

    .sign-up form
    {
        width: 280px;
        padding-left: 10px;
        margin: 0 auto;
    }

    .sign-up form .error-info, .reset-password-step1 .error-info,  .reset-password-step2 .error-info {
        color: #ff0101;
        font-size: 12px;
    
        text-align: left;
}


    .sign-up .form-group
    {
        width: 260px;
        margin-top: 9px;
        font-size: 0;
        color: #333333;
        position: relative;
    
        height: 37px;
}

    .sign-up .form-group input
    {
        border: 1px solid  rgb(194, 194, 194) ;
        border-radius: 2px;
        background-color: rgb(242, 242, 242);
        height: 37px;
        padding-left: 8px;
        width: 100%;
    }

    .sign-up .form-group  #firstName
    {
        width: 141px;
    }

    .sign-up .form-group  #lastName
    {
        width: 106px;
        margin-left: 9px;
    }

    .sign-up .form-group select
    {
        width: 100%;
        -webkit-appearance: none;
        height: 37px;
        border: 1px solid  rgb(194, 194, 194) ;
        border-radius: 2px;
        background-color: transparent;
        position: relative;
    
        padding-left: 8px;
        z-index: 1;
}

    .sign-up .form-group
    {
        position: relative;
        text-align: left;
    }

    .sign-up .form-group .select-box-back-ground
    {
        background-color: rgb(18, 85, 121);
        box-shadow: inset 0px -3px 0px 0px rgba(0, 0, 0, 0.3);
        position: absolute;
        width: 39px;
        height: 36px;
        -webkit-border-radius: 0 2px 2px 0;
        -moz-border-radius: 0 2px 2px 0;
        border-radius: 0 2px 2px 0;
        text-align: center;
        vertical-align: middle;
        position: absolute;
        top:0;
        right: 0;
        z-index: 0;
    }

    /* triangle down */
    .sign-up .form-group .select-box-back-ground > div
    {
        display: inline-block;
        height: 0;
        width: 0;
        border-top: 7px solid #ffffff;
        border-left: 7.5px solid transparent;
        border-right: 7.5px solid transparent;
        margin-top: 15px;
    }

    .sign-up #uploadFile
    {
        width: 151px;
        height: 37px;
}

    .fileUpload input.upload {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
    }

    .btn-inactive
    {
        border-radius: 2px;
        box-shadow: inset 0px -3px 0px 0px rgba(0, 0, 0, 0.3);
        width: 107px;
        height: 35px;
        line-height: 35px;
        top:-5px;
        position: relative;
    }

    .term-info
    {
        font-size: 14px;
        margin-left: 4px;
        height: 1em;
    }

    .term-info a
    {
        text-decoration: underline;
    }

    .accept-terms-group
    {
        height: 37px;
        margin-top: 0;
        padding-left: 30px;
        vertical-align: middle;
        font-size: 0;
        position: relative;
    }

    .accept-terms-group > *
    {
        float: left;
    }

    .sign-up form .btn-group
    {
        margin-top: 7px;
    }

    .sign-up form .btn-group .btn
    {
        width: 261px;
    }

    a.btn:active
    {
        font-weight: normal;
    }

    .sign-up .sprite-shadow-hspliter
    {
        margin-top: 44px;
    }

    .sign-up.sign-up-founder .sprite-shadow-hspliter
    {
        margin-top: 7px;
    }

    .sign-up.sign-up-founder .btn
    {
        height: 40px;
        line-height: 40px;
    }

    .btn-disable
    {
        border-radius: 5px;
        background-color: #82a3b5;
        box-shadow: inset 0px -5px 0px 0px rgba(0, 0, 0, 0.3);
        pointer-events: none;
    }


    .confirm-password-group   .circle
    {
        height: 20px;
        width: 20px;
        border-radius: 50%;
        background-color: rgb(75, 143, 0);
        position: absolute;
        float: right;
        top: 7px;
        right: 10px;
        text-align: center;
        vertical-align: middle;
        line-height: 20px;
    }

    .confirm-password-group   .circle > div
    {
        position: absolute;
        top:50%;
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    #bizFirstName
    {
        width: 121px;
    }


    #bizLastName
    {
        width: 129px;
        margin-left: 8px;
    }

/* reset password */
.reset-password form .info
{
    margin-bottom: 37px;
    }

    .reset-password-step1 form .form-group
    {
        padding-left: 7px;
    }

    .reset-password-step1 form .icon
    {
        font-size: 16px;
        font-weight: bold;
        color: #959595;
    }

    #login.reset-password-step1 form .form-group
    {
        margin-bottom: 0;
    
        position: relative;
}

    #login.reset-password-step1 form .form-group input
    {
        margin-left: 7px;
    }

    .reset-password-step1 form .btn-cancel
    {
        margin-top: 10px;
    }

    #login.reset-password-step1 form .btn-group
    {
        margin-top: 36px;
    }

    .reset-password .btn-reset-password,
    .reset-password-step1 .btn-cancel
    {
        width: 261px;
    }

    .reset-password-step2 .confirm-password-group .circle
    {
        right: 8px;
        top: 50%;
    }

    #login.reset-password-step2 .btn-group
    {
        margin-top: 31px;
    }

    /* set error message */
    .reset-password-step1 form  fieldset
    {
        position: relative;
    }
    .reset-password-step1 .error-info
    {
        position: absolute;
        margin-top: 5px;
    }


/* for menu */
.menu-overlap
{
    top:0;
    width: 100%;
    min-height: 100%;
    background-color: rgba(0,0,0, 0.3);
    position: fixed;
    z-index: 10;
    display: none;
}


.right-slide-menu
{
    width: 81.56%;
    height: 100%;
    position: fixed;
    z-index: 11;
    top:0;
    right: 0;
    background-color: #f2f2f2;
    color: #333333;
    box-shadow: 0px 0px 20px 0px rgba(34, 30, 31, 0.75);
    text-align: center;
    display: none;
}

.menu-overlap.showRightMenu, .right-slide-menu.showRightMenu
{
    display: block;
}

.index-main-content.showRightMenu, .index-main-content.showRightMenu header
{
    position: fixed;
    right:  81.56%;
}

/* layout fix for portrait */
@media screen and (orientation:portrait)
{
    body
    {
        height: 100%;
    }

    body > div
    {
        height: 100%;
    }
}

/* layout fix for iphone 4s or other device device height is less than 568px  */
@media screen and (orientation:portrait) and (max-device-height: 568px )
{
    /* fix for .business-home */
    #business-home .wrapper
    {
        height: 550px;
    }
}

@media screen and (orientation:landscape)
{
    .modal-dialog
    {
        top: 25.88%;
    }
}
