<!-- content -->
<div class="containerWithAside">
	<div class="forum-controls">
		<dir-pagination-controls class="forum-pagination-wrapper" max-size="5", boundary-links="true" template-url="/forum/partials/forum-pagination-controls.html"></dir-pagination-controls>
		
		<div class="page-size-selector dark wrap-dd-select" dropdown-select="itemsPerPageOptions"  
			dropdown-model="itemsPerPage" dropdown-item-label="label"></div>
			
		<div class="forum-search-wrapper">
			<input type="text" class="input-control" placeholder="Posts's Keyword">
			<a href="javascript:;" class="btn-search"></a>
		</div>
	</div>
	<ul class="forum-posts">
		<li class="forum-post-wrapper" dir-paginate="post in entries | itemsPerPage: itemsPerPage.count" 
			data-ng-include="'/Forum/partials/post.html'" data-ng-init="replyLink">
		</li>
	</ul>
	<div class="forum-controls">
		<dir-pagination-controls class="forum-pagination-wrapper" max-size="5", boundary-links="true" template-url="/forum/partials/forum-pagination-controls.html"></dir-pagination-controls>
		
		<div class="page-size-selector dark wrap-dd-select" dropdown-select="itemsPerPageOptions"  
			dropdown-model="itemsPerPage" dropdown-item-label="label"></div>
			
		<ul class="threads-navigation">
			<li><a href="javascript:;">Previous Thread</a></li>
			<li><a href="javascript:;">Next Thread</a></li>
		</div>
	</div>
	
	<div data-ng-include="'partials/module/howItWorksAside.html'"></div>
</div>
<!-- end content -->