<article class="forum-post">
	<header>
		<button type="button" class="btn-report-post"></button>
		<span class="forum-post-number">#{{post.ordinalNumber}}</span>
		<time class="forum-post-date">{{post.date}}</time>
		<h1 class="forum-post-title">{{post.title}}</h1>
	</header>
	<div class="forum-post-content">
		<div class="user-info">
			<img class="user-info-avatar" data-ng-src="{{post.author.avatar}}" src="" alt="user avatar"/>
			<span class="user-info-name" qtip qtip-template="user-info-popup.html" qtip-template-object="post.author" qtip-my="top center" qtip-at="bottom center">{{post.author.name}}</span>
			<span class="user-info-posts">{{post.author.numPosts}} posts</span>
		</div>
		<div class="post-body" data-ng-bind-html="post.body"></div>
		<footer class="post-footer" data-ng-if="$parent.currentThreadPath">
			<a href="javascript:;" data-ng-href="#{{currentThreadPath}}/quote/{{post.id}}">Quote</a>
			<a href="javascript:;" data-ng-href="#{{currentThreadPath}}/reply/{{post.id}}">Reply</a>
		</footer>
	</div>
</article>

<script type="text/ng-template" id="user-info-popup.html">
	<div class="user-info">
		<img class="user-info-avatar" data-ng-src="{{object.avatar}}" src="" alt="user avatar"/>
		<div class="user-info-data-wrapper">
			<span class="user-info-name">{{object.name}}</span>
			<span class="user-info-posts">{{object.numPosts}} posts</span>
			<span class="user-info-type">{{object.type}}</span>
			<a href="javascript:;" class="btn-send-gift">Send Gift</a>
		</div>
	</div>
	<ul class="user-stats">
		<li class="user-stats-entry">
			<span class="users-stats-label">total amount Sold</span> 
			<div class="user-stats-value">$500</div>
		</li>
		<li class="user-stats-entry">
			<span class="users-stats-label">Total amount redeemed</span> 
			<div class="user-stats-value">$15</div>
		</li>
	</ul>
</script>