<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Le styles -->
    <link rel="stylesheet" href="bootstrap-3.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="bootstrap-3.0.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="dist/themes/default/style.min.css"/>
    <link rel="stylesheet" href="bootstrap-3.0.0/css/style.css">
   
	<script src="jquery/jquery-2.0.3.min.js"></script>
    <script src="dist/jstree.min.js"></script>
    <script type="text/javascript" src="bootstrap-3.0.0/js/bootstrap.js"></script>

    <!-- External JS -->
    <!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>-->
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.3/moment.js"></script>
    <script src="//cdn.socket.io/socket.io-1.2.0.js"></script>

    <!-- Main JS -->
    <script src="js/script.js"></script>
</head>

<body id="html_body">
<div class="container">
    <div id="content">
        <button id="logout" type="button" class="btn btn-primary pull-right">Logout</button>
        <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
            <li class="active"><a href="#vod" data-toggle="tab"><h3>VodRevolver</h3></a></li>
            <li><a href="#odcr" data-toggle="tab"><h3>ODCR</h3></a></li>
        </ul>
        <div id="my-tab-content" class="tab-content">
            <div class="tab-pane" id="odcr">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5">
                            <h2>Add Data</h2>

                            <div id="msg"></div>
                            <input type="hidden" name="count" value="1"/>

                            <div class="control-group" id="fields">
                                <div class="controls" id="profs">
                                    <form class="input-append" id="folder_form">
                                        <div id="field">
                                            <input class="input-large" id="field_1" name="field_1" type="text"
                                                   placeholder="Select Assets" readonly="true"/>
                                            <input id="asset_1" name="asset_1" type="hidden"/>
                                            <button id="b_1" class="btn btn-warning add-more" type="button">+</button>
                                        </div>
                                        <button id="folder_submit" type="button" class="btn btn-primary">Submit</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <h2>Folders</h2>

                            <div id="dvContent"><b>Root</b>

                                <div id="tree" class="span3">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane active" id="vod">
			
                <div class="container">
                    <br/>

                    <div class="row">
                        <button id="build_vod_browser" type="button" class="btn btn-primary">BuildVodBrowser</button>
                    </div>
                    <br/>

                    <div>
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th class="text-center"><span class="glyphicon glyphicon-tasks"></span></th>
                                <th>Steps</th>
                                <th>Status</th>
                                <th>Start Time</th>
                                <th>End Time</th>
                                <th>Time Taken</th>
                                <th>Log</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="text-center"><span id="metadata_graphic"
                                                              class="glyphicon glyphicon-record"></span></td>
                                <td>Generate Metadata.</td>
                                <td id="metadata_status"></td>
                                <td id="metadata_start"></td>
                                <td id="metadata_end"></td>
                                <td id="metadata_time"></td>
                                <td id="metadata_log"></td>
                            </tr>
                            <tr>
                                <td class="text-center"><span id="video_graphic"
                                                              class="glyphicon glyphicon-record"></span></td>
                                <td>Generate Videos.</td>
                                <td id="videos_status"></td>
                                <td id="videos_start"></td>
                                <td id="videos_end"></td>
                                <td id="videos_time"></td>
                                <td id="videos_log"></td>
                            </tr>
                            <tr>
                                <td class="text-center"><span id="manz_graphic"
                                                              class="glyphicon glyphicon-record"></span></td>
                                <td>Generate Manz.</td>
                                <td id="manz_status"></td>
                                <td id="manz_start"></td>
                                <td id="manz_end"></td>
                                <td id="manz_time"></td>
                                <td id="manz_log"><div></div></td>
                            </tr>
                            <tr>
                                <td class="text-center"><span id="mux_graphic"
                                                              class="glyphicon glyphicon-record"></span></td>
                                <td>Build EBIFMUX 5.</td>
                                <td id="mux_status"></td>
                                <td id="mux_start"></td>
                                <td id="mux_end"></td>
                                <td id="mux_time"></td>
                                <td id="mux_log" ></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
					<!-- INI OLD LOG AREA -->
					<div class="successArea">
						<span class="success"></span>
					</div>
					<div class="statusBar"></div>
					 <h4><b>Running Log Details:</b></h4>
					<div id="log-area" class="logArea" style="height:150px;overflow-y:scroll"></div>
					
					<div class="fileLocation"></div>
					<div style="display:none;" class="logLocation"></div>
					<br/>
					<br/>
					<!-- END OLD LOG AREA -->
					<!--
                    <div id="log-details">
                        <h4><b>Running Log Details:</b></h4>

                        <div class="row">
                            <textarea id="log" class="form-control log-text-area" rows="10" readonly></textarea>
                        </div>
                    </div>
					-->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- container -->

<script type="text/javascript">
$(document).ready(
        function () {
            $('#tabs').tab();/*
            $(document).bind('contextmenu', function (e) {
                e.preventDefault();
                alert("Right Click is not allowed");
            });*/
            $('#log-details').hide();
            $('#status').hide();
            var next = 1;
            $(".add-more").click(function (e) {
                e.preventDefault();
                var selectedVal = $("#field_" + next).val();
                if (selectedVal == "") {
                    alert("Please select an Asset before adding a new row.");
                    return;
                }
                var addto = "#field_" + next;
                var addRemove = "#field_" + (next);
                next = next + 1;
                var newIn = '<input class="input-large" id="field_' + next + '" name="field_' + next + '" type="text" placeholder="Select Assets" readonly="true">' + '<input id="asset_' + next + '" name="asset_' + next + '" type="hidden"/>';
                var newInput = $(newIn);
                var removeBtn = '<button id="remove_' + (next - 1) + '" class="btn btn-danger remove-me" >-</button></div><div id="field">';
                var removeButton = $(removeBtn);
                $(addto).after(newInput);
                $(addRemove).after(removeButton);
                $("#count").val(next);

                $('.remove-me').click(function (e) {
                    e.preventDefault();
                    var fieldNumArr = this.id.split("_");
                    var fieldNum = fieldNumArr[1];
                    var fieldID = "#field_" + fieldNum;
                    var hiddenFieldID = "#asset_" + fieldNum;
                    $(this).remove();
                    $(fieldID).remove();
                    $(hiddenFieldID).remove();
                });
            });

            $("#tree").jstree({
                'core': {
                    'data': {
                        'url': function (node) {
                            if (node.id === '#') {
                                return "rest/channel/getChannels?id=";
                            } else {
                                return "rest/channel/getChannels?id="//; + node.id;
                            }
                        },
                        'data': function (node) {
                            return { 'id': node.id };
                        },
                        'error': function (jqXHR, textStatus, errorThrown) {
                            alert("An error occurred : " + errorThrown + ". Please try again...!! ");
                            $('#tree').html("<h5 style=\"color: red\">There was an error while loading data for this tree.</h5>");
                        }

                    }
                }
            });
            $('#tree')
                // listen for event
                    .on('changed.jstree', function (e, data) {
                        var i, j, r = [], text = '', id = '', path = '', isLeaf = false, finalText = '';

                        for (i = 0, j = data.selected.length; i < j; i++) {
                            text = data.instance.get_node(data.selected[i]).text;
                            id = data.instance.get_node(data.selected[i]).id;
                            path = data.instance.get_path(data.selected[i], '/');
                            isLeaf = data.instance.is_leaf(data.selected[i]);
                            finalText = id + text + path + isLeaf;
                            r.push(finalText);
                        }
                        var textBoxVal = text + ",";
                        textBoxVal += id.replace("-", ",");
                        if (isLeaf) {
                            $("#field_" + next).val(path);
                            $("#asset_" + next).val(textBoxVal);
                            $("#field_" + next).popover('destroy');
                            $("#field_" + next).popover({
                                trigger: "hover focus",
                                placement: "auto",
                                content: path
                            });
                        } else {
                            $("#field_" + next).val('');
                            $("#asset_" + next).val('');
                            $("#field_" + next).popover('destroy');
                        }
                    });

            $("#tree").bind('open_node.jstree', function (event, data) {
                var obj = data.instance.get_node(data.node, true);
                if (obj) {
                    obj.siblings('.jstree-open').each(function () {
                        data.instance.close_node(this, 0);
                    });
                }
            });
            //Open node on node click
            $("#tree").bind("select_node.jstree", function (e, data) {
                return data.instance.toggle_node(data.node);
            });
            // handle doule click on node
            /*
             $("#tree").bind("dblclick.jstree", function (event, data) {

             var node = $(event.target).closest("li");
             $("#tree").jstree("toggle_node", node);
             });
             */
            $("#folder_submit").click(function () {
                var selectedVal = $("#field_" + next).val();
                if (selectedVal == "") {
                    alert("Please select an Asset for Last row before submitting.");
                    return;
                }
                $("#msg").text("Please wait.. While we submit your data...");
                $("#msg").css("color", "black");
				console.log( $('#folder_form').serialize());
                $.ajax({type: 'POST',
                    url: "process",
                    data: $('#folder_form').serialize(),
                    success: function (responseData) {
                        if ("ERROR" == responseData) {
                            $("#msg").text("Error has occurred while saving the folders. Please try again..!!");
                            $("#msg").css("color", "red");
                        } else {
                            $("#msg").text("Success : Folders was saved successfully..");
                            $("#msg").css("color", "green");
                        }
                    }
                });
            });
           
            $("#build_vod_browser").click(function () {
                $("#build_vod_browser").prop("disabled", true);
                //Initialise the progress bar width as zero.
                var $bar = $('.progress-bar');
                $bar.width(0);
                $bar.text(("0%"));
                $.ajax({type: 'GET',
                    url: "rest/VodBrowser/executeBatch",
                    success: function (responseData) {
                        $("#build_vod_browser").prop("disabled", false);
                    }
                });
                $('#log-details').show();
                $('#status').show();
                var interval = 2000;  // 2000 = 2 seconds, 3000 = 3 seconds
                function updateLogTextArea() {
					
					$("#log").val($("#log").val() + data);// first set the value
					$("#log").animate({
						scrollTop: $("#log")[0].scrollHeight - $("#log").height()
					}, 1000);
					if (data != "COMPLETED") {
						// Schedule the next
						setTimeout(updateLogTextArea, interval);
					} else {
						$('#log-details').hide();
					}					
                }

                var updateInterval = 4000;

               // setTimeout(updateLogTextArea, 4000);
                setTimeout(updateTableDetail, 4000);

                var progress = setInterval(function () {
                    var $bar = $('.progress-bar');
                    var $holder = $('.progress');

                    if ($bar.width() >= $holder.width()) {
                        clearInterval(progress);
                        $('.progress').removeClass('active');
                    } else {
                        $bar.width($bar.width() + ($holder.width() / 10));
                        $bar.text(($bar.width() / ($holder.width() / 100)) + 10 + "%");
                    }
                }, 10000);
            });
        });
</script>
</body>

</html>