<footer>
    <div class="row">
        <div class="col-md-3">
            <div class="logo">
                <a href="javascript:;"><img src="i/logo-footer.png" alt="Believe in the furture" /></a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="navs-footer">
                <ul>
                    <li><a href="javascript:;">PRIVACY POLICY</a></li>
                    <li><a href="javascript:;">TERMS OF USE</a></li>
                    <li><a href="javascript:;">COPYRIGHT</a></li>
                    <li data-ng-show="hadLogin"><a href="#/ReportAbuse">REPORT ABUSE</a></li>
                </ul>
            </div>
            <!-- End .navs-footer -->
        </div>
        <div class="col-md-3">
            <dl>
                <dt>Connect with us</dt>
                <dd><a href="javascript:;"></a></dd>
                <dd><a href="javascript:;"></a></dd>
            </dl>
        </div>
    </div>
    <div class="row text-center">
        <p class="copyright">Copyright FounderShare, Inc. 2015 All Rights</p>
    </div>
</footer>
<!-- End footer  -->