<nav>
    <ul>
        <li data-ng-class="{active:partial=='1'}" data-ng-click="router('1')"><a href="#Home">HOME</a></li>
        <li data-ng-class="{active:partial=='2'}" data-ng-click="router('2')"><a href="#HowItWorks">HOW IT WORKS</a></li>
        <li data-ng-class="{active:partial=='3'}" data-ng-click="router('3')"><a href="#About">ABOUT</a></li>
        <li data-ng-class="{active:partial=='4'}" data-ng-click="router('4')"><a href="#Forums">FORUMS</a></li>
        <li data-ng-class="{active:partial=='5'}" data-ng-click="router('5')"><a href="#Blog">BLOG</a></li>
        <li data-ng-class="{active:partial=='6'}" data-ng-click="router('6')"><a href="#Faq">FAQ</a></li>
    </ul>
</nav>
<div class="form-group">
    <div class="input-group">
        <input type="text" class="input-control" placeholder="Search" />
        <a href="javascript:;" class="icon icon-search"></a>
    </div>
</div>