<div class="ccm row dicease-mngt">
  <div data-ng-include="'app/templates/user-details.tpl.html'"></div>
  <div class="row">
    <accordion class="col-xs-12">
      <accordion-group heading="Recommended Decease Programs" class="acc acc1" data-is-open="ccmCtrl.accStatus.dm1Open" data-ng-class="{active: ccmCtrl.accStatus.dm1Open}">
        <accordion  class="cn-profile">
          <accordion-group class="cn-panel" data-is-open="ccmCtrl.accStatus.dm1_1Open" data-ng-class="{active: ccmCtrl.accStatus.dm1_1Open}">
            <accordion-heading>
              Dicease Management Survey <i class="pull-right expand-collapse"></i>
            </accordion-heading>
          </accordion-group>
          <accordion-group class="cn-panel" data-is-open="ccmCtrl.accStatus.dm1_2Open" data-ng-class="{active: ccmCtrl.accStatus.dm1_2Open}">
            <accordion-heading>
              Reconsiled Medication <i class="pull-right expand-collapse"></i>
            </accordion-heading>
            <div class="container-fluid survey">
              <div data-ng-repeat="recMed in ccmCtrl.member.diceaseMngt.reconsiledMedication">
                <div class="row rec-med">
                  <div class="col-xs-6 rc-med-label">Verified By</div>
                  <div class="col-xs-6 rc-med-value">{{recMed.verifiedBy}}</div>
                </div>
                <div class="row rec-med">
                  <div class="col-xs-6 rc-med-label">Verified Date</div>
                  <div class="col-xs-6 rc-med-value">{{recMed.verifiedDate | date: 'M/d/yyyy'}}</div>
                </div>
                <div class="row rec-med">
                  <div class="col-xs-6 rc-med-label">Created Date</div>
                  <div class="col-xs-6 rc-med-value">{{recMed.createdDate | date: 'M/d/yyyy'}}</div>
                </div>
                <div class="row sep-acc" data-ng-if="!$last"></div>
              </div>
            </div>
          </accordion-group>
          <accordion-group class="cn-panel program-report" data-is-open="ccmCtrl.accStatus.dm1_3Open" data-ng-class="{active: ccmCtrl.accStatus.dm1_3Open}">
            <accordion-heading>
              Programs Report <i class="pull-right expand-collapse"></i>
            </accordion-heading>
            <div class="container-fluid">
              <div class="row pr-header">
                <div class="col-xs-12">Criteria</div>
              </div>
              <div class="report">
                <div data-ng-repeat="crit in ccmCtrl.member.diceaseMngt.programsReport.criterias">
                  <div class="row">
                    <div class="col-xs-12 pr-title">{{crit.criteria}}</div>
                  </div>
                  <div class="row pr-row" data-ng-repeat="val in crit.values">
                    <div class="col-xs-5 pr-data">{{val.name}}</div>
                    <div class="col-xs-5 pr-data">
                      <div class="pr-bar-ctn">
                        <div class="pr-bar" data-ng-class="{'warn': !ccmCtrl.critValueOk(val)}" data-ng-style="{width: ccmCtrl.getPercent(val)}" data-ng-if="val.value">{{val.value}}</div>
                        <div class="pr-bar2" data-ng-style="{'margin-left': ccmCtrl.getPercentGoal(val)}" data-ng-if="val.goal.value"></div>
                      </div>
                    </div>
                    <div class="col-xs-2 pr-value">{{val.goal.type !== '=' ? val.goal.type : ''}}{{val.goal.value || '-'}}</div>
                  </div>
                  <div class="sep-acc" data-ng-if="!$last"></div>
                </div>

              </div>
            </div>
          </accordion-group>
        </accordion>
      </accordion-group>
      <accordion-group heading="Case Management" class="acc acc2" data-is-open="ccmCtrl.accStatus.dm2Open" data-ng-class="{active: ccmCtrl.accStatus.dm2Open}">
        <accordion  class="cn-profile">
          <accordion-group class="cn-panel" data-is-open="ccmCtrl.accStatus.dm2_1Open" data-ng-class="{active: ccmCtrl.accStatus.dm2_1Open}">
            <accordion-heading>
              Actions Taken <i class="pull-right expand-collapse"></i>
            </accordion-heading>
          </accordion-group>
          <accordion-group class="cn-panel fu-plans" data-is-open="ccmCtrl.accStatus.dm2_2Open" data-ng-class="{active: ccmCtrl.accStatus.dm2_2Open}">
            <accordion-heading>
              Follow-up Plans <i class="pull-right expand-collapse"></i>
            </accordion-heading>
            <table class="head">
              <thead>
                <tr>
                  <th>Date</th>
                </tr>
                <tr>
                  <th>IDT Type</th>
                </tr>
                <tr>
                  <th>IDT Member</th>
                </tr>
                <tr>
                  <th>Criteria</th>
                </tr>
                <tr>
                  <th>Abnormal Value</th>
                </tr>
                <tr>
                  <th>Comments</th>
                </tr>
              </thead>
            </table>
            <div class="table-container">
              <div class="table-wrapper">
                <table class="body" data-ng-style="{width: (ccmCtrl.member.diceaseMngt.followUpPlans.length * 195) + 5 + 'px'}">
                  <tbody>
                    <tr>
                      <td data-ng-repeat="plan in ccmCtrl.member.diceaseMngt.followUpPlans">{{plan.date || '-' | date: 'M/d/yyyy'}}</td>
                    </tr>
                    <tr>
                      <td data-ng-repeat="plan in ccmCtrl.member.diceaseMngt.followUpPlans">{{plan.idtType || '-'}}</td>
                    </tr>
                    <tr>
                      <td data-ng-repeat="plan in ccmCtrl.member.diceaseMngt.followUpPlans"><a class="mailto">{{plan.idtMember.firstName}} {{plan.idtMember.lastName}}</a></td>
                    </tr>
                    <tr>
                      <td data-ng-repeat="plan in ccmCtrl.member.diceaseMngt.followUpPlans">{{plan.criteria || '-'}}</td>
                    </tr>
                    <tr>
                      <td data-ng-repeat="plan in ccmCtrl.member.diceaseMngt.followUpPlans">{{plan.abnormalValue || '-'}}</td>
                    </tr>
                    <tr>
                      <td data-ng-repeat="plan in ccmCtrl.member.diceaseMngt.followUpPlans">{{plan.comments || '-'}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </accordion-group>
          <accordion-group class="cn-panel" data-is-open="ccmCtrl.accStatus.dm2_3Open" data-ng-class="{active: ccmCtrl.accStatus.dm2_3Open}">
            <accordion-heading>
              Notes <i class="pull-right expand-collapse"></i>
            </accordion-heading>
          </accordion-group>
        </accordion>
      </accordion-group>
      <accordion-group heading="Open Items" class="acc acc3 open-items" data-is-open="ccmCtrl.accStatus.dm3Open" data-ng-class="{active: ccmCtrl.accStatus.dm3Open}">
        <accordion-heading>
          Open Items <span class="rec-count pull-right" data-ng-if="ccmCtrl.member.diceaseMngt.openItems.length > 0">({{ccmCtrl.member.diceaseMngt.openItems.length}})</span>
        </accordion-heading>
        <table class="head">
          <thead>
            <tr>
              <th>Date</th>
            </tr>
            <tr>
              <th>IDT Type</th>
            </tr>
            <tr>
              <th>IDT Member</th>
            </tr>
            <tr>
              <th>Criteria</th>
            </tr>
            <tr>
              <th>Abnormal Value</th>
            </tr>
            <tr class="comment">
              <th>Comments</th>
            </tr>
          </thead>
        </table>
        <div class="table-container">
          <div class="table-wrapper">
            <table class="body" data-ng-style="{width: (ccmCtrl.member.diceaseMngt.openItems.length * 195) + 5 + 'px'}">
              <tbody>
                <tr>
                  <td data-ng-repeat="item in ccmCtrl.member.diceaseMngt.openItems">{{item.date || '-' | date: 'M/d/yyyy'}}</td>
                </tr>
                <tr>
                  <td data-ng-repeat="item in ccmCtrl.member.diceaseMngt.openItems">{{item.idtType || '-'}}</td>
                </tr>
                <tr>
                  <td data-ng-repeat="item in ccmCtrl.member.diceaseMngt.openItems">{{item.idtMember.firstName}} {{item.idtMember.lastName}}</td>
                </tr>
                <tr>
                  <td data-ng-repeat="item in ccmCtrl.member.diceaseMngt.openItems">{{item.criteria || '-'}}</td>
                </tr>
                <tr>
                  <td data-ng-repeat="item in ccmCtrl.member.diceaseMngt.openItems">{{item.abnormalValue || '-'}}</td>
                </tr>
                <tr class="comment">
                  <td data-ng-repeat="item in ccmCtrl.member.diceaseMngt.openItems">{{item.comments || '-'}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </accordion-group>
      <accordion-group heading="History" class="acc acc4 history" data-is-open="ccmCtrl.accStatus.dm4Open" data-ng-class="{active: ccmCtrl.accStatus.dm4Open}">
        <div class="container-fluid">
          <div class="row hist-row" data-ng-repeat="hist in ccmCtrl.member.diceaseMngt.history">
            <div class="col-xs-4">
              <div class="row"><div class="col-xs-12">{{hist.date | date: 'M/d/yyyy'}}</div></div>
              <div class="row"><div class="col-xs-12">{{hist.date | date: 'h:mm:ss a'}}</div></div>
            </div>
            <div class="col-xs-6">
              <div class="row"><div class="col-xs-12"><a class="mailto">{{hist.beneficiary.name}}</a></div></div>
              <div class="row"><div class="col-xs-12"><a class="mailto">ID-{{hist.beneficiary.id}}</a></div></div>
            </div>
            <div class="col-xs-2"><a href="" class="hist-link">&gt;</a></div>
          </div>
        </div>
      </accordion-group>
    </accordion>
    
  </div>
  
</div>