<div class="row edit-profile">
  <div class="col-xs-12 user">
    <div class="row">
      <img class="col-xs-4 user-pic" data-ng-src="i/{{editProfileCtrl.patient.pic}}" alt="user" title="user" />
      <div class="col-xs-8 infos">
        <div class="row">
          <div class="col-xs-12"><span class="id">ID-</span><a>{{editProfileCtrl.patient.id}}</a></div>
        </div>
        <div class="row edit-picture">
          <div class="col-xs-12"><a data-ng-click="editProfileCtrl.takePic = true">Take a Picture</a> <span class="pipe-sep"> | </span> <a>Browse Picture</a></div>
        </div>
        
      </div>
    </div>
  </div>
  <div class="row">
    <accordion class="col-xs-12 member-prof-acc">
      <accordion-group heading="Patient Information" class="acc acc1" data-is-open="editProfileCtrl.accStatus.prof1Open" data-ng-class="{active: editProfileCtrl.accStatus.prof1Open}">
        <div class="container-fluid">
          <form role="form">
            <div class="form-group">
              <label for="firstNameInput">First Name</label>
              <input type="text" class="form-control" id="firstNameInput" placeholder="First Name" data-ng-model="editProfileCtrl.patient.firstName">
            </div>
            <div class="form-group">
              <label for="lasttNameInput">Last Name</label>
              <input type="text" class="form-control" id="lasttNameInput" placeholder="Last Name" data-ng-model="editProfileCtrl.patient.lastName">
            </div>
            <div class="form-group" data-ng-init="genre = 'f'">
              <label class="gender">Gender</label>
              <label class="radio-inline genre" data-ng-click="editProfileCtrl.patient.gender = 'Male'">
                <span class="setting-radio" data-ng-class="{'active': editProfileCtrl.patient.gender === 'Male'}"> </span> Male
              </label>
              <label class="radio-inline genre" data-ng-click="editProfileCtrl.patient.gender = 'Female'">
                <span class="setting-radio" data-ng-class="{'active': editProfileCtrl.patient.gender === 'Female'}"> </span> Female
              </label>
            </div>
            <div class="form-group">
              <label for="lasttNameInput">Date of Birth</label>
              <input type="date" class="form-control birth" id="lasttNameInput" placeholder="Last Name" data-ng-model="editProfileCtrl.patient.dob">
            </div>
          </form>
        </div>
      </accordion-group>
      <accordion-group heading="Address" class="acc acc2" data-is-open="editProfileCtrl.accStatus.prof2Open" data-ng-class="{active: editProfileCtrl.accStatus.prof2Open}">
        <div class="container-fluid addr-form">
          <form role="form">
            <div class="form-group">
              <label for="addrInput">Address</label>
              <input type="text" class="form-control" id="addrInput" placeholder="Address" data-ng-model="editProfileCtrl.patient.address.street">
            </div>
            <div class="form-group">
              <label for="cityInput">City</label>
              <input type="text" class="form-control" id="cityInput" placeholder="City" data-ng-model="editProfileCtrl.patient.address.city">
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-xs-6">
                  <label for="stateInput">State</label>
                  <select data-ng-model="editProfileCtrl.patient.address.state" class="form-control" id="stateInput" placeholder="State">
                    <option>FL</option>
                  </select>
                  <!--<input type="text" class="form-control" id="stateInput" placeholder="State" data-ng-model="editProfileCtrl.address.state">-->
                </div>
                <div class="col-xs-6">
                  <label for="zipInput">Zip</label>
                  <input type="text" class="form-control" id="zipInput" placeholder="Zip" data-ng-model="editProfileCtrl.patient.address.zip">
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-xs-6">
                  <label for="homePhoneInput">Home Phone</label>
                  <input type="text" class="form-control" id="homePhoneInput" placeholder="Home Phone" data-ng-model="editProfileCtrl.patient.homePhone">
                </div>
                <div class="col-xs-6">
                  <label for="mobilePhoneInput">Mobile Phone</label>
                  <input type="text" class="form-control" id="mobilePhoneInput" placeholder="Mobile Phone" data-ng-model="editProfileCtrl.patient.mobilePhone">
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="emailInput">Email</label>
              <input type="text" class="form-control" id="emailInput" placeholder="Email" data-ng-model="editProfileCtrl.patient.email">
            </div>
          </form>
        </div>
      </accordion-group>
      <accordion-group heading="Emergency Contact" class="acc acc3" data-is-open="editProfileCtrl.accStatus.prof3Open" data-ng-class="{active: editProfileCtrl.accStatus.prof3Open}">
  
      </accordion-group>
    </accordion>
    
  </div>
  
</div>