<div class="landing">
  <div class="row landing-row">
    <div class="col-xs-6 landing-item member-summary" data-ui-sref="ccm">
      <span class="title">Member Summary</span>
    </div>
    <div class="col-xs-6 landing-item member-care-plan" data-ui-sref="ccm.careplan">
      <span class="title">Member Care Plan</span>
    </div>
  </div>
  <div class="row landing-row">
    <div class="col-xs-6 landing-item dicease-mngt" data-ui-sref="ccm.dicease">
      <span class="title">Dicease Management</span>
    </div>
    <div class="col-xs-6 landing-item med-reconciliation"  data-ui-sref="med">
      <span class="title">Medication Reconciliation</span>
    </div>
  </div>
  <div class="row landing-row">
    <div class="col-xs-6 landing-item care-team">
      <span class="title">Interdisciplinary Care Team</span>
    </div>
    <div class="col-xs-6 landing-item med-report">
      <span class="title">Lorem Ipsum Medication Report</span>
    </div>
  </div>
</div>