<div class="loader">
  <div class="loader-wrapper">
    <div class="loader-bg"></div>
  </div>
  <div class="status">
    <div class="text-center">
      <span class="loading">Loading...<span class="loading-percent">{{loadingCtrl.percent}}%</span></span>
    </div>
    <div class="">
      <div class="progress">
        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{loadingCtrl.percent}}" aria-valuemin="0" aria-valuemax="100" style="width: {{loadingCtrl.percent}}%">
        </div>
      </div>
    </div>
  </div>
</div>
<img class="logo" alt="q-HMO Health Report" title="q-HMO Health Report" src="i/logo1.png">