
<div class="container-fluid header">
  <div class="row header-row">
    <div class="col-xs-12 hundred">
      <div class="left-buttons">
        <button class="btn-menu btn-back" data-ui-sref="landing" data-ng-show="$state.current.name !== 'landing' && $state.current.name !== 'medInteractions' && !menu.open">&lt;</button>
        <button class="btn-menu btn-back" data-ui-sref="med" data-ng-show="$state.current.name == 'medInteractions' && !menu.open">&lt;</button>
        <button class="btn-menu btn-menu-develop" data-ng-click="menu.open = !menu.open">-</button>
      </div>
      <div class="text-center header-title">
        {{$state.current.data.title}}
      </div>
      <div class="right-buttons hundred" data-ng-if="$state.current.name !== 'editProfile'">
        <ui-view name="notifications"></ui-view>

        <button class="btn-menu btn-font-size" data-ng-click="fontSizeOpen = !fontSizeOpen" data-ng-class="{active: fontSizeOpen}"></button>
        <div class="font-settings" data-ng-show="fontSizeOpen">
          <div class="arrow" data-ng-click="fontSizeOpen = !fontSizeOpen"></div>
          <div class="setting large" data-ng-class="{active: font.size === 'large'}" data-ng-click="font.size = 'large'">
            <span class="text">Large Font Size</span><span class="setting-radio"> </span>
          </div>
          <div class="setting normal" data-ng-class="{active: font.size === 'normal'}" data-ng-click="font.size = 'normal'">
            <span class="text">Normal Font Size</span><span class="setting-radio"> </span>
          </div>
          <div class="setting small" data-ng-class="{active: font.size === 'small'}" data-ng-click="font.size = 'small'">
            <span class="text">Small Font Size</span><span class="setting-radio"> </span>
          </div>
        </div>
      </div>
      <div class="right-buttons hundred text-right" data-ng-if="$state.current.name === 'editProfile'">
        <a class="save" href="javascript:;" data-ng-click="profile.save()">Save</a>
      </div>
    </div>
  </div>
</div>
<div class="main-content container-fluid" data-ng-class="{'menu-open': menu.open}">
  <ui-view name="content"></ui-view>
</div>