<div class="login-form">
  <div class="login row">
    <div class="col-xs-12 urgent-centers">
      <a class="yellow-text" data-ui-sref="home.map">Urgent Care Centers</a>
    </div>
  </div>

  <form data-ng-submit="loginCtrl.doLogin(loinCtrl.user, loginCtrl.password)">
    <div class="row">
      <div class="col-xs-12">
        <input type="text" placeholder="User ID" class="form-control" data-ng-model="user"/>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <input type="password" placeholder="Password" class="form-control" data-ng-model="password"/>
      </div>
    </div>
    <div class="row">
      <div class="rememberme col-xs-6">
        <input type="checkbox" id="rememberme" data-g-model="rememberMe"/>
        <label for="rememberme"> Remember me</label>
      </div>
      <div class="col-xs-6 text-right">
        <p class="form-control-static forgot-password"><a class="yellow-text" href="javascript:;">Forgot Password</a></p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <button class="col-xs-12 btn btn-login">Login</button>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <button class="col-xs-12 btn btn-register">Register</button>
      </div>
    </div>
  </form>
  <div class="row">
    <div class="col-xs-12">
      <p class="login-text col-xs-12">Aenean nec sapien massa, eget scelerisque ligula. Vestibulum rhoncus purus vitae justo ornare viverra</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 text-center">
      <span class="phone">555 - 12345-6789</span>
    </div>
  </div>
</div>
<img class="logo" alt="q-HMO Health Report" title="q-HMO Health Report" src="i/logo1.png">