<div class="row send-mail">
  <div class="col-xs-12 hundred">
    <div class="row mail-header">
      <div class="col-xs-12">
        <span class="to">To: </span>
        <img class="user-pic" data-ng-src="i/{{mailCtrl.mail.to.pic}}" alt="user" title="user" />
        <span class="to-user">{{mailCtrl.mail.to.firstName}} {{mailCtrl.mail.to.lastName}}</sp)an>
      </div>
    </div>
    <div class="row subject-header">
      <div class="col-xs-12">
        <div class="row">
          <div class="col-xs-12 subject-title">Subject: </div>
          <div class="col-xs-12 subject-input"><input type="text" placeholder="Subject" data-ng-model="mailCtrl.mail.subject"></div>
        </div>
      </div>
    </div>
    <div class="row text-area">
      <div class="col-xs-12">
        <textarea placeholder="Type Message..."  maxlength="1000" data-ng-model="mailCtrl.mail.text" rows="10"></textarea>
      </div>
    </div>
    <div class="row chars-left-row">
      <div class="col-xs-12">
        <span class="chars-left pull-right">{{1000 - mailCtrl.mail.text.length}} chars left</span>
      </div>
    </div>
    <div class="row mail-buttons">
      <button class="btn btn-cancel" data-ui-sref="landing">Cancel</button>
      <button class="btn btn-send" data-ng-click="mailCtrl.send()">Send Email</button>
    </div>
  </div>
</div>