<div class="full-height map hundred">
  <div class="urgent-care-centers hundred">
    <div class="row" data-ng-if="loc.request">
      <div class="col-xs-12 text-center">
        <img class="logo1" src="i/logo1.png" alt="logo">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 text-center">
        <h2>Urgent Care Centers</h2>
      </div>
    </div>
    <div class="row map" >
      <ui-gmap-google-map center="mapCtrl.map.center" zoom="mapCtrl.map.zoom" draggable="true" options="mapCtrl.options" refresh="loc.refresh">
        <ui-gmap-search-box template="mapCtrl.searchbox.template" position="mapCtrl.searchbox.position"></ui-gmap-search-box>

        <ui-gmap-marker coords="mapCtrl.marker.coords" options="mapCtrl.marker.options"
                        events="mapCtrl.marker.events" idkey="mapCtrl.marker.id"
                        icon="mapCtrl.marker.icon" data-ng-if="mapCtrl.marker.show"></ui-gmap-marker>
        <ui-gmap-markers models="mapCtrl.markers" coords="'self'"  fit="true" icon="'icon'" labelContent="'test'" click="mapCtrl.onClick">
          <ui-gmap-windows show="show">
              <div ng-non-bindable class="map-info">
                <div class="title">{{title}}</div>
                <div class="addr">{{addr}}</div>
                <div class="phone">{{phone}}</div>
              </div>
          </ui-gmap-windows>
        </ui-gmap-markers>
      </ui-gmap-google-map>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <button class="col-xs-12 btn btn-login" data-ui-sref="home.login">Login</button>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <button class="col-xs-12 btn btn-phone"><span class="phone">555 - 12345-6789</span></button>
      </div>
    </div>

  </div>

  <div data-ng-if="loc.request" data-ng-include="'map-overlay.tpl.html'"></div>
</div>