<div class="ccm row med-inter">
  <div class="col-xs-12">
    <div class="row inter-title" data-ng-class="{'med1': medInterCtrl.med.type === '1', 'med2': medInterCtrl.med.type === '2'}">
      <div class="col-xs-12">
        {{medInterCtrl.med.medication}} Interactions
      </div>
    </div>
    
    <div class="row med-infos">
      <div class="col-xs-12">
        <div class="row recPrg-label">
          <div class="col-xs-12">Description</div>
        </div>
        <div class="row recPrg-value">
          <div class="col-xs-12">{{medInterCtrl.med.description}}</div>
        </div>
        <div class="row sep-acc"></div>
        <div class="row recPrg-label">
          <div class="col-xs-12">Strength</div>
        </div>
        <div class="row recPrg-value">
          <div class="col-xs-12">{{medInterCtrl.med.strength}}</div>
        </div>
        <div class="row sep-acc"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <accordion class="col-xs-12">
      <accordion-group heading="Drug–Drug Interactions (DDIM) Screening" class="acc acc1 ddim" data-is-open="ccmCtrl.accStatus.medInter1Open" data-ng-class="{active: ccmCtrl.accStatus.medInter1Open}">
        <table class="head">
          <thead>
            <tr class="message">
              <th>Message</th>
            </tr>
            <tr class="desc">
              <th>Interaction Description</th>
            </tr>
          </thead>
        </table>
        <div class="table-container">
          <div class="table-wrapper">
            <table class="body" data-ng-style="{width: (medInterCtrl.med.drugDrugInteractions.length * 194) + 5 + 'px'}">
              <tbody>
                <tr class="message">
                  <td data-ng-repeat="inter in medInterCtrl.med.drugDrugInteractions">{{inter.message}}</td>
                </tr>
                <tr class="desc">
                  <td data-ng-repeat="inter in medInterCtrl.med.drugDrugInteractions">{{inter.interDesc}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </accordion-group>
      <accordion-group heading="Drug–Food Interactions (DFIM) Screening" class="acc acc2" data-is-open="ccmCtrl.accStatus.medInter2Open" data-ng-class="{active: ccmCtrl.accStatus.medInter2Open}">
      </accordion-group>
      <accordion-group heading="Duplicate Therapy Screening" class="acc acc3" data-is-open="ccmCtrl.accStatus.medInter3Open" data-ng-class="{active: ccmCtrl.accStatus.medInter3Open}">
      </accordion-group>
    </accordion>
  </div>
</div>