<div class="ccm row med-rec">
  <div data-ng-include="'app/templates/user-details.tpl.html'"></div>
  <div class="col-xs-12 summary">
    <div class="row title">
      <div class="col-xs-12">Medications Reconciliation Summary</div>
    </div>
    <div class="row value">
      <div class="col-xs-12">{{ccmCtrl.member.medReconciliation.summary}}</div>
    </div>
  </div>
  <div class="row">
    <accordion class="col-xs-12">
      <accordion-group heading="Reconciled Medications" class="acc acc1 rec-med" data-is-open="ccmCtrl.accStatus.mr1Open" data-ng-class="{active: ccmCtrl.accStatus.mr1Open}">
        <table class="head">
          <thead>
            <tr>
              <th>Medication</th>
            </tr>
            <tr>
              <th>Description</th>
            </tr>
            <tr>
              <th>Strength</th>
            </tr>
            <tr>
              <th>Dose</th>
            </tr>
            <tr>
              <th>Route</th>
            </tr>
            <tr class="sig">
              <th>SIG</th>
            </tr>
          </thead>
        </table>
        <div class="table-container">
          <div class="table-wrapper">
            <table class="body" data-ng-style="{width: (ccmCtrl.member.medReconciliation.reconciledMedications.length * 158) + 5 + 'px'}">
              <tbody>
                <tr>
                  <td data-ng-repeat="med in ccmCtrl.member.medReconciliation.reconciledMedications" class="med"><span  data-ng-class="{'med1': med.type === '1', 'med2': med.type === '2'}"> </span><a class="med-link" data-ui-sref="medInteractions({medId: med.id})">{{med.medication}}</a></td>
                </tr>
                <tr>
                  <td data-ng-repeat="med in ccmCtrl.member.medReconciliation.reconciledMedications">{{med.desciption}}</td>
                </tr>
                <tr>
                  <td data-ng-repeat="med in ccmCtrl.member.medReconciliation.reconciledMedications">{{med.strength}}</td>
                </tr>
                <tr>
                  <td data-ng-repeat="med in ccmCtrl.member.medReconciliation.reconciledMedications">{{med.dose || '-'}}</td>
                </tr>
                <tr>
                  <td data-ng-repeat="med in ccmCtrl.member.medReconciliation.reconciledMedications">{{med.route || '-'}}</td>
                </tr>
                <tr class="sig">
                  <td data-ng-repeat="med in ccmCtrl.member.medReconciliation.reconciledMedications">{{med.sig || ''}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </accordion-group>
      <accordion-group heading="Recommendations to Physician ({{[1].length}})" class="acc acc2" data-is-open="ccmCtrl.accStatus.mr2Open" data-ng-class="{active: ccmCtrl.accStatus.mr2Open}">
        <accordion-heading>
          Recommendations to Physician 
          <span class="rec-count pull-right" data-ng-if="ccmCtrl.member.medReconciliation.recommendations.length > 0">({{ccmCtrl.member.medReconciliation.recommendations.length}})</span>
        </accordion-heading>
        <div class="container-fluid">
          <div data-ng-repeat="rec in ccmCtrl.member.medReconciliation.recommendations">
            <div class="row recommendation">
              <div class="col-xs-12">{{rec}}</div>
            </div>
            <div class="row sep-acc" data-ng-if="!$last"></div>
          </div>
        </div>
      </accordion-group>
      <accordion-group heading="Recommendations to Patient" class="acc acc3" data-is-open="ccmCtrl.accStatus.mr3Open" data-ng-class="{active: ccmCtrl.accStatus.mr3Open}">
  
      </accordion-group>
      <accordion-group heading="Attestation" class="acc acc4" data-is-open="ccmCtrl.accStatus.mr4Open" data-ng-class="{active: ccmCtrl.accStatus.mr4Open}">
  
      </accordion-group>
    </accordion>
    
  </div>
  
</div>