<div>
  <div class="container-fluid">
    <div class="row user">
      <img class="col-xs-4 user-pic" src="i/alby.png" alt="user" title="user" />
      <div class="col-xs-8">
        <div class="row user-name">
          {{ccmCtrl.member.firstName}} {{ccmCtrl.member.lastName}}
        </div>
        <div class="row user-desc">
          {{ccmCtrl.member.gender}} | {{ccmCtrl.member.age}} y.o. | ID-<a href="#">{{ccmCtrl.member.id}}</a>
        </div>
        <div class="row user-provider">
          Aligned Provider: 
          <a data-ui-sref="mail({to: ccmCtrl.member.alignedProvider.id})">
            {{ccmCtrl.member.alignedProvider.firstName}} {{ccmCtrl.member.alignedProvider.lastName}}
          </a>
        </div>
        <div class="row show-details" data-ng-show="!ccmCtrl.showDetails">
          <a href="javascript:;" data-ng-click="ccmCtrl.showDetails = true">View Details</a>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid details" data-ng-show="ccmCtrl.showDetails">
    <div class="row">
      <div class="col-xs-4 details-label">DOB</div>
      <div class="col-xs-8 details-value">{{ccmCtrl.member.dob | date: 'M/d/yyyy'}}</div>
    </div>
    <div class="row">
      <div class="col-xs-5 details-label">Eligibility Date</div>
      <div class="col-xs-7 details-value">{{ccmCtrl.member.eligibily.from | date: 'M/d/yyyy'}} - {{(ccmCtrl.member.eligibily.to || 'Current') | date: 'M/d/yyyy'}}</div>
    </div>
    <div class="row">
      <div class="col-xs-4 details-label">Email</div>
      <div class="col-xs-8 details-value">{{ccmCtrl.member.email}}</div>
    </div>
    <div class="row">
      <div class="col-xs-6 details-label">Home Phone</div>
      <div class="col-xs-6 details-value">{{ccmCtrl.member.homePhone || '-'}}</div>
    </div>
    <div class="row">
      <div class="col-xs-4 details-label">LOB</div>
      <div class="col-xs-8 details-value">{{ccmCtrl.member.lob}}</div>
    </div>
    <div class="row">
      <div class="col-xs-4 details-label">Health Plan</div>
      <div class="col-xs-8 details-value">{{ccmCtrl.member.healthPlan}}</div>
    </div>
    <div class="row">
      <div class="col-xs-12 text-center">
        <a href="javascript:;" data-ng-click="ccmCtrl.showDetails = false">Close Details</a>
      </div>
    </div>
  </div>
</div>