<div class="business-entry" data-ng-class="{expanded: expanded}">
  <!-- title and logo -->
  <div class="entry-content content" data-ng-click="expanded = !expanded">
    <div class="business-logo">
      <img alt="Business Logo" src="/assets/i/empty.gif" data-ng-src="{{giftCardOffer.businessPicture}}"/>
    </div>
    <div class="business-title">
      <div class="business-title-container">
        <div class="business-name">{{giftCardOffer.businessName}}</div>
        <div class="business-activation">Activation : {{giftCardOffer.activationDateTime | date:longDateFormat}}</div>
      </div>
    </div>
  </div>
  <!-- end title and logo -->

  <!-- detail -->
  <div class="entry-detail" data-ng-show="expanded">
    <div class="redeem-entry" data-ng-repeat="giftCard in giftCardOffer.giftCards" data-ng-show="giftCard.quantity > 0" data-ui-sref="details({id: giftCard.id})">
      <div class="row">
        <!-- discount -->
        <div class="col-xs-6 text-center">
          <span class="discount">{{giftCard.discount}}%</span>
          <span class="discount-label">off</span><br>
          <span class="expiration">No expiration date</span>
        </div>
        <!-- end discount -->
        <!-- redeem now -->
        <div class="col-xs-6 text-center">
          <!-- TODO: need to ada circular bar (jquery.circle.progress) -->
          <span class="value">${{giftCard.quantity}}</span><br/>
          remain
          <div class="caret-right pull-right"></div>
        </div>
        <!-- end redeem now -->
      </div>
    </div>
  </div>
  <!-- end detail -->
</div>
