<div class="logo">
    <a href="javascript:;"><img src="i/logo-footer.png" alt="Believe in the furture" /></a>
  </div>
  <dl>
    <dt>Connect with us</dt>
    <dd><a href="javascript:;"></a></dd>
    <dd><a href="javascript:;"></a></dd>
  </dl>
  <div class="navs-footer">
    <ul>
      <li><a href="#/PrivacyPolicy">PRIVACY POLICY</a></li>
      <li><a href="#/TermsAndConditions">TERMS OF USE</a></li>
      <li><a href="#/Copyright">COPYRIGHT</a></li>
    </ul>
    <p>Copyright FounderShare, Inc. 2015 All Rights Reserved.</p>
  </div>
  <!-- End .navs-footer -->