<!-- content -->
<div class="containerWithAside">
  <div class="howItWorks customer">
    <div class="navBack">
      <a class="btn btn-secondary-dark" href="#/HowItWorks">Back to How It Works</a>
      <img src="assets/i/works-customer-1.png" alt="Business" class="business-1"/>
    </div>
    <div class="content">
      <h2>This is Mike. He's a Champion, the Business's
        loyal customer.
      </h2>
      <section class="section-5">
        <h3>1. How does Mike get started for the first time? It's easy (and free).</h3>
        <img src="assets/i/works-customer-2.png" alt="Business"/>
        <p class="first">First stop is registration.</p>
        <p>This lets you buy a Founder$hare&reg; Mobile Gift Card
        from one business or as many businesses as you like.</p>
        <p>You will get a confirmation email. Click on the link in the
        email in order to finish setting up your account.</p>
        <a href="#/Register" class="btn btn-primary btn-large">Sign Me Up</a>


      </section>
      <section class="section-6">
        <h3>2. You're now ready to buy a Founder$hare&reg; Mobile Gift Card.</h3>
        <img src="assets/i/works-customer-3.png" alt="Business"/>
        <p class="bottom-caption"><em>Find a business you like, Enter your Gift Card value, and click the Buy Now button.</em></p>

      </section>
      <section class="section-7 clearfix">
        <img src="assets/i/works-business-5.png" alt="Business"/>
        <h3>3. You did it!</h3>
        <p>You helped your favorite local business when you bought a Founder$hare&reg; Mobile Gift Card. Hopefully this makes you feel really good. Go ahead and tell your friends what you love about the business.</p>
      </section>
      <section class="section-8 clearfix">
        <h3>4. This is the moment you've been waiting for.</h3>
        <p class="first">Head to the business to put that Founder$hare&reg; Mobile Gift Card to work.<br/>
          When it is time to pay the bill, go to foundershare.com from your smartphone.</p>
        <div class="col-group clearfix">
          <div class="col-3">
            <p>1. Go to the My F$ Wallet screen</p>
            <img src="assets/i/works-customer-5.png" alt="Business"/>
          </div>
          <div class="col-3">
            <p>2. Click "Redeem Now"</p>
            <img src="assets/i/works-customer-6.png" alt="Business"/>
          </div>
          <div class="col-3">
            <p>3. Show the QR code to the
              employee who is helping you.</p>
            <img src="assets/i/works-customer-7.png" alt="Business"/>
          </div>
        </div>
        <a href="#/Register" class="btn btn-primary btn-large">I want to shop local. Sign Me up!</a>
      </section>
    </div>
  </div>
  <div data-ng-include="'partials/module/howItWorksAside.html'"></div>
</div>
<!-- end content -->
