<!-- content -->
<div class="containerWithAside">
  <div class="howItWorks common">
    <div class="empty">
      <div>
        <h1>How It Works</h1>
        <h2>Please choose one of these icons as your role!</h2>
      </div>

      <a class="section" href="#/HowItWorks/business">
        <img src="assets/i/works-business.png" data-ng-src="assets/i/works-business.png"/>
      </a>
      <a class="section" href="#/HowItWorks/customer">
        <img src="assets/i/works-customer.png" data-ng-src="assets/i/works-customer.png"/>
      </a>
    </div>
  </div>
  <div data-ng-include="'partials/module/howItWorksAside.html'"></div>
</div>
<!-- end content -->
