<!-- content -->
<div class="containerWithAside">
  <div class="howItWorks business">
    <div class="navBack">
      <a class="btn btn-secondary-dark" href="#/HowItWorks">Back to How It Works</a>
      <img src="assets/i/works-business-1.png" alt="Business" class="business-1"/>
    </div>
    <div class="content">
      <h2>Meet Lucy. She's a Business Owner.</h2>
      <section class="section-1">
        <h3>1. What does she do to get started? First step - registration. </h3>
        <ul>
          <li>It takes less than a minute.</li>
          <li>She needs to fill out her profile.</li>
          <li>Then, she gets her bank account linked.</li>
          <li>She joins Founder$hare&reg; by becoming paid member (&nbsp;$99&nbsp;per&nbsp;month&nbsp;). That's it. Easy, right?</li>
        </ul>
        <a href="#/Register" class="btn btn-primary btn-large">Sign Me Up</a>
        <img src="assets/i/works-business-2.png" alt="Business"/>

      </section>
      <section class="section-2">
        <h3>2. She sets the terms and answers questions like :</h3>
        <img src="assets/i/works-business-4.png" alt="Business"/>
        <p class="left-caption">How much of a discount makes sense for your business?</p>
        <p class="right-caption">How much business do you want to generate?</p>
        <p class="bottom-caption"><em>She posts the offer and spreads the word.</em></p>

      </section>
      <section class="section-3 clearfix">
        <h3>3. A Champion (one of Lucy's awesome customers) shows their love by :</h3>
        <img src="assets/i/works-business-5.png" alt="Business"/>
        <p class="first">Buying a Founder$hare&reg; Mobile Gift Card, talking to their friends and spreading the word through social media.</p>
        <p><em>Lucy gets more customers.</em></p>
      </section>
      <section class="section-4 clearfix">
        <h3>4. The last step is to use Lucy's smartphone when the customers come to<br/> her store.</h3>
        <img src="assets/i/works-business-6.png" alt="Business"/>
        <p class="first">The results :</p>
        <ul>
          <li>She retains and rewards her customers.</li>
          <li>Her loyal customers help her get new
          customers by spreading the word on their
          social networks. (They have LOTS of friends!)</li>
          <li>She gets a competitive advantage.</li>
          <li>She taps into a larger community.</li>
          <li>All for just $99 per month.</li>
        </ul>


        <p class="last"><em>There's lots more.<br/>
          You can check out our FAQ's for more details.</em></p>
        <a href="#/Register" class="btn btn-primary btn-large">I want more customers. Sign Me Up!</a>
      </section>
    </div>
  </div>
  <div data-ng-include="'partials/module/howItWorksAside.html'"></div>
</div>
<!-- end content -->
