<div class="static-content text-content">
  <!-- text content -->
  <div class="field"><div id="content" class="full-width">

      <div class="post_content">


        <div class="entry" data-ng-bind-html="page.content"></div><!-- / .entry -->


        <div class="cleaner">&nbsp;</div>
      </div><!-- / .post_content -->

      <div class="cleaner">&nbsp;</div>
    </div>
  </div>
  <!-- end text content -->
  <a ng-if="!hideTerms" data-ng-href="#/" class="btn btn-primary btn-large back">Back to Founder$hare</a>
</div>
