<div class="container account">

  <div class="main no-background">
  	<h2>Verify Account</h2>
    <dl>
    	<dt>Follow the steps below to verify your account:</dt>
      <dd>
      	1. Upgrade your account for $99 per month.
        <a href="#/Payment/business" class="btn btn-secondary btn-pay">Subscribe Now</a>
      </dd>
      <dd>
      	2. Send an email to <a href=mailto:hi.there@foundershare.com>hi.there@foundershare.com</a> and we’ll help you through the rest of the process.
      </dd>

    </dl>
  </div>
  <!-- End .main -->
  
</div>
<!-- End .container -->