<div id="business-home" class="business-home">
    <div class="wrapper">
        <header class="vertical-align-subs">
            <div></div>
            <!-- title for menu bar in the middle-->
            <div class="menu-title">
                HomeBusiness-NoCards
            </div>
            <!-- hamburger icon, when taped, show right slide menu-->
            <div>
                <div class="icon sprite sprite-hamburger-menu" data-ng-click="showRightSlideMenu()"></div>
            </div>
        </header>
        <!-- End header -->

        <!-- main container -->
        <div class="main-container">
            <!-- flex wrapper is used for screen get wider, when the screen getting wider, content-wrapper with does not chane,
              but the flex wrapper  get wider and with the same background color of content-wrapper -->
            <div class="flex-wrapper">
                <div class="content-wrapper">
                    <!-- tittle -->
                    <h2>Redeeming a Founder$hare is easy :</h2>

                    <div class="arrow-group">
                        <!-- down arrow icon at the back ground -->
                        <div class="arrow-down">
                            <div></div>
                            <div></div>
                        </div>
                        <!-- step 1 with sequence  number and icons -->
                        <div class="step-1 step-seq-group">
                            <!-- circle with sequence number  inside -->
                            <div class="step-seq">
                                <div class="circle">
                                    <span>1</span>
                                </div>
                            </div>
                            <!-- connector between  circle and sequence number  -->
                            <div class="connector"></div>
                            <!-- icon image for step one with label under it-->
                            <div class="step-icon-with-text">
                                <!-- icon image for step one -->
                                <div class="sprite sprite-enter-receipt-total"></div>
                                <!-- label for step one icon  -->
                                <div class="icon-label">
                                    Enter<br> Receipt Total
                                </div>
                            </div>
                        </div>
                        <!-- step 2 with sequence  number and icons -->
                        <div class="step-2 step-seq-group">
                            <!-- icon image for step 2 with label under it-->
                            <div class="step-icon-with-text">
                                <!-- icon image -->
                                <div class="sprite sprite-scan-qr-code"></div>
                                <!-- icon label text  -->
                                <div class="icon-label">
                                    Scan<br/>
                                    QR Code
                                </div>
                            </div>
                            <!-- connector between  circle and sequence number  -->
                            <div class="connector"></div>
                            <!-- circle with sequence number  inside -->
                            <div class="step-seq">
                                <div class="circle">
                                    <span>2</span>
                                </div>
                            </div>
                        </div>
                        <!-- step 3 with sequence  number and icons -->
                        <div class="step-3  step-seq-group">
                            <!-- circle with sequence number  inside -->
                            <div class="step-seq">
                                <div class="circle">
                                    <span>3</span>
                                </div>
                            </div>
                            <!-- connector between  circle and sequence number  -->
                            <div class="connector"></div>
                            <!-- icon image for step 3 with label under it-->
                            <div class="step-icon-with-text">
                                <!-- icon image  -->
                                <div class="sprite sprite-confirm"></div>
                                <!-- icon label text-->
                                <div class="icon-label">
                                    Confirm
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Redeem Founder$hare button -->
                    <a class="btn btn-redeem-founder-share" href="#business-step-1">Redeem Founder$hare</a>
                    <!-- set white margin after button -->
                    <div class="footer-clear"></div>
                </div>
            </div>

        </div>
        <!-- End .main-container -->
    </div>
</div>
