<div data-page-script="">
	<!-- popup for comments -->
	<div id="comment-popup" class="row comment-popup hide" title="Comment">
	<label>Comment for your choice</label>
	<textarea id="comment-content"></textarea>
	<center>
	<a id="comment-submit" href="javascript:;" class="btn btn-primary">OK</a>
	</center>
	</div>
	<!-- BEGIN #main-content -->
	<div id="main-content" class="row">
		<h1 class="row m-t-20 title">Edit Risk Assessment fields</h1>
		<div class="nav-tabs m-t-20 row" data-ng-include="'app/admin/tabnav.edit.html'"></div>
		
		<div class="clearfix"></div>
		<div class="edit-addons-content">
			<ul class="wrapper-all">
				<li class="primary-row">
					<div class="left-group-ct">
						<div class="cover-all">The Service Level <b>"99%"</b>, <b>"98%"</b>, <b>"95%"</b>, <b>"Other SLA"</b>, and <b>"Not Applicabe"</b> have been added to the <b>Quality</b> Category in 
						<ul>
							<li>
								<span class="blue-link" >Processes &amp; Control Assessment <i>&gt;</i></span>
							</li>
							<li>
								<span class="blue-link">KPI’s / SLA’s <i>&gt;</i></span>
							</li>
							<li>
								<span class="blue-link" >Annuities <i>--</i> Account Maintenance</span>
							</li>
						</ul>.</div>
					</div>
					<!-- /left-group-ct -->
					<div class="right-group-ct">
						<span class="left-line"></span>
						<div class="choose-func">
							<a class="same btn-approve" href="javascript:;" data-ng-click="clickApproveButton();"><i class="sprites"></i>Approve</a>
							<a class="same btn-reject" href="javascript:;"><i class="sprites"></i>Reject</a>
							<a class="same btn-edit last" href="javascript:;"><i class="sprites"></i>Edit</a>
							<div class="clearfix"></div>
						</div>
						<!-- /choose-func -->
					</div>
					<!-- /right-group-ct -->
					<div class="clearfix"></div>
				</li>
				<!-- /primary-row -->
				<li class="primary-row">
					<div class="left-group-ct">
						<div class="cover-all">The Control <b>"Lorem ipsum"</b> has been added to the <b>Controls (master list)</b> in <ul>
							<li>
								<span class="blue-link">Processes &amp; Control Assessment <i>&gt;</i></span>
							</li>
							<li>
								<span class="blue-link" >Functional Area Processes <i>&gt;</i></span>
							</li>
							<li>
								<span class="blue-link" >Shared Services <i>--</i> Death Match</span>
							</li>
						</ul>.</div>
					</div>
					<div class="right-group-ct">
						<span class="left-line"></span>
						<div class="choose-func">
							<a class="same btn-approve" href="javascript:;" data-ng-click="clickApproveButton();"><i class="sprites"></i>Approve</a>
							<a class="same btn-reject" href="javascript:;"><i class="sprites"></i>Reject</a>
							<a class="same btn-edit last" href="javascript:;"><i class="sprites"></i>Edit</a>
							<div class="clearfix"></div>
						</div>
						<!-- /choose-func -->
					</div>
					<div class="clearfix"></div>
				</li>
				<!-- /primary-row -->
				<li class="primary-row">
					<div class="left-group-ct">
						<div class="cover-all">The Assesment Type <b>"Dolor Amet"</b> has been added to the <b>Assesment Type</b> in <span class="blue-link" >Global fields</span>. </div>
					</div>
					<!-- /left-group-ct -->
					<div class="right-group-ct">
						<span class="left-line"></span>
						<div class="choose-func">
							<a class="same btn-approve" href="javascript:;" data-ng-click="clickApproveButton();"><i class="sprites"></i>Approve</a>
							<a class="same btn-reject" href="javascript:;"><i class="sprites"></i>Reject</a>
							<a class="same btn-edit last" href="javascript:;"><i class="sprites"></i>Edit</a>
							<div class="clearfix"></div>
						</div>
						<!-- /choose-func -->
					</div>
					<!-- /right-group-ct -->
					<div class="clearfix"></div>
				</li>
				<!-- /primary-row -->
			</ul>
			<!-- /wrapper-all -->
		</div>
		<!-- /edit-addons-content -->

		<div class="section-footer row m-t-40">
			<div class="left">
				<a href="#/admin/edit/riskCalculation" class="btn btn-primary">Prev</a>
			</div>
			<div class="right">
				<a href="#/admin/edit/bulkdata" class="btn btn-primary">Next</a>
				<a class="hide" href="javascript:;">Save as Draft</a>
			</div>
		</div>
	</div>
	<!-- END #main-content -->
	<div class="clearfix"></div>
</div>