<div class="main-container landing reset-pass">
    <div class="main no-background text-center">
  
        <h2>Reset Password</h2>
        <div class="form-panel">
        <form class="form" name="form" novalidate>
            
                <p>Reset Your Password</p>
                <div class="form-group">
                    <label for="password">New Password</label>
                    <input type="password" name="password" id="password" 
                        data-ng-model="password" 
                      data-ng-class="{true: 'error'}[submitted && form.password.$invalid]"
                      required="required" />
                </div>
                <!-- End .form-group -->
                <div class="form-group">
                    <label for="confirm_password">Confirm Password</label>
                    <input type="password" name="confirm_password" id="confirm_password" 
                        data-ng-model="confirm_password" 
                      data-ng-class="{true: 'error'}[submitted && form.confirm_password.$invalid]"
                      pw-check="password" 
                      required="required" />
                </div>
                <!-- End .form-group -->
                <div class="text-center">
                    <a href="javascript:;" class="btn btn-secondary" data-ng-click="submit()">Submit</a>
                </div>
            
           
        </form>
        <!-- End .form -->
         </div>
    </div>
  
</div>
<!-- End .main-container -->