<div class="main-container account">
  <div class="main no-background">
        <h2>Verify Account</h2>
        <dl>
            <dt>Follow the steps below to verify your account:</dt>
            <dd>
                1. Upgrade your account $99/month
                <a href="#/Payment" class="btn btn-secondary btn-pay">Subscribe Now</a>
            </dd>
            <dd>
                2. Download the <a href="javascript:;" class="link">PDF form</a> print, notarize and mail to this address:
                <p>
                    678 Main Street<br />
                    City, State 12345
                </p>
            </dd>
            <dd>
                3. We will schedule a visit for physical verification once we receive your notarized form.
                <a href="#/Home" class="btn btn-secondary">Continue Browsing</a>
            </dd>
        </dl>
    </div>
    <!-- End .main -->
</div>
<!-- End .container -->