<div class="container history">

	<aside>
  	<div class="profile">
    	<div class="thumb"><img src="./i/thumb.png" alt="Thumb" /></div>
    </div>
    <ul data-ng-show="role === 'Champion'">
    	<li><a href="javascript:;">My Info</a></li>
      <li><a href="javascript:;">My Giftcards</a></li>
      <li><a href="javascript:;" class="active">My History</a></li>
    </ul>
    <ul data-ng-show="role === 'Founder'">
    	<li><a href="javascript:;">My Info</a></li>
      <li><a href="#/Founder$hares">My Founder$hares</a></li>
      <li><a class="active" href="javascript:;">My History</a></li>
      <li><a href="#/FounderMyEmployees">Employees</a></li>
    </ul>
    <a href="#/Payment" class="note" data-ng-show="role ==='Founder'">Not a Verified Business</a>
  </aside>
  <!-- End Aside -->
  <div class="main">
  	<h2>My History</h2>
    <ul class="header">
    	<li class="action">Action Type</li>
      <li>Details</li>
    </ul>
    <ul data-ng-repeat="history in historyList">
    	<li class="action"><strong>{{history.type}}</strong></li>
      <li>{{history.details}}</li>
    </ul>
  </div>
  <!-- End .main -->
  
</div>
<!-- End .container -->