<div><img class="logo left" src="i/logo.png" alt="Logo Company"></div>
<div class="right">
	<ul>
		<li><span></span><p>Feedback</p></li>
		<li><a href="#ShoppingCard"><span></span><p>My Cart</p><p><strong>3</strong></p></a></li>
		<li data-ng-show="hadLogin"><a href="#MyProfile"><span></span><p>My Profile</p></a></li>
		<li><a href="#Login"><span data-ng-class="{logOut : hadLogin == true}"></span><p data-ng-if="!hadLogin">Log In</p></a><p data-ng-if="hadLogin" data-ng-click="authorization()">Log Out</p></li>
	</ul>
</div>  <!-- end of .container header -->
