<!-- reuse login css style -->
<div id="login" class="login-sign-up">
    <div class="wrapper">
        <header>
            <div class="logo vertical-align-subs">
                <img src="i/logo-main.png" alt="LOGO"/>
                <!-- the grey rectangle in the back of log -->
                <div class="logo-back-rect"></div>
            </div>
        </header>
        <!-- End header -->

        <div class="main-container">
            <h2>CHOOSE ACCOUNT TYPE</h2>

            <form>
                <div class="account-type-group">
                    <!-- champion account type icon with label -->
                    <a class="account-type-icon-with-label" href="#/sign-up-champion">
                        <div class="circle">
                            <div class="sprite sprite-champion"></div>
                        </div>
                        <div class="icon-label">CHAMPION</div>
                    </a>
                    <!-- founder account type icon with label -->
                    <a class="account-type-icon-with-label" href="#/sign-up-founder">
                        <div class="circle">
                            <div class="sprite sprite-founder"></div>
                        </div>
                        <div class="icon-label">FOUNDER</div>
                    </a>
                </div>
            </form>

            <!-- splitter -->
            <div class="sprite sprite-shadow-hspliter"></div>

            <!-- social icons -->
            <div class="social-media-box">
                <div>Or, do it with Social Media</div>
                <div class="social-media-groups">
                    <!-- facebook -->
                    <a href="javascript:;" class="social-media sprite facebook-icon"> </a>
                    <!-- twitter -->
                    <a href="javascript:;" class="social-media sprite twitter-icon"> </a>
                    <!-- linkedin -->
                    <a href="javascript:;" class="social-media sprite linkedin-icon"> </a>
                </div>
            </div>

        </div>
        <!-- End .main-container -->
    </div>
</div>
