<div id="login" class="reset-password reset-password-step1" >

    <div class="wrapper">
        <header>
            <div class="logo vertical-align-subs">
                <img src="i/logo-main.png" alt="LOGO"/>

                <div class="logo-back-rect"></div>
            </div>
        </header>
        <!-- End header -->

        <div class="main-container">
            <h2>RESET YOUR PASSWORD</h2>

            <form name="resetPasswordForm" data-ng-submit="submitValidate();">
                <div class="info">
                    We can help you reset your password
                    using your email linked to your account:
                </div>
                <fieldset>
                    <!-- email address receive reset mail -->
                    <div class="form-group vertical-align-subs">
                        <div class="icon">@</div>
                        <input type="text" name="mail" placeholder="Email"
                               data-ng-model="mail"
                               data-ng-pattern="/^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/"
                               data-ng-focus="focusInput()"
                               data-ng-blur="validate()"
                               autocomplete="off" required/>
                    </div>
                </fieldset>

                <!-- validate error message -->
                <div class="error-info" data-ng-show="showError">
                    <span>{{validateErrorMsg}}</span>
                </div>
                <!-- reset password button  -->
                <div class="controls">
                    <input type="submit" class="hide">
                    <a href="" class="btn btn-primary btn-large btn-reset-password" data-ng-click="submitValidate();">Submit</a>
                    <a href="#/login" class="btn btn-large btn-cancel">Cancel</a>
                </div>
            </form>
        </div>
        <!-- End .main-container -->
    </div>

</div>
