<!-- search -->
<div class="search" data-ng-controller="search">
    <!-- order selector -->
    <div class="order" data-ng-show="mode == 'order'">
        Order by
        <div class="btn-group order-dropdown" data-dropdown="">
            <button type="button" class="btn btn-primary btn-medium order-toggle dropdown-toggle" data-dropdown-toggle="">
                {{order.title || 'Select Order Type'}}
                <span class="caret">&nbsp;</span>
            </button>
            <div class="dropdown-menu" role="menu">
                <ul role="menu">
                    <li class="item" data-ng-repeat="item in orders" data-ng-click="setOrder(item)">
                        {{item.title}}
                    </li>
                </ul>
            </div>
        </div>
        <span class="search-toggle" data-ng-click="setMode('searching')"></span>
    </div>
    <!-- end order selector -->
    <!-- search input -->
    <div class="searching" data-ng-show="mode == 'searching'">
        <button class="btn btn-success btn-small cancel-search" data-ng-click="mode='order'; search.businessName=''">cancel</button>
        <label class="input">
            <span class="do-search" data-ng-click="doSearch()"></span>
            <input data-ng-model="search.businessName" placeholder="Type your keyword" data-ng-keyup="checkEnter($event)" />
            <span class="clear" data-ng-click="search.businessName=''"></span>
        </label>
    </div>
    <!-- end search input -->
</div>
<!-- end search -->
<div class="container-fluid">
    <div class="founderShareList">
        <section class="businessBlock shdw" data-ng-repeat="business in offers.businesses">
            <figure class="busLogoWrap">
                <img src="i/px.png" class="thumb" alt="" data-ng-src="{{business.logo}}" />
            </figure>
            <div class="infoWrap" >
                <div class="info">
                    <h3 class="name">{{business.name}}</h3>
                    <div class="meta">Activation: {{business.activation}}</div>
                    <!-- /.meta -->
                </div>
            </div>
            <div class="clear"></div>

            <div class="carouselContainer offerSlider">
                <div data-slick data-infinite="false" data-speed=300 data-slides-to-show=1 data-autoplay="false" data-touch-move="true" data-slides-to-scroll=1 data-arrows='false' class="slider mainSlider one-time">
                    <div class="slide" data-ng-repeat="slide in business.offers track by $index">
                        <div class="scWrap">
                            <div class="more shdw">
                                <div class="off">
                                    <div class="price">${{slide.price}}</div>
                                    <div class="per"><span class="val">{{slide.discount}}% </span><sup>off</sup></div>
                                    <!-- /.per -->
                                </div>
                                <!-- /.off -->
                                <div class="remain gaugeWrap">
                                    <button class="btn btn-success" data-ng-click="goto('/displayQR')">Redeem Now</button>
                                </div>
                                <div class="clear"></div>
                                <a class="lnkDn" data-ng-click="showOptions()"></a>
                            </div>
                        </div>
                        <!-- /.scWrap -->
                    </div>
                </div>
                <!-- /.mainSlider -->
            </div>
            <!-- /.carouselContainer -->
        </section>
    </div>
    <!-- /.founderShareList -->
</div>

<div class="modalWrap optionsModal" data-ng-show="isoptionsModal">
    <div class="modal">
    <ul class="optionsLst">
        <li><a href="#/viewDetails" data-ng-click="isoptionsModal=false;" >View the Details</a></li>
        <li><a href="#/gifting">Gift this Founder$hare</a></li>
    </ul><!-- /.optionsLst -->
    </div>
    <!-- /.modal -->
</div>
<!-- /.optionsModal -->
