<div class="giftingWrap paymentWrap">
    <div class="giftCards">
        <div class="container-fluid">

            <div class="rw">
                <div class="lbl"><strong>Business Name Gift Cards</strong></div>
                <div class="clear"></div>
            </div>
            <!-- /.rw -->
            <div class="total">Available ${{gifting.available}}</div>
            <!-- /.total -->
        </div>
    </div>
    <!-- /.giftCards -->

    <section class="payWithCard">
        <h6>Gifting Form</h6>

        <form class="frmPayment">
            <div class="rw">
                <div class="lbl">Gifting Amount</div>
                <div class="val">
                    <div class="fixLbl">$</div>
                    <input type="text" class="textCtrl amt borderless" data-ng-model="gifting.giftingAmount" />                    
                </div>
            </div>
            <div class="rw">
                <div class="lbl">Receipt</div>
                <div class="val">
                    <input type="text" class="textCtrl borderless" placeholder="email address or phone number" data-ng-model="gifting.receipt" />
                </div>
            </div>

            <div class="rw fluidHt">
                <div class="lbl">Gift Message (optional)</div>
                <div class="val">
                    <textarea class="textCtrl ta borderless" data-ng-model="gifting.message" ></textarea>
                </div>
            </div>
        </form>
    </section>
    <!-- /.payWithCard -->
    <div class="net">TOTAL <span class="val">
    ${{gifting.giftingAmount || 0}}</span></div>
    <div class="actn">
        <button class="btn btn-success" data-ng-click="isSuccessModal=true;">Gift Now</button>
        <div class="or">OR</div>
        <button class="btn btn-submit alt"><span class="ico tw">Send to Friend</span>
        </button>
    </div>
    <!-- /.actn -->
    

</div>
<!-- /.giftingWrap -->

<div class="modalWrap successModal" data-ng-show="isSuccessModal">
      <div class="modal modal-completed">
        <header class="mhead">
            <h3 class="heading"><span class="ico ico-completed">Transaction Complete!</span></h3>
        </header>
        <!-- /.mhead -->
        <div class="shareOn">
            <div class="inner">
                <span class="lbl">Share on :</span>
                <ul>
                    <li>
                        <a class="shareOpt fb" data-ng-click="shareOn(true);"></a>
                    </li>
                    <li>
                        <a class="shareOpt tw" data-ng-click="shareOn();"></a>
                    </li>
                    <li>
                        <a class="shareOpt gp" data-ng-click="shareOn();"></a>
                    </li>
                    <li>
                        <a class="shareOpt in" data-ng-click="shareOn();"></a>
                    </li>
                </ul>
            </div>
            <!-- /.inner -->
        </div>
        <footer class="actn">
            <button class="btn btn-submit" data-ng-click="isSuccessModal = false; goto('/founderShares');">Done</button>
            <div class="clear"></div>
        </footer>
        <!-- /.actn -->
    </div>
    <!-- /.modal -->
</div>
<!-- /.successModal -->

<div class="modalWrap errModal zp" data-ng-show="isShareError">
    <div class="modal modal-{{shareMessage.type}}">
        <header class="mhead">
            <h3 class="heading"><span class="ico ico-{{shareMessage.type}}">{{shareMessage.title}}</span></h3>
        </header>
        <!-- /.mhead -->
        <div class="mcon wider">{{shareMessage.msgText}}</div>
        <!-- /.mcon -->
        <footer class="actn ls">
            <button class="btn btn-primary" data-ng-click="isShareError = false;">Cancel</button>
            <button class="btn btn-success btn-login" data-ng-click="isShareError = false;">Contact Support</button>
            <div class="clear"></div>
        </footer>
        <!-- /.actn -->
    </div>
    <!-- /.modal -->
</div>
<!-- /.errModal -->

<div class="modalWrap successModal" data-ng-show="isShareSuccess">
    <div class="modal modal-{{shareMessage.type}}">
        <header class="mhead">
            <h3 class="heading alt"><span class="ico ico-{{shareMessage.type}}">{{shareMessage.title}}</span></h3>
        </header>
        <!-- /.mhead -->
        <div class="mcon ah">{{shareMessage.msgText}}</div>
        <!-- /.mcon -->
        <footer class="actn">
            <button class="btn fluid btn-submit" data-ng-click="isShareSuccess = false;">Done</button>
            <div class="clear"></div>
        </footer>
        <!-- /.actn -->
    </div>
    <!-- /.modal -->
</div>
<!-- /.successModal -->

