<!-- content -->
<div class="containerWithAside">
	<div class="forum-list">
		<div class="section-subject">
			<h3 class="thread-summary">Subject :</h3>
			<input type="text" data-ng-model="vm.subject" readonly>
		</div>

		<div class="section-post">
			<h3 class="thread-summary">Your Post :</h3>
			<textarea id="ckeditor" data-ng-model="vm.content" data-ckeditor></textarea>
			<div class="post-command clearfix">
				<a href="#/Forum/Thread/Details" class="btn-green">Submit My Post</a>
				<a href="#/Forum/Thread/Details" class="btn-gray">Cancel</a>
			</div>
		</div>

		<div class="thread-list thread-list-bottom">
			<h3 class="thread-summary">Original Post</h3>
			<div class="thread-section" data-ng-repeat="item in vm.threadDetailsList">
				<header class="thread-header clearfix">
					<div class="thread-header-left float-left"><span data-ng-bind="item.time"></span><span class="sep">|</span><span data-ng-bind="item.title"></span></div>
					<div class="thread-header-right float-right">
						<div class="float-left"><span data-ng-if="!!item.response"><span>response to post by </span><b data-ng-bind="item.response"></b><span class="sep">|</span></span>#<span data-ng-bind="item.id"></span></div>
						<a href="javascript:" class="icon-report float-left" tooltip-placement="top" tooltip-append-to-body="true" tooltip-class="tooltips" uib-tooltip="Report This Post!"></a>
					</div>
				</header>
				<div class="thread-body">
					<div class="inner">
						<div class="user-column">
							<div class="avatar-wrapper"><img src="" data-ng-src="{{item.user.avatar}}" alt=""></div>
							<p><a href="javascript:" class="link-user" popover-placement="bottom" uib-popover-template="'userDetailTemplate.html'" popover-trigger="mouseenter" popover-append-to-body="true"><b data-ng-bind="item.user.name"></b></a></p>
							<p><a href="javascript:" class="link-post">{{item.user.posts}} posts</a></p>
						</div><!-- end .user-column -->
						<div class="thread-detail">
							<div class="thread-detail-content" data-ng-bind="item.message"></div>
						</div><!-- end .thread-detail -->
					</div><!-- end .inner -->
				</div><!-- end .thread-body -->
			</div><!-- end .thread-section -->
		</div><!-- end.thread-list -->
	</div>
	<!-- end .forum-list -->
	<div data-ng-include="'partials/module/howItWorksAside.html'"></div>

	<script type="text/ng-template" id="userDetailTemplate.html">
		<div class="user-popup">
			<div class="user-main-info clearfix">
				<div class="avatar-wrapper"><img src="" data-ng-src="{{item.user.avatar}}" alt=""></div>
				<!-- end .avatar-wrapper -->
				<div class="user-info">
					<p><a href="javascript:" class="link-user"><b data-ng-bind="item.user.name"></b></a></p>
					<p><a href="javascript:" class="link-post">{{item.user.posts}} posts</a></p>
					<p>{{item.user.type}}</p>
					<a href="javascript:" class="btn-green">Send Gift</a>
				</div><!-- end .user-info -->
			</div>
			<div class="total-amount clearfix">
				<div class="total-column">
					<p>total amount<br>Sold</p>
					<p class="number">${{item.user.sold}}</p>
				</div>
				<div class="total-column">
					<p>Total amount<br>redeemed</p>
					<p class="number">${{item.user.redeemed}}</p>
				</div>
			</div>
		</div>
	</script>
</div>
