<div class="paymentWrap">
    <div class="giftCards">
        <div class="container-fluid">

            <div class="rw">
                <div class="lbl"><strong>Business Name Gift Cards</strong></div>
                <div class="val"><strong>${{payment.businessNameGiftCards}}</strong></div>
                <div class="clear"></div>
            </div>
            <!-- /.rw -->
            <div class="total">Total Value ${{payment.totalValue}}</div>
            <!-- /.total -->
        </div>
    </div>
    <!-- /.giftCards -->
    <div class="paymentOpts">
        <a class="opt optPaypal">Pay<span class="alt">Pal</span></a>
        <a class="opt optVenmo">venmo</a>
    </div>
    <!-- /.paymentOpts -->

    <section class="payWithCard">
        <h6>Pay with a card</h6>

        <form class="frmPayment">
            <div class="rw">
                <div class="lbl">Card Number</div>
                <div class="val">
                    <input type="text" class="textCtrl borderless" data-ng-model="payment.cardNumber" />
                </div>
            </div>
            <div class="rw">
                <div class="lbl">MM / YY</div>
                <div class="val">
                    <input type="text" class="textCtrl borderless" data-ng-model="payment.mmyy" />
                </div>
            </div>
            <div class="rw">
                <div class="lbl">CVV</div>
                <div class="val">
                    <input type="text" class="textCtrl borderless" data-ng-model="payment.cvv" />
                </div>
            </div>
            <div class="rw">
                <div class="lbl">Zip</div>
                <div class="val">
                    <input type="text" class="textCtrl borderless" data-ng-model="payment.zip" />
                </div>
            </div>
        </form>
    </section>
    <!-- /.payWithCard -->
    <div class="actn">
        <button class="btn btn-success" data-ng-click="processPayment();">Pay Now</button>
    </div>
    <!-- /.actn -->
</div>
<!-- /.paymentWrap -->
<div class="modalWrap errModal" data-ng-show="isPaymentError">
    <div class="modal modal-{{currentMessage.type}}">
        <header class="mhead">
            <h3 class="heading"><span class="ico ico-{{currentMessage.type}}">{{currentMessage.title}}</span></h3>
        </header>
        <!-- /.mhead -->
        <div class="mcon">{{currentMessage.msgText}}</div>
        <!-- /.mcon -->
        <footer class="actn ls">
            <button class="btn btn-primary" data-ng-click="isPaymentError = false;">Cancel</button>
            <button class="btn btn-success btn-login" data-ng-click="isPaymentError = false;">Contact Support</button>
            <div class="clear"></div>
        </footer>
        <!-- /.actn -->
    </div>
    <!-- /.modal -->
</div>
<!-- /.errModal -->

<div class="modalWrap successModal" data-ng-show="isSuccessModal">
    <div class="modal modal-{{currentMessage.type}}">
        <header class="mhead">
            <h3 class="heading"><span class="ico ico-{{currentMessage.type}}">{{currentMessage.title}}</span></h3>
        </header>
        <!-- /.mhead -->
        <div class="shareOn">
            <div class="inner">
                <span class="lbl">Share on :</span>
                <ul>
                    <li>
                        <a class="shareOpt fb" data-ng-click="shareOn(true);"></a>
                    </li>
                    <li>
                        <a class="shareOpt tw" data-ng-click="shareOn();"></a>
                    </li>
                    <li>
                        <a class="shareOpt gp" data-ng-click="shareOn();"></a>
                    </li>
                    <li>
                        <a class="shareOpt in" data-ng-click="shareOn();"></a>
                    </li>
                </ul>
            </div>
            <!-- /.inner -->
        </div>
        <footer class="actn">
            <button class="btn btn-submit" data-ng-click="isSuccessModal = false; goto('/giftCardsOffer');">Done</button>
            <div class="clear"></div>
        </footer>
        <!-- /.actn -->
    </div>
    <!-- /.modal -->
</div>
<!-- /.successModal -->

<div class="modalWrap errModal zp" data-ng-show="isShareError">
    <div class="modal modal-{{shareMessage.type}}">
        <header class="mhead">
            <h3 class="heading"><span class="ico ico-{{shareMessage.type}}">{{shareMessage.title}}</span></h3>
        </header>
        <!-- /.mhead -->
        <div class="mcon wider">{{shareMessage.msgText}}</div>
        <!-- /.mcon -->
        <footer class="actn ls">
            <button class="btn btn-primary" data-ng-click="isShareError = false;">Cancel</button>
            <button class="btn btn-success btn-login" data-ng-click="isShareError = false;">Contact Support</button>
            <div class="clear"></div>
        </footer>
        <!-- /.actn -->
    </div>
    <!-- /.modal -->
</div>
<!-- /.errModal -->

<div class="modalWrap successModal" data-ng-show="isShareSuccess">
    <div class="modal modal-{{shareMessage.type}}">
        <header class="mhead">
            <h3 class="heading alt"><span class="ico ico-{{shareMessage.type}}">{{shareMessage.title}}</span></h3>
        </header>
        <!-- /.mhead -->
        <div class="mcon ah">{{shareMessage.msgText}}</div>
        <!-- /.mcon -->
        <footer class="actn">
            <button class="btn fluid btn-submit" data-ng-click="isShareSuccess = false;">Done</button>
            <div class="clear"></div>
        </footer>
        <!-- /.actn -->
    </div>
    <!-- /.modal -->
</div>
<!-- /.successModal -->
