<div id="login" class="reset-password reset-password-step2">

    <div class="wrapper">
        <header>
            <div class="logo vertical-align-subs">
                <img src="i/logo-main.png" alt="LOGO"/>

                <div class="logo-back-rect"></div>
            </div>
        </header>
        <!-- End header -->

        <div class="main-container">
            <h2>RESET YOUR PASSWORD</h2>

            <form name="resetPasswordForm" data-ng-submit="validate();">
                <div class="info">
                    Please type your new password <br/>on textbox below :
                </div>
                <fieldset>
                    <!-- new password -->
                    <div class="form-group vertical-align-subs">
                        <div class="icon sprite sprite-lock"></div>
                        <input type="password" name="password"
                               data-ng-focus="focusInput();" data-ng-blur="looseFocus($event)"
                               placeholder="New password" autocomplete="off" data-ng-model="password"
                               required/>
                    </div>

                    <!-- confirm new password -->
                    <div class="form-group confirm-password-group vertical-align-subs">
                        <div class="icon sprite sprite-lock"></div>
                        <input type="password" name="confirmPassword"
                               data-ng-focus="focusInput();" data-ng-blur="looseFocus($event)"
                               placeholder="Confirm password" autocomplete="off"
                               data-ng-model="confirmPassword" required/>
                        <!-- if confirm password match password, show tick around green circle -->
                        <div data-ng-show="checkConfirmPassword()" class="circle vertical-align-subs">
                            <div class="icon sprite sprite-white-tick"></div>
                        </div>
                    </div>
                </fieldset>
                <!-- validate error message -->
                <div class="error-info" data-ng-show="showError">
                    <span>{{validateErrorMsg}}</span>
                </div>
                <!-- reset password button  -->
                <div class="btn-group">
                    <input type="submit" class="hide">
                    <a href="javascript:;" class="btn btn-reset-password" data-ng-click="validate();">Reset My
                        Password</a>
                </div>
            </form>
        </div>
        <!-- End .main-container -->
    </div>
</div>
