<div id="login" class="reset-password reset-password-step1" >

    <div class="wrapper"  data-ng-class="{blur:modal}">
        <header>
            <div class="logo vertical-align-subs">
                <img src="i/logo-main.png" alt="LOGO"/>

                <div class="logo-back-rect"></div>
            </div>
        </header>
        <!-- End header -->

        <div class="main-container">
            <h2>RESET YOUR PASSWORD</h2>

            <form name="resetPasswordForm" data-ng-submit="submitValidate();">
                <div class="info">
                    We can help you reset your password
                    using your email linked to your account :
                </div>
                <fieldset>
                    <!-- email address receive reset mail -->
                    <div class="form-group vertical-align-subs">
                        <div class="icon">@</div>
                        <input type="text" name="mail" placeholder="Email"
                               data-ng-model="mail"
                               data-ng-pattern="/^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/"
                               data-ng-focus="focusInput()"
                               data-ng-blur="validate()"
                               autocomplete="off" required/>
                    </div>
                </fieldset>

                <!-- validate error message -->
                <div class="error-info" data-ng-show="showError">
                    <span>{{validateErrorMsg}}</span>
                </div>
                <!-- reset password button  -->
                <div class="btn-group">
                    <input type="submit" class="hide">
                    <a href="" class="btn btn-reset-password" data-ng-click="submitValidate();">Submit</a>
                    <a href="#/login" class="btn btn-cancel">Cancel</a>
                </div>
            </form>
        </div>
        <!-- End .main-container -->
    </div>

    <!-- fix the white edge problem using CSS3 filter when the blur pixel is more than 2 pixel -->
    <div class="modal-back-ground">
        <header></header>
        <div class="main-container"></div>
    </div>

    <!-- Modal -->
    <div class="modal fade alert" data-ng-show="modal" data-ng-class="{in:modal}">
        <!-- back overlap for modal , when click the overlap, it will close the dialog -->
        <div class="modal-backdrop fade" data-ng-show="modal" data-ng-class="{in:modal}"
             data-ng-click="closeModal()"></div>
        <!-- modal dialog -->
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- ? icon at the top -->
                <div class="modal-icon">
                    <div>
                        <div class="icon sprite sprite-green-tick"></div>
                    </div>
                </div>
                <!-- modal body -->
                <div class="modal-body">
                    <p>Password reset link has been sent to your mail.<br/>
                        Kindly follow URL link to reset password.</p>
                </div>
                <!-- modal button group -->
                <div class="modal-footer">
                    <a href="#/" class="btn">OK</a>
                </div>
            </div>
        </div>
    </div>
</div>
