<div>
	<div class="left">
		<div class="discount">
		  <label class="number">{{business.sale*100}}%</label><span class="off">off</span>
		</div>
		<div class="date">{{business.expiration}}</div>
	</div>
	<!-- <div class="percent">${{business.available}}<small>remain</small></div> -->
	<div class="left radial-progress" data-progress="{{business.progress}}">
		<div class="circle">
			<div class="shadow bg-view"></div>
			<div class="mask full">
				<div class="fill" ></div>
			</div>
			<div class="mask half">
				<div class="fill" ></div>
				<div class="fill fix"></div>
			</div>
		</div>
		<div class="inset bg-chart">
			<div class="percentage">
				<p class="font-view"><span>$</span><span class="progress progess1">{{business.progress}}</span></p>
				<p class="font-view top-re">remain</p>
			</div>
		</div>
	</div>
</div>