<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>

  <connectionStrings>
    <add name="DefaultConnectionString" connectionString="Data Source=localhost;Initial Catalog=projectCoeus;Integrated Security=False;User ID=sa;Password=topcoder;" providerName="System.Data.SqlClient" />
    <!--<add name="DefaultConnectionString" connectionString="Server=tcp:jg6zhtkazq.database.windows.net,1433;Database=Coeus;User ID=igoroshko@jg6zhtkazq;Password=Angela!2;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>

  <log4net>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="weblog.txt" />
      <appendToFile value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>
    <logger name="default">
      <level value="DEBUG" />
      <appender-ref ref="FileAppender" />
    </logger>
  </log4net>

  <unity>
    <typeAliases>
      <typeAlias alias="IAssessmentService" type="JohnHancock.ProjectCoeus.Services.IAssessmentService, JohnHancock.ProjectCoeus" />
      <typeAlias alias="AssessmentService" type="JohnHancock.ProjectCoeus.Services.Impl.AssessmentService, JohnHancock.ProjectCoeus" />
      <typeAlias alias="IAuditService" type="JohnHancock.ProjectCoeus.Services.IAuditService, JohnHancock.ProjectCoeus" />
      <typeAlias alias="AuditService" type="JohnHancock.ProjectCoeus.Services.Impl.AuditService, JohnHancock.ProjectCoeus" />
      <typeAlias alias="ILookupService" type="JohnHancock.ProjectCoeus.Services.ILookupService, JohnHancock.ProjectCoeus" />
      <typeAlias alias="LookupService" type="JohnHancock.ProjectCoeus.Services.Impl.LookupService, JohnHancock.ProjectCoeus" />
      <typeAlias alias="ISecurityService" type="JohnHancock.ProjectCoeus.Services.ISecurityService, JohnHancock.ProjectCoeus" />
      <typeAlias alias="SecurityService" type="JohnHancock.ProjectCoeus.Services.Impl.SecurityService, JohnHancock.ProjectCoeus" />
      <typeAlias alias="IUserService" type="JohnHancock.ProjectCoeus.Services.IUserService, JohnHancock.ProjectCoeus" />
      <typeAlias alias="UserService" type="JohnHancock.ProjectCoeus.Services.Impl.UserService, JohnHancock.ProjectCoeus" />
      <typeAlias alias="IRiskScoreCalculator" type="JohnHancock.ProjectCoeus.Services.Impl.IRiskScoreCalculator, JohnHancock.ProjectCoeus" />
      <typeAlias alias="RiskScoreCalculator" type="JohnHancock.ProjectCoeus.Calculators.Impl.RiskScoreCalculator, JohnHancock.ProjectCoeus" />
      <typeAlias alias="AuthorizationFilter" type="JohnHancock.ProjectCoeus.API.Support.AuthorizationFilter, JohnHancock.ProjectCoeus" />
      <typeAlias alias="ExceptionFilter" type="JohnHancock.ProjectCoeus.API.Support.ExceptionFilter, JohnHancock.ProjectCoeus" />
      <typeAlias alias="LoggingActionFilter" type="JohnHancock.ProjectCoeus.API.Support.LoggingActionFilter, JohnHancock.ProjectCoeus" />
      <typeAlias alias="AssessmentController" type="JohnHancock.ProjectCoeus.API.Controllers.AssessmentController, JohnHancock.ProjectCoeus" />
      <typeAlias alias="LookupController" type="JohnHancock.ProjectCoeus.API.Controllers.LookupController, JohnHancock.ProjectCoeus" />
      <typeAlias alias="SecurityController" type="JohnHancock.ProjectCoeus.API.Controllers.SecurityController, JohnHancock.ProjectCoeus" />
      <!-- other types -->
      <typeAlias alias="IDictionaryString" type="System.Collections.Generic.IDictionary`2[System.String,System.String]" />
      <typeAlias alias="DictionaryString" type="System.Collections.Generic.Dictionary`2[System.String,System.String]" />
    </typeAliases>
    <containers>
      <container>
        <!-- ADPropertyNameMapping for UserService -->
        <register type="IDictionaryString" mapTo="DictionaryString" name="ADPropertyNameMapping">
          <constructor />
          <method name="Add">
            <param name="key" value="FirstName" />
            <param name="value" value="givenName" />
          </method>
          <method name="Add">
            <param name="key" value="LastName" />
            <param name="value" value="sn" />
          </method>
          <method name="Add">
            <param name="key" value="BusinessUnits" />
            <param name="value" value="description" />
          </method>
        </register>

        <register type="IDictionaryString" mapTo="DictionaryString" name="ADGroupNameMapping">
          <constructor />
          <method name="Add">
            <param name="key" value="Owner" />
            <param name="value" value="CoeusOwners" />
          </method>
          <method name="Add">
            <param name="key" value="BUFunctionalApprover" />
            <param name="value" value="CoeusBUFunctionalApprovers" />
          </method>
          <method name="Add">
            <param name="key" value="BURiskManagementApprover" />
            <param name="value" value="CoeusBURiskManagementApprovers" />
          </method>
          <method name="Add">
            <param name="key" value="DivisionalRiskManagementApprover" />
            <param name="value" value="CoeusDivisionalRiskManagementApprovers" />
          </method>
          <method name="Add">
            <param name="key" value="Admin" />
            <param name="value" value="CoeusAdmins" />
          </method>
        </register>

        <!-- Expressions for RiskScoreCalculator, note that expressions are trivial for testing purposes -->
        <register type="IDictionaryString" mapTo="DictionaryString" name="Expressions">
          <constructor />
          <method name="Add">
            <param name="key" value="ResidualOverallRiskScore" />
            <param name="value" value="assessment.SubmitterUsername.Length * 2.5" />
          </method>
          <method name="Add">
            <param name="key" value="ResidualCategoryRiskScore" />
            <param name="value" value="assessment.SubmitterUsername.Length + 2.4" />
          </method>
          <method name="Add">
            <param name="key" value="LikelihoodOfOccurrenceOverallRiskScore" />
            <param name="value" value="assessment.SubmitterUsername.Length + 7.3" />
          </method>
          <method name="Add">
            <param name="key" value="RiskExposureOverallRiskScore" />
            <param name="value" value="assessment.SubmitterUsername.Length + 2.34" />
          </method>
          <method name="Add">
            <param name="key" value="KeyControlsMaturityOverallRiskScore" />
            <param name="value" value="assessment.SubmitterUsername.Length / 0.3" />
          </method>
        </register>

        <register type="IAssessmentService" mapTo="AssessmentService">
          <property name="LookupService" />
          <property name="RiskScoreCalculator" />
          <property name="UserService" />
          <property name="Logger" />
          <method name="CheckConfiguration" />
          <lifetime type="singleton" />
        </register>
        <register type="IAuditService" mapTo="AuditService">
          <property name="Logger" />
          <method name="CheckConfiguration" />
          <lifetime type="singleton" />
        </register>
        <register type="ILookupService" mapTo="LookupService">
          <property name="Logger" />
          <method name="CheckConfiguration" />
          <lifetime type="singleton" />
        </register>
        <register type="ISecurityService" mapTo="SecurityService">
          <property name="ADUsersDomain" value="192.168.137.66" />
          <property name="ADAdminUsername" value="Administrator" />
          <property name="ADAdminPassword" value="Retail@123" />
          <property name="TokenExpiration" value="60" />
          <property name="UserService" />
          <property name="Logger" />
          <method name="CheckConfiguration" />
          <lifetime type="singleton" />
        </register>
        <register type="IUserService" mapTo="UserService">
          <property name="ADUsersDomain" value="LDAP://192.168.137.66:389/CN=Users,DC=dev,DC=home,DC=local" />
          <property name="ADAdminUsername" value="Administrator" />
          <property name="ADAdminPassword" value="Retail@123" />
          <property name="ADPropertyNameMapping" dependencyName="ADPropertyNameMapping" />
          <property name="ADGroupNameMapping" dependencyName="ADGroupNameMapping" />
          <property name="LookupService" />
          <property name="Logger" />
          <method name="CheckConfiguration" />
          <lifetime type="singleton" />
        </register>
        <register type="IRiskScoreCalculator" mapTo="RiskScoreCalculator">
          <property name="Logger" />
          <property name="Expressions" dependencyName="Expressions" />
          <method name="CheckConfiguration" />
          <lifetime type="singleton" />
        </register>
        <register type="AuthorizationFilter">
          <property name="Logger" />
          <property name="SecurityService" />
          <method name="CheckConfiguration" />
          <lifetime type="singleton" />
        </register>
        <register type="ExceptionFilter">
          <property name="Logger" />
          <method name="CheckConfiguration" />
          <lifetime type="singleton" />
        </register>
        <register type="LoggingActionFilter">
          <property name="Logger" />
          <method name="CheckConfiguration" />
          <lifetime type="singleton" />
        </register>
        <register type="AssessmentController">
          <property name="AssessmentService" />
          <property name="UserService" />
          <property name="AuditService" />
          <property name="LookupService" />
          <method name="CheckConfiguration" />
        </register>
        <register type="LookupController">
          <property name="LookupService" />
          <method name="CheckConfiguration" />
        </register>
        <register type="SecurityController">
          <property name="SecurityService" />
          <method name="CheckConfiguration" />
        </register>
      </container>
    </containers>
  </unity>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="WebDAVModule" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>